/**
 * Styleguide-specific buttons
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
.buttons {

	li {
		margin: bsu(1/2) 0;

		&.dark {
			margin: 0 bsu(-1/2) bsu(1/2);
			padding: bsu(1/2);
			background: $black;
		}
	}

	@include breakpoint( small ) {
		display: flex;
		flex-flow: row wrap;

		li {
			flex: 0 1 50%;
		}
	}
}
