/**
 * Styleguide-specific colors
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
$layout-spacing : 10px;
$color-radius   : 10px;

.colors {
	display: flex;
	flex-flow: row-reverse wrap;
	align-items: center;
	position: relative;
	margin: 0 bsu(-1/2);
	max-width: 650px;
	color: $white;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		right: -50%;
		bottom: 0;
		width: 100%;
		border-radius: $color-radius;
		background: black;
	}

	dt {
		flex: 0 1 40%;
		margin: 0;
		line-height: $line-height-xsmall;

		&.layout {
			display: none;
		}
	}

	dd {
		flex: 0 1 50%;
		padding: bsu(1/2);

		&.layout {
			max-width: 214px;

			&:nth-of-type(2) {
				order: -1;
			}

			li {
				position: relative;
				padding-top: $layout-spacing * 2;
				padding-bottom: $layout-spacing;
				margin-top: -$layout-spacing;
				border-radius: 0 0 $color-radius $color-radius;

				@for $i from 1 to 8 {
					&:nth-child( #{$i} ) {
						z-index: 8 - $i;
					}
				}

				&:first-child {
					border-radius: $color-radius;
					margin-top: 0;
					padding-top: $layout-spacing;
				}

			} // li
		} // &.layout

		&.interaction {
			max-width: 155px;

			li {
				padding-top: $layout-spacing / 2;
				padding-bottom: $layout-spacing / 2;
				text-align: center;

				&:first-child {
					border-radius: $color-radius $color-radius 0 0;
				}
				&:last-child {
					border-radius: 0 0 $color-radius $color-radius;
				}
			}
		}

	} // dd


	li {
		padding-left: bsu(1/2);
		padding-right: bsu(1/2);
		font-weight: 700;
		font-size: rem-calc(14);

		&:before {
			content: '#';
		}
	}

	.primary {
		background-color: $primary;
	}
	.primary-light {
		background-color: $primary-light;
	}
	.primary-lighter {
		background-color: $primary-light;
	}
	.primary-dark {
		background-color: $red;
	}
	.primary-darker {
		background-color: $purple;
	}

	.secondary {
		background-color: $secondary;
	}

	.black {
		background-color: $black;
	}

	.gray {
		background-color: $gray;
	}

	.white {
		background-color: $white;
	}

	.gray, .white {
		color: $black;
	}

	.gradient {
		padding-left: 0;
		padding-right: 0;

		span + span:before {
			content: " - #";
			color: $primary;
		}
	}


	.secondary-gradient {
		background: $gradient;
	}


	@include breakpoint( medium ) {
		margin: bsu(1) 0;
		padding: bsu(3/4) 0 bsu(1.66);

		&:before {
			right: 0;
			width: 60%;
		}

		dt {
			flex-basis: calc( 60% - (155px / 2) );
			padding: 0 0 0 45px;
			width: auto;
			width: 50%;
			text-align: left;
			font-size: rem-calc(18);
		}

		dd {
			padding: 0;

			&.layout {
				margin-bottom: bsu(2);

				li {
					padding-top: $layout-spacing * 3;
					padding-bottom: $layout-spacing * 2;

					&:first-child {
						padding-top: $layout-spacing * 2;
					}
				}

				&:nth-of-type(2) {
					margin-left: 95px;
					margin-right: auto;
				}
			}

			&.interaction {
				margin-left: 25%;
			}

		} // dd

		li {
			padding-left: bsu(2/3);
			padding-right: bsu(2/3);
		}

	} // bp: medium
}
