/**
 * Styleguide-specific icons
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
.icons {
	display: flex;
	flex-flow: row wrap;
	line-height: 1;
	margin: bsu(1/2) bsu(-1/2) 0;

	li {
		flex: 0 1 50%;
		padding: bsu(1/3) bsu(1/2);
	}

	.svg-inline--fa {
		margin-right: bsu(1/2);
		color: $primary;
	}

	@include breakpoint( medium ) {

		li {
			padding-bottom: bsu(1/2);
			flex-basis: 33.33%;
		}
	}
}
