/**
 * Styleguide-specific typography
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */

.fonts {
	color: $gray;

	> * {
		display: inline-block;
		margin-right: bsu(1/2);

		&:first-child {
			color: $black;
		}
		&:nth-child(2) {
			font-family: $font-serif;
		}
	}
}

p {
	margin-top: 0;
}

ol {
	margin-top: bsu(1);
}

@include breakpoint( 1800px ) {

	ol {
		margin-top: 0;
	}

	.lists {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		> * {
			flex: 0 1 45%;
		}
	}
}