/**
 * Block: Stats
 *
 * @since   1.2.0
 * @package oep
 */

.stats {
	width: 100%;
	position: relative;
	background: $gray-lightest;

	.wrap{
		max-width: 1190px;

		@include breakpoint (large) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.heading {
		position: relative;
		z-index: 3;
		margin-bottom: bsu(1);

		@include breakpoint (large){
			flex: 0 0 40%;
		}

		h2 {
			font: rem-calc(33) 'Modelica Bold';
			line-height: 1.21;
			margin: 0;
			margin-bottom: bsu(1/2);
			color: $black;

			@include breakpoint (large){
				font: 500 rem-calc(60) 'Modelica Bold';
				line-height: 1.16;
				margin-bottom: bsu(1);
			}
		}

		h3 {
			font: 700 rem-calc(14) $font-sans-serif;
			line-height: 1.21;
			letter-spacing: 2.92px;
			text-transform: uppercase;
			margin-bottom: bsu(1/3);
			color: $black;

			@include breakpoint (large){
				font: 700 rem-calc(18) $font-sans-serif;
				line-height: 1.22;
				letter-spacing: 3.75px;
				display: inline;
				max-width: 90%;
			}
		}

		p {
			color: $gray;
			margin-left: 0;
			margin-top: bsu(1/3);
			font-family: $font-sans-serif;
			font-size: rem-calc(14);
			line-height: 1.42;

			@include breakpoint (large) {
				font-size: rem-calc(16);
				line-height:1.81;
				max-width: 80%;
			}
		}
	}

	.stats-container {
		position: relative;
		z-index: 3;
		flex: 0 0 48%;
		margin: 0;
	}

	.stat {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-bottom: bsu(1/2);
		position: relative;
		background: $white;
		box-shadow: 0px 0px 20px rgba(0,0,0,.02);

		&:last-child{
			margin-bottom: 0;
		}

		@include breakpoint (large){
			margin-bottom: bsu(1);

			&:nth-child(2n){
				transform: translateX(-(6%));
			}

			&:nth-child(3n){
				transform: translateX(-(12%));
			}

			&:nth-child(4n){
				transform: translateX(-(18%));
			}
		}

		.icon{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: bsu(1.25) bsu(.75) bsu(1.25) bsu(.5);
			background: linear-gradient(rgba(217,58,35, .98), rgba(242,118,32, 1));
			clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
			min-width: 70px;

			@include breakpoint (large) {
				padding: bsu(1) bsu(1.5) bsu(1) bsu(1);
			}

			img{
				width: 80%;
				max-width: 33px;

				@include breakpoint (large) {
					width: 100%;
				}
			}
		}

		.stat-text{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: bsu(1/2);
		}

		h4{
			margin: 0;
			font: 500 rem-calc(16) $font-sans-serif;

			@include breakpoint (large) {
				font: 600 rem-calc(18) $font-sans-serif;
				line-height: 1;
			}
		}

		p{
			margin: 0;
			display: inline;
			color: $gray;
			float: left;

			@include breakpoint (large) {
				font: rem-calc(14) 'Modelica Medium';
				line-height: 1.28;
			}
		}

		.attribution{
			display: inline;
			margin-top: bsu(1/6);
		}
	}

	.wrap + img{
		display: none;
	}

	body.single [role=main] .entry-content &{
		p{
			margin-left: 0;
		}
	}
}

//override oep landing page styles
body.single-oep_cpts_lan-page main .stats div.wrap, .single-oep_cpts_lan-page #content main div.wrap {
	max-width: 1190px;

	@include breakpoint (large) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}


//override oep landing page styles
body.single-oep_cpts_lan-page main .stats {
	.heading{
		@include breakpoint (large){
			flex: 0 0 40%;
		}
	}

	ul.stats-container:not(.pills){
		margin: 0;

		@include breakpoint (large){
			flex: 0 0 48%;
		}
	}
}
