/**
 * Block: CTA Option
 *
 * @since   1.2.0
 * @package oep
 */

.cta-option {
	.cta  + .cta {
		margin-top: 20px;
	}

	.cta_description {
		max-width: 90%;
		margin: auto;
	}

	.-newsletter {
		.cta_thumbnail:before {
			display: none;
		}

		.cta_content {
			text-align: center;
			z-index: 1; // Make appear on top of link, if that was accidentally output
		}

		.cta_title {
			max-width: unset;
			margin: 0 auto;
			width: 70%;
			font-size: 24px;
			line-height: 1.25;
		}

		.newsletter {
			margin-top: 55px;
			padding-left: 2.8125rem;
			padding-right: 2.8125rem;
			background: $white;
		}

		.newsletter-header {
			margin-bottom: 10px;
			color: $black;
			text-align: left;

			body.single [role=main] .entry-content & {
				margin: 0 0 20px;
				text-align: center;
			}
		}

		form {
			margin-top: 0;

			input[type="email"] {
				border: 1px solid #b9b9b9;
			}

			input[type="submit"] {
				height: 54px; // match height of input wrapper
				background: $primary;

				&:hover {
					background: $black;
				}
			}

			[role=checkbox] li {
				display: block;
			}
		}

		.hs-fieldtype-checkbox {
			margin-top: 10px;
		}

		.hs-form-checkbox label span {
			color: $black;
		}
	}

	.-asset {
		text-align: center;

		.cta_content {
			align-self: center;
		}

		.cta_title {
			margin: auto;
		}

		.cta_description {
			text-align: center;
		}
	}

	@include breakpoint (large){
		display: flex;
		align-items: stretch;
		justify-content: space-between;

		.cta  {
			& + .cta {
				margin-top: 0;
			}
		}

		&.-single {
			.cta {
				width: 100%;
			}
		}

		&.-double {
			.cta {
				display: flex;
				align-items: center;
				justify-content: center;
				width: calc(50% - 10px);

			}
		}

		.-newsletter {
			.cta_title {
				width: auto;
				font-size: 30px;
				line-height: 1.333;
			}

			.newsletter-header {
				body.single [role=main] .entry-content & {
					text-align: left;
				}
			}
		}
	}

	@include breakpoint (xlarge){
		.cta_title {
			font-size: 50px;
			line-height: 1.2;
		}

		.-newsletter {
			padding-top: 0;

			form [role=checkbox] li {
				display: inline-block;
			}
		}
	}
}
