/**
 * Block: Social Cards
 *
 * @since   1.2.0
 * @package oep
 */

.social-cards{
	width: 100%;
	padding: 0 5%;
	position: relative;
	text-decoration: none;

	.triangle{
		position: absolute;
		top: bsu(1);
		left: bsu(1);
		transform: scaleX(-1);

		@include breakpoint(large){
			top: bsu(1);
			left: auto;
			right: bsu(1);
			transform: none;
		}

		img, svg{
			width: 50px;

			@include breakpoint(large){
				width: 70px;
			}
		}
	}

	.heading{
		max-width: 75%;
		margin: 0 auto;
		margin-bottom: bsu(1);

		@include breakpoint(medium){
			display: flex;
			align-items: center;
			max-width: 90%;
			margin: 0 0 bsu(1) 0;
		}

		h1{
			line-height: rem-calc(62);
			color: $black;
			text-align: center;
			margin: 0;
			margin-right: bsu(1/2);

			@include breakpoint (large){
				line-height: rem-calc(146);
				margin-right: bsu(1);
				display: inline;
				text-align: left;
			}
		}

		h2{
			font: 700 rem-calc(14) 'Modelica Bold';
			line-height: 1.21;
			letter-spacing: 2.92px;
			text-transform: uppercase;
			text-align: center;
			margin: 0;

			@include breakpoint (large){
				font: 700 rem-calc(18) 'Modelica Bold';
				line-height: 1.22;
				letter-spacing: 3.75px;
				display: inline;
				text-align: left;
			}
		}
	}

	.social-card-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.social-card{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		margin-bottom: bsu(.5);
		position: relative;
		font-style: normal;
		@include transition-ease-in-out();

		@include breakpoint (medium){
			flex: 0 0 48%;
			margin-bottom: bsu(1);
		}

		@include breakpoint (large){
			margin-bottom: bsu(1.5);
		}

		@include breakpoint (xlarge){
			flex: 0 0 23%;
		}

		&::before{
			content: '';
			background: rgba(32,32,34,.56);
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			@include transition-ease-in-out();
		}

		&:hover::before{
			background: rgba(32,32,34,.75);
		}

		.card-text{
			color: $white;
			padding: bsu(1);
			padding-top: bsu(4);
			z-index: 2;
			font-style: normal;
			width: 90%;

			@include breakpoint (medium){
				padding: bsu(1.25);
				padding-top: bsu(5.5);
			}


			h3{
				font-size: rem-calc(18);
				line-height: 1.5;
				font-weight: 600;
				margin-bottom: bsu(.5);
				@include font-smoothing();

				@include breakpoint (medium){
					font-size: rem-calc(26);
					line-height: 1.23;
					font-weight: 600;
					margin-bottom: bsu(.75);
				}
			}

			.social-handle{
				display: flex;
				align-items: flex-start;
			}

			svg{
				font-size: rem-calc(18);
				margin-right: bsu(1/4);

				@include breakpoint (medium){
					font-size: rem-calc(22);
				}
			}

			p, .profile{
				font: 700 rem-calc(14) 'Modelica Bold';
				line-height: 1;
				margin: 0;
				display: inline;
				@include font-smoothing();
				color: $white;

				@include breakpoint (medium){
					font: 700 rem-calc(18) 'Modelica Bold';
					line-height: 1;
				}
			}
		}
	}
}
