/**
 * Block: Company Cards
 *
 * @since   1.2.0
 * @package oep
 */

.company-cards_container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1600px;
}

.company-card {
	flex: 0 1 calc(50% - 10px);
	height: 120px;
	margin: 5px;
	position: relative;
	background: $white;
	cursor: pointer;

	&:hover {
		.company-card_text {
			visibility: visible;
			opacity: 1;
		}
	}

	@include breakpoint( xlarge ) {
		flex: 0 1 calc(25% - 30px);
		margin: 15px;
		height: 175px;
	}

	// gradated corner
	.icon {
	    width: 120px;
	    height: 120px;
	    position: absolute;
	    right: -40px;
	    bottom: 0;
	    opacity: 0;
	    transform: rotate(45deg);
	    transform-origin: bottom left;
	    visibility: hidden;
	    transition-property: visibility, opacity;
	    @include transition-ease-in-out;
	    background: linear-gradient(44.1deg, #F8971D 0%, #D52F24 50%, #D52F24 100%);

	    svg {
	        font-size: 20px;
	        color: #FEFEFE; // need whiter than $white
	        position: absolute;
	        left: 10%;
	        top: 40%;
	        transform: rotate(-45deg);
	    }
	}
}

.company-card_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: $primary;
	box-shadow: 2px 10px 14px 0 rgba($black,0.13), 2px 27px 75px 0 rgba($black,0.07);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	@include transition-ease-in-out;
	transition-property: visibility, opacity;


	@include breakpoint( xlarge ) {
		padding: 40px;
	}
}

.company-card_title {
	font: 20px/1.4 $font-sans-serif;
	color: $white;

	.entry-content & {
		margin-top: 0;
	}
}

.company-card_logo {
	max-width: 100%;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.company-card_description {
	font: 14px/1.78 $font-sans-serif;
	color: $white;
}


//style featherlight modal
.company-modal {
	display: none;
}

.featherlight.-company-card {
	.featherlight-content{
		padding: 0;
		border-radius: 6px;
	}

	.featherlight-close-icon {
		width: auto;
		padding: 15px 20px;
		border-radius: 6px;
		background: $primary;
		right: bsu(1);
		top: bsu(1);
		color: $white;

		&:after {
			content: attr(aria-label);
			display: inline-block;
			margin-left: 5px;
		}

		&:hover{
			background: $primary-light;
		}
	}
}
