/**
 * Hero slider block base
 *
 * @see     themes/lwp for Live, Work, Play styling
 * @since   1.2.0
 * @package oep
 */
.hero-slider {
	color: $white;
	text-align: center;
	background: $gray-dark;

	&,
	.slide,
	figcaption {
		position: relative;
	}

	.wrap {
		max-width: rem-calc(1100);
	}


	.slide {
		@include flex-row( true );
		justify-content: center;
		margin: 0;
		width: 100%;
		@include fp( min-height, 476, 1020, 420 );

		// gradient overlays
		&::before, &::after {
			@include overlay(1);
		}
		&::after {
			background: linear-gradient( to top, rgba( #202022, 0.7 ), trans( #444346 ) );
		}

		img {
			display: block;
		}
	}

	figcaption {
		z-index: 2; // layer over image gradient overlay
	}

	.scroll-down {
		position: absolute;
		left: 50%;
		bottom: rem-calc(95);
		width: rem-calc(425);
		transform: translateX(-50%);

		h4 { // needed for specificity aggroness
			text-align: center;
			padding-right: 0;
		}

		.scroller {
			display: none;
		}


		@include breakpoint( medium ) {
			bottom: rem-calc(140);
		}

		@include breakpoint( large ) {

			.scroller {
				display: block;
			}
		}
	}
} // .hero-slider

.hero-slider-navigation {
	display: none;
	flex-flow: column nowrap;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: rem-calc(28) rem-calc(28) rem-calc(110); // lines up with .angled-divider offset
	max-height: 990px; // keeps nav from overlapping .angled-divider at huge widths
	background: rgba( $gray-dark, 0.3 );
	font-weight: 500;
	color: rgba( $white, 0.5 );

	.count,
	.text-only {
		font-size: rem-calc(18);
	}

	.triangle-dots-upper-left {
		margin-bottom: bsu(1.333);
		width: rem-calc(67);

		svg {
			width: 100%;
		}
	}

	.progress-bar {
		position: relative;
		flex: 1 0 auto;
		width: 2px;
		background: rgba( $white, 0.2 );
	}

	.progress-fill {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		background: $white;
		transition: transform ease-in-out 350ms;
	}

	.count {
		margin-top: bsu(2/3);
	}

	.slide-current {
		font-weight: 700;
		color: $white;
	}

	@include breakpoint( medium ) {
		padding-bottom: rem-calc(140); // lines up with .angled-diver + gradient accent
	}

	@include breakpoint( large ) {
		display: flex;
		padding-bottom: rem-calc(230); // lines up with .angled-divider + gradient accent
	}

	@include breakpoint( menu-break ) {
		padding-top: rem-calc(120); // lines up with menu height
	}

} // .hero-slider-navigation
