.wp-block-oep-hero-cta {
    .wp-block-button {
        margin-top: rem-calc(30);
    }

    // Variant if there is a bg image
    .has-bg-image & {
        .wp-block-button__link {
            border: 1.5px solid $white;
            background-color: rgba($white,0.2);

            &:hover {
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
}