[data-type="oep/general-text-header"],
.wp-block-oep-general-text-header {
	text-align: center;

	// Preheading
	h4, h5, h6 {
		margin-top: 0;
		color: $black;
		font: bold 18px/1.2 "Modelica Regular";
		letter-spacing: 3.75px;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 2px 23px 0 rgba($black,0.56);

		& +	h1,
		& +	h2,
		& +	h3 {
			margin-top: 0;
		}
	}

	// Main heading
	h1, h2, h3 {
		margin-top: 0;
		font-size: 65px;
		line-height: 1.3;
		color: $black;
		@include fp( font-size, 36, 65 );

		strong {
			@include fp( font-size, 43, 102 );
		}
	}

	p {
		max-width: rem-calc(760);

		a {
			color: $black;
			font-style: normal;
			font-family: "Modelica Bold";
		}
	}

	.icon {
		& + span {
			display: none;
		}

		svg {
			color: $primary;
		}
	}
}
