/**
 * Welcome collage block base styling
 *
 * @since   1.2.0
 * @package oep
 */
.welcome-collage {
	text-align: center;

	&, > div {
		margin-left: auto;
		margin-right: auto;
	}

	// relative content wrapper
	> div {
		position: relative;
		max-width: rem-calc(575);
		padding-top: rem-calc(40); // @include fp( padding-top, 40, 140, 420, 1600 );
		padding-bottom: rem-calc(40); // @include fp( padding-bottom, 40, 140, 420, 1600 );
	}

	.wp-block-oep-general-text-header {
		position: relative; // layer over collage
	}

	.collage {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;

		[role=main] .entry-content &:not(.pills) { // GOTTA BEAT IT!!! #HELLYEAH
			margin: 0;
		}
	}

	.collage-image {

		&, &::before,
		.svg {
			position: absolute;
		}

		&::before {
			content: '';
			opacity: 0.5;
		}

		svg {
			width: 100%;
		}
	}

	// top left and right
	.collage-image-1,
	.collage-image-3 {
		width: rem-calc(285);
		height: rem-calc(615);

		&::before {
			top: rem-calc(40);
			right: rem-calc(25);
			bottom: rem-calc(40);
			left: rem-calc(25);
		}
	}

	// top left
	.collage-image-1 {
		top: rem-calc(-84); //rem-calc(-70);
		right: calc(100% + #{rem-calc(60)});

		&::before {
			box-shadow: 30px 30px 44px 0 rgba($black, 0.31), 42px 18px 125px 0 rgba($black, 0.04);
		}
	}

	// top right
	.collage-image-3 {
		top: rem-calc(-114); //rem-calc(-85);
		left: calc(100% + #{rem-calc(60)});

		&::before {
			box-shadow: -30px 30px 44px 0 rgba($black, 0.31), -30px 18px 125px 0 rgba($black, 0.04);
		}
	}

	// bottom left and bottom right
	.collage-image-2::before,
	.collage-image-4::before {
		top: rem-calc(50);
		right: rem-calc(25);
		bottom: rem-calc(40);
		left: rem-calc(25);
	}

	// bottom left
	.collage-image-2 {
		top: calc(100% - #{rem-calc(70)}); // calc(100% - #{rem-calc(30)});
		right: calc(100% - #{rem-calc(110)});
		width: rem-calc(263);
		height: rem-calc(396);

		&::before {
			box-shadow: -30px 30px 44px 0 rgba($black, 0.31), -68px -22px 125px 0 rgba($black, 0.04);
		}
	}

	// bottom right
	.collage-image-4 {
		top: calc(100% - #{rem-calc(95)}); // calc(100% - #{rem-calc(60)});
		left: calc(100% - #{rem-calc(110)});
		width: rem-calc(231);
		height: rem-calc(390);

		&::before {
			box-shadow: -30px -30px 44px 0 rgba($black, 0.31), -68px -68px 125px 0 rgba($black, 0.04);
		}
	}

	@include breakpoint( large ) {

		// we needed a strong override here
		body.single-oep_cpts_lan-page [role="main"] article > .entry-content > & {
			margin-bottom: rem-calc(290); // @include fp( margin-bottom, 100, 685, 1024, 1600 );
		}

		> div {
			padding-top: rem-calc(80);
			padding-bottom: rem-calc(80);
		}

		.collage {
			display: block;
		}

		// move angled background up underneath this
		& + .wp-block-oep-angled-background.angled-background-up .angled-background {
			top: rem-calc(-170);
		}

	} // bp: large

	@include breakpoint( xlarge ) {

		body.single-oep_cpts_lan-page [role="main"] article > .entry-content > & {
			margin-bottom: rem-calc(685);
		}

		> div {
			padding-top: rem-calc(140);
			padding-bottom: rem-calc(140);
		}

		.collage-image-1,
		.collage-image-3 {
			width: rem-calc(570);
			height: rem-calc(1230);
		}

		.collage-image-1 {
			top: rem-calc(-100);
		}

		.collage-image-3 {
			top: rem-calc(-150);
		}

		.collage-image-2 {
			top: calc(100% + #{rem-calc(60)});
			right: calc(100% - #{rem-calc(220)});
			width: rem-calc(438);
			height: rem-calc(660);
		}

		.collage-image-4 {
			top: calc(100% - #{rem-calc(55)});
			left: calc(100% - #{rem-calc(190)});
			width: rem-calc(385);
			height: rem-calc(650);
		}

		& + .wp-block-oep-angled-background.angled-background-up .angled-background {
			top: rem-calc(-420);
		}

	} // bp: xlarge

	@include breakpoint( full-hd ) {

		.collage-image-1 {
			top: rem-calc(-105);
			right: calc(100% + #{rem-calc(150)});
		}

		.collage-image-3 {
			top: rem-calc(-155);
			left: calc(100% + #{rem-calc(150)});
		}

		.collage-image-2 {
			right: calc(100% - #{rem-calc(180)});
		}

		.collage-image-4 {
			left: calc(100% - #{rem-calc(150)});
		}
	}
}
