.wp-block-oep-event-text, .recent-posts {
    .event-block, .oep_cpts_event {
        display: flex;
        height: rem-calc(420);

        &:after {
            @include overlay();
            background: rgba($black, 0.5);
            border-radius: $border-radius;
        }
        img {
            border-radius: $border-radius;
        }
        .wrap {
            position: static;
            z-index: 1;
            justify-content: flex-start;
            align-items: flex-end;
            padding-bottom: rem-calc(15);
            .event_details {
                color: $white;
                flex: 1;
                > a {
                    margin-left: 8%;
                    font-family: inherit;
                    font-style: normal;
                    color: inherit;
                }
            }
        }
    }
}