.wp-block-cta {
    width: 90%;
    max-width: 830px;
    border-radius: $border-radius;
    background: radial-gradient(circle, $primary-light 0%, $primary 50.69%, $red 100%);
    text-align: center;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 60px;
        height: 58px;
        background: url('../images/logo-white.svg') no-repeat transparent;
        background-size: auto 100%;
        position: absolute;
        right: 25px;
        top: 25px;
    }

    body.single [role=main] .entry-content > & {
        margin: bsu(2) auto bsu(1);
        padding: bsu(.5) 100px bsu(.5) bsu(1.5); // 100px is to make space for logo
    }

    .wp-block-cta_title {
        color: $white;
    }

    .wp-block-cta_content {
        margin-top: bsu(1);
        color: $white;

        *:first-child {
            margin-top: 0;
        }
    }

    .wp-block-cta_button-container {
        margin: bsu(1.25) 8%;

        br {
            display: none;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: bsu(.5) bsu(1);
            border-radius: $border-radius;
            font: bold 14px/1.5 $font-sans-serif;
            color: $black;
            background: $white;
            white-space: nowrap;

            & ~ .button {
                margin-top: 20px;
            }
        }
    }

    @include breakpoint( medium ) {
        .wp-block-cta_button-container {
            display: flex;
            justify-content: center;

            .button {
                & ~ .button {
                    margin-top: 0;
                    margin-left: 20px;
                }
            }
        }
    }

    @include breakpoint( large ) {
        body.single [role=main] .entry-content > & {
            width: 80%;
            padding: bsu(2) bsu(3);
        }

        .wp-block-cta_title {
            margin-top: 0;
        }
        
        .wp-block-cta_button-container {
            margin-bottom: 0;
        }
    }
}