.wp-block-oep-text-list {
    .wp-block-columns {
        align-items: center;
    }
    
    .wp-block-column {
        &:nth-child(1) {
            &:before {
                content: '';
            }
        }
    }
}
