/**
 * Block: Success Story
 *
 * @since   1.2.0
 * @package oep
 */

.success-story{
	width: 100%;
	position: relative;
	padding: 0 15%;

	@include breakpoint (large){
		padding: 0;
	}

	.wrap{
		max-width: 1295px;
	}

	.single-success{
		position: relative;
		z-index: 3;
		color: $white;

		h2{
			font-size: rem-calc(24);
			line-height: 1.2;
			font-weight: 500;

			@include breakpoint (large){
				font-size: rem-calc(45);
				line-height: 1.22;
				max-width: 50%;
			}
		}

		p{
			font-size: rem-calc(14);
			line-height: 1.35;
			color: $white;

			@include breakpoint (large){
				font-size: rem-calc(20);
				line-height: 1.4;
			}

			span{
				font-style: italic;
			}
		}

		.read-more{
			font: rem-calc(14) 'Modelica Bold';
			text-align: right;
			color: $white;
			margin-top: bsu(2);
			display: inline-block;
			@include transition-ease-in-out();

			@include breakpoint (large){
				font: rem-calc(16) 'Modelica Bold';
				float: right;
				margin-top: bsu(1);
			}

			i, svg{
				margin-left: bsu(1/4);
				color: $primary;
			}

			&:hover{
				color: $primary;
			}
		}
	}

	.play-button{
		display: flex;
		align-items: center;
		margin-top: bsu(1.5);

		.play-icon{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 60px;
			border: 4px solid rgba(244, 123, 32, .29);
			border-radius: 100%;
			@include transition-ease-in-out();

			@include breakpoint (large) {
				width: 95px;
				height: 95px;
			}

			svg{
				color: $white;
			}
		}

		p{
			@include font-smoothing();
			margin: 0;
			margin-left: bsu(1/2);
			color: $white;

			body.single [role=main] .entry-content & {
				margin-left: bsu(1/2);
			}

			@include breakpoint (large){
				margin-left: bsu(1);
			}
		}

		&:hover{

			.play-icon{
				border: 4px solid rgba(244, 123, 32, .75);

				svg{
					color: $primary-light;
				}
			}
		}
	}

	img{
		z-index: 1;
	}

	//featherlight styles
	.lightbox{
		display: none;
		width: 100%;
		max-width: 100%;
	}
}

.featherlight{
	.featherlight-inner{
		overflow: hidden;
		width: 100%;

		video{
			width: 100%;
			max-width: 100%;
		}
	}

	.featherlight-close-icon{
		background: $primary;
		border: none;
		border-radius: 0;
		color: $white;

		&:hover{
			background: $primary-light;
			border: none;
		}
	}
}
