header {
  &.banner.slider {
    display: block;
    height: rem-calc(460);
    max-height: rem-calc(460);
    min-height: auto;
    @include breakpoint(large) {
      height: rem-calc(850);
      max-height: rem-calc(850);
    }
    overflow: hidden;
    width: 100%;
    flex: 1 0 100%;
    article {
      position: relative;
      width: 100%;
      height: rem-calc(460);
      @include breakpoint(large) {
        height: rem-calc(850);
      }
       .wrap {
         position: relative;
         z-index: 2;
         padding-top: rem-calc(65);
         @include breakpoint(large){
           padding-top: rem-calc(170);
         }
         display: flex;
         flex-flow: nowrap column;
         text-align: center;
         justify-content: center;

         header.entry-header {
           display: block;
         }

         h1 {
           text-shadow: 0 2px 4px rgba(0,0,0,0.20);
           max-width: none;
           margin-left: 0;
           margin-right: 0;
         }

         a.more-link {
           display: flex;
           align-items: center;
           justify-content: center;
           margin-top: 30px;
           font: 14px/1.2 'Modelica Bold';
           color: white;
           text-align: center;
           text-decoration: none;

           > span {
             @include arrow-right-link();
           }

           > span {
             position: static;
             margin-left: 15px;
             border-color: white;

             svg {
               height: 35px;
               margin: 0 auto;
             }
           }

           &,
           > span,
           > span svg {
             color: $white;
           }

           &:hover {
             text-decoration: underline;

             > span {
               border-color: $primary;
             }

             &,
             > span svg {
               color: $primary;
             }
           }
         }
       }
      .bg-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        &:before {
          @include overlay(1);
          top: 0;
          content: "";
          background: linear-gradient(to top, rgba($black, 0.9) 0, rgba($black, 0.5) 50%, rgba($black, 0.5) 100%);
          // background: $black;
          // background: linear-gradient(to top,  rgba($black,.75) 0%,rgba($black,0.50) 50%,rgba($black ,0.50) 100%);
          // opacity: .5;
          max-height: rem-calc(850);
        }

        img {
          filter: none;
        }
      }
    }
    ul.nav-slider {
      display: none;
      width: 91%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: 0;

      @include breakpoint(large){
        bottom: rem-calc(40);
        &.flickity-enabled {
          display: block;
        }
      }

      @include breakpoint(xxlarge){
        bottom: rem-calc(80);
      }
      z-index: 1;

      li {
        width: calc(25% - 4px);
        margin: 0 rem-calc(2);
        @include no-left-if-first;
        @include no-right-if-last;
        border-top: solid rem-calc(4) white;
        @include flex-row();
        align-items: flex-start;

        &:before {
          @include overlay(1);
          height: rem-calc(4);
          top: rem-calc(-4);
          width: 0;
          background-color: $primary;
        }

        &.is-nav-selected {
          &:before {
            transition-delay: 1000ms;
            transition-duration: 5000ms;
            transition-property: width;
            width: 100%;
          }
        }

        a.post-link {
          @include overlay(3);
          width: 100%;
          height: 100%;
        }

        h1 {
          flex: 1;
          color: white;
          margin-top: rem-calc(15);
        }
        > div {
          flex: 3;
          height: 100%;
          display: flex;
          flex-flow: nowrap column;
          align-items: flex-start;

          p {
            margin-top: rem-calc(15);
            color: $white;
            text-align: left;
            font-size: rem-calc(16);
            line-height: 1.5;
          }

          span {
            display: block;
            color: $primary;
            text-transform: uppercase;
            text-align: left;
            margin-top: 5px;
            font-size: rem-calc(12);
            line-height: 1.25;
          }
        }
      }
    }
  }
}