/**
 * Angled background block
 *
 * Most of the actual stuff for this is going to be in the LWP child theme
 *
 * @since   1.2.0
 * @package oep
 */

.wp-block-oep-angled-background,
.angled-background-content {
	position: relative;
}

.wp-block-oep-angled-background {
	@include flex-row( true );
	padding: bsu(1) 0;

	@include breakpoint( medium ) {
		min-height: rem-calc(425);
		padding: bsu(2) 0;
	}

	@include breakpoint( large ) {
		min-height: rem-calc(500);
	}

	@include breakpoint( xlarge ) {
		min-height: rem-calc(600);
		padding: bsu(3) 0;
	}
}

.angled-background,
.angled-background-accent {
	position: absolute;
}

.angled-background {
	z-index: -1; // go behind banner angled divider
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $gray-dark;

	// removes jagged cropped rotated edges
	.angled-background-no-gradient & {
		background: none;
	}

	// specific "static" heights
	.static-top-750 & {
		bottom: auto;
		height: 750px;
	}

	&:after {
		@include overlay;

		.angled-background-gradient-default & {
			background: linear-gradient( to right, $primary, $purple );
		}

		.angled-background-has-image.angled-background-gradient-default & {
			opacity: 0.9;
		}

		.angled-background-gradient-dark-gray & {
			background: linear-gradient( to right, rgba( $gray-dark, 0.6 ), rgba( $black, 0.5 ) );
		}
	}
}

.angled-background-content {
	flex: 1 1 auto;
	z-index: 1;

	// don't forget to re-apply widths on child theme!
	// .wp-block-oep-general-text-header {
	// 	@include wrap;
	// }
}
