body.single-oep_cpts_lan-page, body.home {
    [role="main"] .entry-content .contact-form {
        max-width: 1170px;
    }

    .contact-form {
        h1 {
            font-size: rem-calc(30);
            line-height: rem-calc(40);
        }

        fieldset {
            max-width: none;

            .input {
                margin-right: 0;
            }

            textarea.hs-input {
                width: 100%;
            }
        }

        .form-columns-2 {
            .hs-form-field {
                float: none;
                width: 100%;
            }

            @include breakpoint(large) {
                margin: 0 -15px;
                
                .hs-form-field {
                    float: left;
                    width: 50%;
                    padding: 0 15px;
                }
            }
        }

        .hs-submit {
            text-align: center;

            input {
                width: auto;
            }
        }
    }
}