.wp-block-oep-column-sidebar {
  padding-top: rem-calc(30);
  padding-bottom: rem-calc(30);
  margin-bottom: rem-calc(30);
  border-bottom: solid rem-calc(1) $gray-lightest-border;
  .has-2-columns {
    .wp-block-column {
      margin: 0;
      @include breakpoint(large) {
        margin: 0 rem-calc(15);
      }
      @include no-left-if-first();
      @include no-right-if-last();
      &:first-child {
        flex-basis: 66%;
        .recent-posts.tiles.wide.with-footer a.more-link.desktop {
          display: none;
        }
      }
      &:last-child {
        flex-basis: 33%;
      }

      .recent-posts {
        flex-flow: column nowrap;
		//tablet layout fixes
		display: block;

		@include breakpoint (xlarge){
			display: flex;
		}

		body.home &{
			&:first-of-type{
				@include breakpoint (medium){
					display: flex;
					flex-flow: row wrap;
				}

				@include breakpoint (large){
					flex-flow: column nowrap;
					display: block;
				}
			}

			&.oep_cpts_event{
				display: block;
			}
		}

        article {
          margin-bottom: rem-calc(15);
        }
      }

      p.more-link {
        display: inline-block;
      }

      a.more-link, .more-link a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 30px;
        margin-bottom: 30px;
        font: 14px/1.2 'Modelica Bold';
        text-align: left;
        text-decoration: none;
        border-bottom: none;

		&.desktop{
	  	    display: none;

	  	    @include breakpoint(large) {
	  		    display: block;
            margin-left: 0;

            span {
              display: inline-block;
              vertical-align: middle;

              svg {
                height: 31px;
              }
            }
	  	    }
	    }

	    &.mobile{
	  	  display: flex;
		  padding-left: .625rem;

	  	  @include breakpoint(large) {
	  		display: none;
	  	  }
	    }

        > span {
          @include arrow-right-link();
        }

        > span {
          position: static;
          margin-left: 15px;
          border-color: $black;

          svg {
            height: 35px;
            margin: 0 auto;
          }
        }

        &,
        > span,
        > span svg {
          color: $black;
        }

        &:hover {
          text-decoration: underline;

          > span {
            border-color: $primary;
          }

          &,
          > span svg {
            color: $primary;
          }
        }
      }
    }
  }
}
