/**
 * Block: Neighborhoods map
 *
 * @since   1.2.0
 * @package oep
 */

.neighborhood-map {
	width: 100%;
	max-width: 100%;

	.wrap {
		width: 90%;
		max-width: 1530px;
		margin: 0 auto;
	}

	h2{
		font-size: rem-calc(36);
		line-height: 1.3;

		@include breakpoint (large) {
			font-size: rem-calc(65);

			b{
				font-size: rem-calc(102);
			}
		}
	}

	.map {
		width: 100%;

		img {
			width: 100%;
		}
	}

	figure {
		width: 100%;
		height: 250px;
		position: relative;
		margin-top: bsu(1);

		@include breakpoint (large) {
			height: 500px;
		}

		div {
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	//OEP theme overrides
	.archive [role="main"].entry-content &{
		width: 100%;
		max-width: 100%;

		.wrap {
			width: 90%;
		}
	}
}
