/**
 * Overrides for default WP block styles
 *
 * @since   1.0.0
 * @package oep
 */

.wp-block-columns {
	display: block;

	@include breakpoint(large) {
		display: flex;
	}
}

.wp-block-column,
.wp-block-oep-headline-text,
.wp-block-oep-general-text-header {
	@include wysiwyg;
}

.wp-block-column {
	@media (min-width: 600px) {
		&,
		&:not(:last-child),
		&:nth-child(2n) {
			margin-right: 0;
			margin-left: 0;
		}
	}

	@include breakpoint(large) {

		&:nth-child(odd) {
			margin-right: rem-calc(40);
			margin-left: 0;
		}

		&:nth-child(even) {
			margin-left: rem-calc(40);
			margin-right: 0;
		}

		.align-right & {
			&:nth-child(odd) {
				margin-left: rem-calc(40);
				margin-right: 0;
			}

			&:nth-child(even) {
				margin-right: rem-calc(40);
				margin-left: 0;
			}
		}
	}

	> div {
		@include no-bottom-if-last();
	}
}

body.single [role=main] .entry-content,
body.home [role=main] .entry-content {

	> div, > p {
		@include breakpoint(large) {
			 @include wrap(1530px, 95%);
		}
		@include breakpoint(xlarge) {
			@include wrap(1530px, 85%);
		}
		margin-bottom: rem-calc(30);
		margin-top: 0;
	}

	ul:not(.pills),
	ol {
		margin: 0 8%;

		ul,
		ol {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.wp-block-column {
		p {
			margin-left: rem-calc(10);
			margin-right: rem-calc(10);
			@include breakpoint(large) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		img {
			border-radius: $border-radius;
		}

		figure {
			margin: 0;

			img {
				border-radius: $border-radius;
			}
		}

		> figure {
			margin: 0 rem-calc(10);
			@include breakpoint(large) {
				margin: 0;
			}
		}
	}

	.wp-block-oep-video-text,
	.wp-block-oep-media-text,
	.wp-block-oep-event-text,
	.wp-block-oep-headline-text,
	.wp-block-oep-general-text-header,
	.wp-block-oep-text-list {

		.wp-block-button {
			margin-top: rem-calc(30);
		}

		.wp-block-button__link + .wp-block-button__link {
			margin-left: 15px;
		}

		// Default
		.wp-block-column {
			position: relative;

			&:before {
				width: 10px;
				height: 84px;
				background: url("../images/detail-repeater-r2.png") repeat-y 0 0;
				position: absolute;
				left: 0;
				top: 15px;
			}
		}
	}

	.wp-block-oep-video-text,
	.wp-block-oep-media-text,
	.wp-block-oep-event-text,
	.wp-block-oep-headline-text,
	.wp-block-oep-text-list {

		h4 {
			font-family: "Modelica Medium";
			font-weight: normal;
			margin-top: rem-calc(10);
			padding-left: 40px;
		}

		h1 {
			margin-top: rem-calc(5);
			padding-left: 40px;
		}

		p {
			margin-top: rem-calc(20);

			// Space for pattern if there are no headings
			&:first-child {
				padding-left: 40px;
				min-height: 4em;
			}
		}
	}

	.wp-block-oep-video-text,
	.wp-block-oep-media-text,
	.wp-block-oep-event-text{
		// Variant for left-aligned image
		&.align-left {
			.wp-block-column {
				&:nth-child(2) {
					&:before {
						content: '';
					}
				}
			}
		}

		// Variant for right-aligned image
		&.align-right {
			.wp-block-column {
				&:nth-child(1) {
					order: 1;
				}

				&:nth-child(2) {
					order: 0;

					&:before {
						content: '';
					}
				}
			}
		}
	}
	/** block gallery styles **/
	.blockgallery.is-cropped .blockgallery--item a, .blockgallery.is-cropped .blockgallery--item img, .blockgallery.is-cropped .blockgallery--item-thumbnail a, .blockgallery.is-cropped .blockgallery--item-thumbnail img {
		flex: 1;
		height: 100%;
		max-height: 100%;
		width: auto;
		object-fit: cover;
	}
	.wp-block-blockgallery-carousel .blockgallery--figure {
		height: 100%;
		text-align: center;
		figcaption {
			color: $black;
			margin: 0 rem-calc(40) !important;

			@include breakpoint(xxlarge){
				margin: 0 rem-calc(60) !important;
			}
		}
	}

	.wp-block-blockgallery-carousel {
		.has-carousel {
			opacity: 0;
			@include transition-ease-in-out();
			&.flickity-enabled {
				opacity: 1;
				.flickity-viewport {
					overflow: visible;
				}
			}
		}
	}


	.flickity-page-dots {
		bottom: rem-calc(-25);
	}
	.flickity-page-dots .dot.is-selected {
		background: $primary;
	}
}
