.recent-posts {
  #content & h2 {
    margin-left: rem-calc(10);
    margin-right: 0;
  }

  .event-block,
  .oep_cpts_event {
    display: flex;
    height: rem-calc(420);

    &:after {
      @include overlay();
      background: rgba($black, 0.5);
      border-radius: $border-radius;
    }
  }

  .wrap {
    position: relative;
    z-index: 1;
    justify-content: flex-start;
  }

  .event_details {
    color: $white;
    flex: 1;

    > a {
      margin-left: 8%;
      font-family: inherit;
      font-style: normal;
      color: inherit;
    }
  }

  &.tiles.wide {
    h2, > a {
      flex: 1 0 auto;
      @include breakpoint(large) {
        flex: 1 0 calc(50% - 9px);
      }
    }

    h2 {
      margin-left: 0;
      margin-right: 0;
    }

    &.vertical > a.more-link {
      order: 3;
      flex: 1 0 100%;
      margin-right: 0;
    }

    &.horizontal {
      article {
        header {
          p {
            display: none;
          }
        }
      }
    }

    &.vertical {
      h2 {
        // Block title device (icon)
        .svg {
          display: inline-block;
          vertical-align: baseline;
          margin-right: 15px;

          svg {
            display: block;
            width: 20px;
            height: 20px;
            fill: $primary;
          }
        }
      }

      article {
        &.featured {
          @include featured();
          padding-left: 0;
          padding-right: 0;
		  height: 310px;
          &:before {
            display: none;
            @include breakpoint(large) {
              display: block;
            }
          }
          @include breakpoint(large){
            height: rem-calc(495);
            padding-left: rem-calc(15);
            padding-right: rem-calc(10);
          }

          > div {
            position: absolute;
            top: rem-calc(20);
            @include breakpoint(large) {
              top: rem-calc(10);
            }
          }

          figure {
            height: rem-calc(205);
            position: relative;
            @include breakpoint(large){
              position: absolute;
              height: rem-calc(495);
            }


            &:before {
              max-height: rem-calc(495);
            }
          }

          header {
			  margin-top: 0;
			  margin-bottom: 0;

			  @include breakpoint(large) {
				  margin-top: auto;
				  margin-bottom: .625rem;
			  }

            h4 {
              color: $black;
              padding-top: rem-calc(15);

              @include breakpoint(large) {
                padding-top: 0;
                color: $white;
              }
              @include multiLineEllipsis(1.5em, 4);

              &:before, &:after {
                display: none;
              }
            }

            p {
              display: none;
            }
          }
          footer {
            display: block;
            order: 4;
			margin-top: 0;
            @include breakpoint(large) {
              display: none;
			  margin-top: auto;
            }
          }

          a.post-link {
            position: absolute !important;
            width: 100% !important;
            height: 100%;
          }
        }

        flex-wrap: wrap;
        height: rem-calc(100);
        @include breakpoint(large){
          height: rem-calc(220);
        }

        > div {
          position: static;
          @include breakpoint(large) {
            position: absolute;
          }
        }

        figure {
          width: calc(28%);
          max-width: rem-calc(100);
          @include breakpoint(large) {
            width: 40%;
            max-width: none;
          }
          margin-right: rem-calc(15);
        }

        header, footer {
          width: calc(72% - 15px);
          @include breakpoint(large) {
            width: calc(58% - 15px);
          }
        }

        header {
          h4 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: rem-calc(14);
            @include breakpoint(large) {
              @include fp(font-size, 16, 18);
            }
            @include breakpoint(xxlarge) {
              margin-top: rem-calc(5);
              margin-bottom: rem-calc(5);
            }
            @include multiLineEllipsis(1.5em, 2);

			&:before{
				display: none;
			}
			&:after{
				content: '...';
				position: relative;

				@include breakpoint(large){
					content: '';
					position: absolute;
				}
			}
          }

          p {
            margin-top: 0;
            font-size: rem-calc(14);
            display: none;
            @include breakpoint(large) {
              display: block;
            }
            @include breakpoint(xlarge){
              font-size: rem-calc(15);
            }
            @include multiLineEllipsis();
          }
        }

        footer {
          margin-top: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @include breakpoint(large) {
            white-space: normal;
            overflow: visible;
            margin-top: 0;
          }
        }
      }
    }

    > a {
      margin: rem-calc(15) auto;
      text-align: right;
      padding-right: rem-calc(15);
      font-weight: bold;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }

      font-size: 0;

      @include breakpoint(large) {
        font-size: rem-calc(14);
      }

      > span {
        display: inline-block;
        text-align: center;
        width: rem-calc(35);
        height: rem-calc(35);
        margin-left: rem-calc(10);
        border-radius: 50%;
        border: solid $border-width $black;
        font-size: rem-calc(14);

        svg {
          color: $black;
          margin-left: 0;
          margin-top: rem-calc(8);
        }
      }
    }

    article.oep_cpts_event {
      height: rem-calc(290);
      flex: 1;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: $border-radius;
      overflow: hidden;

      .wrap {
        z-index: 5;
        left: 0;
        top: 0;
      }

      .post_thumbnail-wrap {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        &:before,
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transition-property: opacity;
          transition-timing-function: ease-in-out;
          transition-duration: .2s;
        }

        &:before {
          background: #222;
          opacity: .5;
          z-index: 1;
        }

        &:after {
          background: linear-gradient(90deg,#f47b20,rgba(213,47,36,.9) 47.51%,rgba(135,37,87,.8));
          opacity: 0;
        }

        & > span {
          @include arrow-right-link();
          z-index: 1;
          opacity: 0;
          transition-property: opacity;
          transition-timing-function: ease-in-out;
          transition-duration: .2s;
        }
      }

      .post_link {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 6;

        &:hover {
          & ~ .post_thumbnail-wrap {
            span {
              opacity: 1;
            }

            &:before {
              opacity: 0;
            }

            &:after {
              opacity: 1;
            }
          }
        }
      }

    }

    &.oep_cpts_event {
      &.horizontal,
      &.vertical {
        .type-oep_cpts_event {
          flex-basis: 100%;
          box-shadow: 0px 0px 12px 8px rgba(0,0,0,0.05);

          @include breakpoint(large) {
            flex: 1;
          }
        }
      }

      &.vertical {
        & > a {
          order: 1;
        }
        .type-oep_cpts_event {

          .wrap {
            display: flex;
            margin: 0;
            padding-bottom: 0;
            padding-top: 0;
            width: 100%;
            height: 180px;
            min-height: 180px;
          }

          &.oep_cpts_event {
            // flex-basis: rem-calc(180);
            justify-content: flex-start;
            height: 180px;
            min-height: 180px;
          }

          .event_date {
            align-self: flex-start;
            height: 100%;
            max-width: 28%;
            border-radius: 0;
          }

          .event_details {
            padding-bottom: 20px;

            h4,
            a {
              margin-left: rem-calc(15);
              @include breakpoint(xlarge) {
                margin-left: rem-calc(30);
              }
            }

            h4 {
              margin-bottom: 5px;
              font-size: rem-calc(14);
              @include breakpoint(xlarge) {
                font-size: rem-calc(16);
              }
            }
          }
        }
      }
    }
  }

  a.more-link.desktop{
    display: none;
  }

    // a.more-link.desktop{
    //   display: none;
	//
    //   @include breakpoint(large) {
    //   display: block;
    //   }
    // }
	//
    // a.more-link.mobile{
    //   display: block;
	//
    //   @include breakpoint(large) {
    //   display: none;
    //   }
    // }

    body.home &{
      &.oep_cpts_event{
        margin-top: bsu(2);

        @include breakpoint(large) {
          margin-top: 0;
        }
      }
    }

  // Default hover effects
  article:hover {
    .entry-title {
      text-decoration: underline;
    }
  }

  // Disabling default hover for Stories and Featured article
  .featured:hover,
  &.has-stories article:hover {
    .entry-title {
      text-decoration: none;
    }
  }

  // Because Stories have other hover effects
  &.has-3-posts,
  &.has-6-posts {
    article {
      figure > span {
        @include arrow-right-link();
        z-index: 1;
        opacity: 0;
        transition-property: opacity;
        transition-timing-function: ease-in-out;
        transition-duration: .2s;
      }

      &:hover {
        figure > span {
          opacity: 1;
        }
      }
    }
  }

  &.has-4-posts {
    article:nth-child(n+2) {
      &:hover {
        .entry-title {
          text-decoration: underline;
        }
      }
    }
  }

  &.has-5-posts {
    article {
      &:hover {
        .entry-title {
          text-decoration: underline;
        }
      }
    }
  }
}

//home page first recent news section styles
body.home .recent-posts.tiles.wide.vertical {
	&:first-of-type{

		h2{
			width: 100%;
		}

		article{
			min-height: 100px;

			&.featured{
				@include breakpoint (medium){
					height: 6.25rem;
					padding: 0;

					figure {
						width: calc(28%);
						max-width: rem-calc(100);
						margin-right: rem-calc(15);
						height: 13.75rem;

						@include breakpoint(large) {
							width: 40%;
							max-width: none;
						}
					}

					div{
						left: .625rem;
						top: .625rem;
						position: static;
					}

					header, footer {
						width: calc(72% - 15px);

						@include breakpoint(large) {
							width: calc(58% - 15px);
						}
					}

					header {
						h4 {
							margin-top: 0;
							margin-bottom: 0;
							font-size: rem-calc(14);
							margin: 0;
							padding: 0;

							@include multiLineEllipsis(1.5em, 2);

							&:before{
								display: none;
							}
							&:after{
								content: '...';
								position: relative;
							}
						}

						p {
							margin-top: 0;
							font-size: rem-calc(14);
							display: none;
							@include multiLineEllipsis();
						}
					}

					footer {
						margin-top: auto;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				@include breakpoint (large){
					@include featured();
					height: 30.9375rem;

					figure{
						height: 30.9375rem;
					}

					header h4{
						font-size: rem-calc(18);
					}

					footer{
						margin-bottom: 5px;
					}
				}

				&:hover{
					footer{
						@include breakpoint (large){
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}

.home .wp-block-oep-column-sidebar .has-2-columns .wp-block-column{
  .recent-posts_wrapper {
    display: flex;
    flex-wrap: wrap;

    .more-link {
      width: 100%;

      svg {
        height: 32px;
      }
    }

    @include breakpoint(medium) {
      margin: 0 rem-calc(-15);

      .oep_cpts_event {
        max-width: calc(50% - 30px);
        margin: rem-calc(15);
      }
    }

    @include breakpoint(large) {
      display: block;

      .oep_cpts_event {
        max-width: none;
      }
    }
  }

	.recent-posts.post a.more-link.desktop, 
  .recent-posts.oep_cpts_event {
    a.more-link.desktop{
      display: none;
    }

    a.more-link.mobile{
      display: block;
      text-align: right;

      span {
        border-color: $gray-light;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
