/**
Stories block styles
 */
.recent-posts.tiles.wide {
	&.has-stories {
		border-bottom: solid rem-calc(1) $gray-lightest-border;
		padding: 0 0 rem-calc(65) 0;

		& + .results {
			border-top: 0;
			padding-top: 0;
		}

		div.stories {
			display: block;
				//tablet layout fixes
				@include breakpoint(large) {
					display: flex;
					flex: 1 0 100%;
				}
			//tablet to desktop layout fixes
			@include breakpoint(xlarge) {
				display: flex;
				flex: 1;
			}
		}
		h2 {
			// Block title device (icon)
			.svg {
				display: inline-block;
				vertical-align: baseline;
				margin-right: 15px;

				svg {
					display: block;
					width: 20px;
					height: 20px;
				}
			}
		}
		div.accent {
			display: inline-block;
			> div {
				color: inherit;

				svg {
					color: inherit;
				}
			}
		}
	}
	&.has-3-posts {
		div.stories {
			display: block;
			flex-basis: 100%;
			@include breakpoint(large) {
				display: flex;
				flex: 2;
				flex-flow: wrap column;
				height: rem-calc(470);
			}

			margin: 0 rem-calc(20) 0 0;

			article {
				@include featured();
				position: relative;
				width: 100%;
				max-width: 100%;
				margin: 0 rem-calc(10) rem-calc(15) rem-calc(10);
				@include breakpoint(large) {
					margin: 0 rem-calc(10);
					width: calc(50% - 15px);
					max-width: calc(50% - 15px);
				}
				justify-content: flex-start;
				flex-wrap: wrap;
				flex-direction: column;
				height: rem-calc(205);
				flex-basis: rem-calc(205);

				&:before {
					height: rem-calc(205);
				}

				figure {
					margin: 0;
					height: rem-calc(205);

					&:before {
						max-height: rem-calc(205);
					}

					img {
						height: rem-calc(205);
						max-width: 100%;
						width: 100%;
					}
				}

				@include breakpoint(large) {
					height: rem-calc(220);
					margin: 0 rem-calc(10);
					flex-basis: rem-calc(220);

					&:before {
						height: rem-calc(220);
					}

					figure {
						margin: 0;
						height: rem-calc(220);

						&:before {
							max-height: rem-calc(220);
						}

						img {
							height: rem-calc(220);
							max-width: 100%;
							width: 100%;
						}
					}
				}

				> div {
					position: absolute;
				}

				header {
					order: 2;
					margin-top: 0;

					h4 {
						margin-top: 0;
					}

					@include breakpoint(large){
						margin-top: auto;
						h4 {
							margin-top: rem-calc(15);
						}
					}

					p {
						display: none;
					}
				}

				footer {
					display: block;
					margin-top: auto;
					order: 1;
					@include breakpoint(large) {
						display: none;
					}
				}

				a.post-link {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
				}

				&:nth-of-type(1) {
					@include breakpoint(large) {
						height: rem-calc(470);
						flex-basis: 100%;

						&:before {
							height: rem-calc(470);
						}

						figure {
							height: rem-calc(470);

							&:before {
								max-height: rem-calc(470);
							}

							img {
								height: rem-calc(470);
								max-height: rem-calc(470);
								max-width: 100%;
								width: 100%;
							}
						}
					}
				}

				&:last-of-type {
					margin-top: auto;
				}
			}
		}

		ul.term-list {
			border-radius: $border-radius;
			box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
			flex-basis: 100%;
			@include breakpoint(large) {
				flex: 1;
			}
			margin: 0;
			display: flex;
			flex-flow: column nowrap;

			li {
				flex: 1;
				margin: 0;
				padding: rem-calc(15) rem-calc(30);
				font-size: rem-calc(18);
				line-height: 3;
				font-family: "Modelica Bold";
				font-weight: bold;
				border-bottom: solid rem-calc(1) $gray-lightest-border;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				max-width: 100vw;
    		display: flex;
    		align-items: center;
				@include breakpoint(large) {
					max-width: calc(50vw - 60px);
				}

				&:last-of-type {
					border-bottom: none;
				}

				svg {
					font-size: rem-calc(36);
					color: black;
					margin: 0 rem-calc(15) 0 0;
				}
				.arrow-right {
					opacity: 0;
					display: inline-block;
					font-size: rem-calc(12);
					line-height: rem-calc(12);
					vertical-align: 0;
					margin-left: rem-calc(15);
					@include transition-ease-in-out();

					svg {
						font-size: rem-calc(18);
					}
				}

				&:hover {
					a {
						color: $primary;
					}
					svg {
						color: $primary;
					}
					.arrow-right {
						opacity: 1;
					}
				}
			}
		}
	}

	&.has-4-posts {
		div.stories {
			display: block;
			flex-basis: 100%;
			@include breakpoint(large) {
				display: flex;
				flex-flow: wrap column;
				height: rem-calc(470);
				flex: 1 0 100%;
				justify-content: space-between;
				margin: 0;
			}
		@include breakpoint(large) {
		flex: 1;
		}

			article {
				width: auto;
				height: auto;
				margin: 0 rem-calc(10) rem-calc(15) rem-calc(10);
				@include breakpoint(large) {
					width: calc(50% - 15px);
					max-width: calc(50% - 15px);
					flex-basis: rem-calc(220);
					flex-direction: column;
					flex-wrap: wrap;
					height: rem-calc(220);
					margin: 0 rem-calc(10);
				}
				figure {
					position: relative;
					width: 100%;
					height: rem-calc(205);
					@include breakpoint(large) {
						height: rem-calc(220);
						width: 40%;
						margin-right: rem-calc(15);
					}
				}

				> div {
					position: absolute;
				}

				header {
					h4 {
						@include multiLineEllipsis(1.5em, 2);
					}
					p {
						display: none;
						@include breakpoint(large) {
							display: block;
							margin: 0;
						}

						@include multiLineEllipsis();
					}
				}

				footer {
					margin-top: auto;
					@include breakpoint(large) {
						margin-top: auto;
					}
					@include breakpoint(xxlarge) {
						margin-top: rem-calc(15);
					}
				}

				a.post-link {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
				}

				&:nth-of-type(1) {
					@include breakpoint(large) {
						@include featured();
						width: 58.33%;
						max-width: 58.33%;
						height: rem-calc(470);
						flex-basis: 100%;
						&:before {
							height: rem-calc(470);
						}
					}

					> div {
						position: absolute;
					}

					header {
						p {
							display: none;
							@include breakpoint(large) {
								display: none;
								margin: 0;
							}

							@include multiLineEllipsis();
						}
					}

							figure {
						@include breakpoint(large) {
							height: rem-calc(470);

							&:before {
								max-height: rem-calc(470);
							}

							img {
								height: rem-calc(470);
								max-height: rem-calc(470);
								max-width: 100%;
								width: 100%;
							}
						}
					}
				}

				&:nth-of-type(n+2) {
					position: relative;
					margin-top: 0;

					@include breakpoint(large) {
						display: flex;
						flex-flow: column wrap;
						flex-basis: calc(33% - 12px);
						width: 41.66%;
						max-width: 41.66%;

						> div {
							position: static;
						}
						header, footer {
							width: calc(60% - 15px);
						}
					}

					> * {
						@include breakpoint(large) {
							width: 66%;
							max-width: 66%;
						}
					}

					header {
						p {
							margin: 0;
							font-size: rem-calc(16);
							@include multiLineEllipsis();
						}
					}

					footer {
						margin-top: auto;
					}

					header {
						margin: 0;
						h4 {
							@include breakpoint(large) {
								margin: 0;
							}
							@include multiLineEllipsis(1.5em, 2);
						}
						p {
							display: none;
						}
					}

					figure {
						position: relative;
						height: rem-calc(205);
						margin: 0;
						width: 100%;
						max-width: 100%;
						@include breakpoint(large) {
							height: 100%;
							min-height: auto;
							width: 33%;
							max-width: 33%;
							margin-right: rem-calc(20);
						}
					}
				}
			}
		}
	}

	&.has-5-posts {

		div.stories {
			display: block;
			flex-basis: 100%;

			@include breakpoint(large) {
				display: flex;
				flex-flow: wrap column;
				height: rem-calc(470);
				flex: 1 0 100%;
				justify-content: space-between;
				margin: 0;
				flex: 1;
			}

			article {
				width: auto;
				height: auto;
				margin: 0 rem-calc(10) rem-calc(15) rem-calc(10);

				@include breakpoint(large) {
					width: calc(58% - 15px);
					max-width: calc(58% - 15px);
					flex-basis: rem-calc(220);
					flex-direction: column;
					flex-wrap: wrap;
					height: rem-calc(220);
					margin: 0 rem-calc(10);
				}

				figure {
					position: relative;
					width: 100%;
					height: rem-calc(205);
					@include breakpoint(large) {
						height: rem-calc(220);
						width: 40%;
						margin-right: rem-calc(15);
					}
				}

				header,
        footer {
					width: 100%;
					@include breakpoint(large) {
						width: calc(58% - 15px);
					}
				}

				header {
					h4 {
						@include multiLineEllipsis(1.5em, 2);
					}
          
					p {
						display: none;
						
						@include breakpoint(large) {
							display: block;
							margin: 0;
							font-size: rem-calc(15);
							font-family: 'Modelica Medium';
							color: $gray;
						}

						@include multiLineEllipsis();
					}
				}

				footer {
					margin-top: 5px;
					// @include breakpoint(large) {
					//   margin-top: auto;
					// }
					// @include breakpoint(xxlarge) {
					//   margin-top: auto;
					// }
				}

				&:nth-of-type(n+3) {
					width: auto;
					height: auto;
					@include breakpoint(large) {
						width: calc(42% - 15px);
						max-width: calc(58% - 15px);
						flex-basis: rem-calc(145);
						height: rem-calc(145);

						> div {
							position: static;
						}

						header {
							h4 {
								margin: 0;
							}
							p {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	&.has-6-posts {
		div.stories {
			display: block;
			flex-basis: 100%;
			@include breakpoint(large) {
				display: flex;
				flex-flow: wrap column;
				height: rem-calc(470);
				flex: 1 0 100%;
				justify-content: space-between;
				margin: 0;
			}

		@include breakpoint (xlarge){
			flex: 1;
		}

			article {
				@include featured();
				position: relative;
				width: auto;
				max-width: 100%;
				margin: 0 rem-calc(10) rem-calc(15) rem-calc(10);
				@include breakpoint(large) {
					margin: 0 rem-calc(10);
					width: calc(25% - 15px);
					max-width: calc(25% - 15px);
				}
				justify-content: flex-start;
				flex-wrap: wrap;
				flex-direction: column;
				height: rem-calc(205);
				flex-basis: rem-calc(205);

				&:before {
					height: rem-calc(205);
				}

				figure {
					margin: 0;
					height: rem-calc(205);

					&:before {
						max-height: rem-calc(205);
					}

					img {
						height: rem-calc(205);
						max-width: 100%;
						width: 100%;
					}
				}

				@include breakpoint(large) {
					height: rem-calc(220);
					margin: 0 rem-calc(10);
					flex-basis: rem-calc(220);

					&:before {
						height: rem-calc(220);
					}

					figure {
						margin: 0;
						height: rem-calc(220);

						&:before {
							max-height: rem-calc(220);
						}

						img {
							height: rem-calc(220);
							max-width: 100%;
							width: 100%;
						}
					}
				}

				> div {
					position: absolute;
				}

				header {
					order: 2;
					margin-top: 0;

					h4 {
						margin-top: 0;
					}

					@include breakpoint(large){
						margin-top: auto;
						h4 {
							margin-top: rem-calc(15);
						}
					}

					p {
						display: none;
					}
				}

				footer {
					display: block;
					margin-top: auto;
					order: 1;
					@include breakpoint(large) {
						display: none;
					}
				}

				a.post-link {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
				}

				&:nth-of-type(1), &:nth-of-type(2) {
					height: rem-calc(205);
					@include breakpoint(large) {
						height: rem-calc(470);
						flex-basis: 100%;

						&:before {
							height: rem-calc(470);
						}

						figure {
							height: rem-calc(470);

							&:before {
								max-height: rem-calc(470);
							}

							img {
								height: rem-calc(470);
								max-height: rem-calc(470);
								max-width: 100%;
								width: 100%;
							}
						}
					}
				}

				&:last-of-type {
					margin-top: auto;
				}
			}
		}
	}
}
