/**
 * Header
 *
 * @since   1.0.0
 * @package oep
 */

header[role="banner"] {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: $header-height;
	position: fixed;
	z-index: 50;
	top: 0;
	right: 0;
	left: 0;

	@include breakpoint (menu-break){
		flex-direction: column;
		justify-content: space-between;
		height: auto;
		border-bottom: 1px solid $gray-lightest-border;
	}

	/**
	 * Admin bar fix - for "non-static" headers
	 */
	body.admin-bar & {
		@include breakpoint( 320px ) {
			top: 46px;
		}

		@include breakpoint( 782px ) {
			top: 32px;
		}
	}

	&.scrolled {
		@include breakpoint(menu-break){
			flex-direction: row;
		}
	}
} // header[role="banner"]


/**
 * Mobile navigation toggle
 */
#menu-toggle {

	@include breakpoint( menu-break ) {
		display: none;
	}

}


/**
 * Opened navigation overlay
 */
.nav-overlay {
	@include overlay( -1 );
	display: none;
	position: fixed;
	cursor: pointer;
	background: $primary;

	@include breakpoint( menu-break ) {
		display: none !important; // override fadeToggle
	}
}

header[role="banner"] form[role="search"] {
	/*display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
	transition-property: transform, top, opacity;

	&.toggled {
		transform: translateX( 0% );
	}

	&.scroll-y {
		bottom: 100%;
		overflow-y: scroll;

		&.toggled {
			bottom: 0;
		}
	}*/

} // header nav, search
