/**
 * Pre menu
 *
 * @since   1.0.0
 * @package oep
 */

.pre-menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 1;

  @include breakpoint (menu-break) {
    background: linear-gradient(to right, $purple 0%, $purple 122px, $red 50%, $primary 100%); // 122px is width of menu toggle
    width: 100%;
  }

.hamburger-menu {
    background: $primary;
    width: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom left, $purple 0%, $red 50%, $primary 100%);
      position: absolute;
      left: 0;
      top: 0;
      transition-property: opacity;
      @include transition-ease-in-out();
    }

    &:hover {
      &:before {
        opacity: 0;
      }

      span:nth-child(2) {
        width: 26px;
      }
    }

    @include breakpoint (menu-break) {
      width: 122px;
      max-height: 50px;
      transition-property: max-height;
      background: linear-gradient(to right, $primary 0%, $red 50%, $purple 100%);
      @include transition-ease-in-out();

      &:before {
        background: transparent;
      }

      &:before {
        background: $purple;
      }
    }

    .hamburger {
      width: 22px;
      align-items: flex-start;
      position: relative;

      span {
        width: 19px;
        height: 3px;
        border-radius: 1.5px;
        background: $white;
        margin-bottom: bsu(.2);
        display: block;

        &:nth-child(2) {
          transition-property: width;
          @include transition-ease-in-out();
        }
      }
    }
  }

  .social-weather {
    display: none;
    transition-property: top;
    @include transition-ease-in-out();

    @include breakpoint (menu-break) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // Social links
  nav.socials {
    display: none;
    background: none;
    padding: 0 bsu(1);

    @include breakpoint (menu-break) {
      display: inline;
    }

    a {
      color: $white;
      font-size: 0;
      padding: 0;
      margin-right: bsu(.55);
      display: inline;

      svg {
        font-size: rem-calc(16);
      }
    }
  }

  //Weather Widget
  .weather {
    border-left: 1px solid rgba(255, 255, 255, .3);
    padding: 0 bsu(1);
    height: 50px;

    p {
      color: $white;
    }
  }

  header.scrolled & {
    background: transparent;

    @include breakpoint(menu-break) {
      flex: 0;
      .hamburger-menu {
        height: auto;
        max-height: 200px;
      }
      .social-weather {
        position: absolute;
        top: -100px;
      }
    }
  }
}
