/**
 * Site menu
 *
 * @since   1.0.0
 * @package oep
 */


.site-menu {
  width: 100%;
  background: $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include breakpoint (menu-break) {
    justify-content: space-evenly;
    padding: rem-calc(19) rem-calc(50);
  }

  //Logo
  .logo-toggle {
    display: flex;
    width: 100%;

    @include breakpoint(large) {
      width: auto;
      flex: 0;
    }
    flex-direction: row;
    background: $white;
    z-index: 1;

    .site-logo {
      display: flex;
      align-items: center;
      padding: 0 rem-calc(27);

      svg {
        width: 150px;
        padding: 10px 0;
      }

      @include breakpoint (menu-break) {
        padding: 0;

        svg {
          width: 200px;
        }
      }
    }

    #menu-toggle {
      display: none;
    }

    p {
      display: none;
    }
  }

  //Menu
  nav {

    ul li {

      .toggle-sub {
        display: none;
      }
    }
  }

  header[role='banner'] & {

    nav {
      display: none;

      @include breakpoint(large) {
        display: flex;
        z-index: 2;
        height: 100%;
      }

      @include breakpoint (menu-break) {
        display: flex;
      }

      .menu-item-has-children > a {
        padding-right: bsu(3/4);
      }
    }

    nav > ul > li {
      max-width: 100%;
    }

    //Dropdown styles for site menu
    .sub-menu {
      background: $white;
      border-bottom: 5px solid $primary;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      padding: bsu(1/2) 0;
      box-shadow: 0 60px 40px rgba(0,0,0,.5);

      a {
        font: normal rem-calc(14) 'Modelica Medium';
        color: $gray;
        text-transform: none;
        padding: bsu(1/2) bsu(1);

        &:hover {
          color: $primary;
        }
      }
    }
  }

  header.scrolled & {
    @include breakpoint(menu-break) {
      padding: rem-calc(10);
      :not(.menu-sidebar) {
        div.svg {
          width: 100%;
          height: rem-calc(50);
          overflow: hidden;
          svg {
            height: rem-calc(50);
          }
        }
      }
    }
  }
}
