/**
 * Main Structure
 *
 * @since   1.0.0
 * @package oep
 */

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}


/**
 * Wrapper
 */
.wrap {
  margin-left: rem-calc(15);
  margin-right: rem-calc(15);
  //width: 95%;
  @include breakpoint(large) {
    @include wrap(1530px, 95%);
  }
  @include breakpoint(xlarge) {
    @include wrap(1530px, 85%);
  }
}


/**
 * Main container
 */
#content {
  flex: 1 0 auto;
  padding-top: $header-height;

  @include breakpoint(menu-break) {
    padding-top: $header-height-desk;
  }
}


/**
 * Main content container
 */
[role="main"] {
  display: block;
  margin: rem-calc(30) auto;

  @include breakpoint(large) {
    @include flex-row();

    margin: rem-calc(60) auto;
  }

  &.wrap {
    margin-left: rem-calc(15);
    margin-right: rem-calc(15);
    @include breakpoint(large) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.default .wrap {
    max-width: 1800px;
  }

  > article {
    flex: 9;
    .entry-content {
      overflow: hidden;
    }
  }

  > nav {

  }

  > aside {
    flex: 3;
    overflow-x: hidden; // needed so text-overflow: elipsis is respected on .post_title;
    @include breakpoint(large) {
      margin: 0 0 0 rem-calc(100);
      padding: 0 0 0 rem-calc(60);
      border-left: solid rem-calc(1) $gray-lightest-border;
    }
  }
}


/**
 * Figure & img fixes
 */
figure {
  margin: bsu(3/2) 0 0;

  &.wp-block-image figcaption {
    text-align: left;
    font-family: $font-serif;
    font-style: italic;
    color: $gray;
  }
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */

  &[data-object-fit="cover"] {
    @include cover-image;
  }
}


/**
 * SVG
 */
svg {
  display: block;
  height: auto;
}

.svg {
  font-size: 0;
}
