/**
 * Typography
 *
 * @since   1.0.0
 * @package oep
 */

*::selection {
	background: rgba($primary, 0.9);
	color: $white;
	text-shadow: none;
}

*::-moz-selection {
	background: rgba($primary, 0.9);
	color: $white;
	text-shadow: none;
}

/**
* Font face definitions
 */

@font-face {
	font-family: 'Modelica Extra Bold';
	src: url('../fonts/bwmodelica-extrabold-webfont.woff2') format('woff2'),
	url('../fonts/bwmodelica-extrabold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

@font-face {
	font-family: 'Modelica Bold';
	src: url('../fonts/bwmodelica-bold-webfont.woff2') format('woff2'),
	url('../fonts/bwmodelica-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}


@font-face {
	font-family: 'Modelica Medium';
	src: url('../fonts/bwmodelica-medium-webfont.woff2') format('woff2'),
	url('../fonts/bwmodelica-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


@font-face {
	font-family: 'Modelica Medium Italic';
	src: url('../fonts/bwmodelica-mediumitalic-webfont.woff2') format('woff2'),
	url('../fonts/bwmodelica-mediumitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;

}


@font-face {
	font-family: 'Modelica Regular';
	src: url('../fonts/bwmodelica-regular-webfont.woff2') format('woff2'),
	url('../fonts/bwmodelica-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

html, body {
	font-size: $global-font-size;
	@include font-smoothing();
}

body {
	line-height: $line-height-body;
	color: $black;
	font-family: $font-sans-serif;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: "Modelica Bold";
}

h1 {
	@include fp(font-size, 24, 50);
	@include fp(line-height, 34, 60);
}

h2 {
	@include fp(font-size, 18, 30);
	@include fp(line-height, 27, 40);
}

h3 {
	@include fp(font-size, 18, 22);
	@include fp(line-height, 28, 30);
}

h4 {
	@include fp(font-size, 16, 18);
	@include fp(line-height, 24, 28);

	@include breakpoint(large) {
		@include multiLineEllipsis(1.5em, 4);
	}
}

h5 {
	font-size: 1em;
	line-height: 1.625;
}

h6 {
	font-size: 0.875em;
	line-height: 1.714;
}


/**
 * Paragraphs
 */
p {
	margin: bsu(3/4) 0 0;
	font-size: 0.875em;
	line-height: 1.5;

	a {
		@include inline-link;
	}

	> small, &.detail {
		font-family: $font-serif;
		font-style: italic;
		font-size: 0.875em;
		line-height: 1.5;
	}

	@include breakpoint(xlarge){
		margin: bsu(3/2) 0 0;
		font-size: 1.125em;
		line-height: $line-height-body;

		> small, &.detail {
			font-size: 1.125em;
			line-height: 2.111;
		}
	}
}


/**
 * Anchors (inside content and nav areas only)
 */
a, a:visited {
	main &, footer & {
		font-family: "Modelica Medium Italic";
		font-size: inherit;
		color: $primary;
		text-decoration: none;
		font-style: italic;
	}

	&[role=button] {
		font-style: normal;
	}

	.svg-inline--fa {
		margin-left: rem-calc(6);
	}
}


/**
 * Blockquotes & Cites
 */
blockquote, q {
	margin: 0;
	display: flex;
	flex-flow: nowrap row;
	align-items: flex-start;
	font-family: $font-serif;
	@include fp(font-size, 18, 28);
	@include fp(line-height, 28, 50);
	font-style: italic;


	&:before {
		content: "“";
		color: $gray-lighter;
		font-family: 'Andada';
		@include fp(font-size, 84, 196);
		font-style: normal;
		line-height: 1;
		margin: -0.125em 0.25em 0 -0.125em;
		padding: 0;
	}
}

.wp-block-pullquote {
	padding: 0;
	blockquote p {
		@include fp(font-size, 18, 28);
		@include fp(line-height, 28, 50);
	}
}


/**
 * Horizontal Rule
 */
hr {
	margin: bsu(1) 0;
	border: none;
}


/**
 * Address
 */
address {
	font-style: normal;
}


/**
 * Lists
 */
ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "Modelica Medium";
	font-size: 0.875em;

	@include breakpoint(xlarge) {
		font-size: 1em;
	}
	line-height: 2.5;

	li:before, .svg-inline--fa {
		color: $primary;
	}
}

ul.bulleted {
	li:before, .svg-inline--fa {
		font-size: 0.33em;
		vertical-align: 0.33em;
	}
}

ol.numbered {
	@include list;
}

ol.numbered {
	@include numbered-list;
}


/**
 * WYSIWYG content output
 */
.entry-content {
	@include wysiwyg;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
