/**
 * Variables
 *
 * @since   1.0.0
 * @package oep
 */

/**
 * Primary & Secondary Colors
 */
$primary-light      : #f8971d;
$primary            : #f47b20;
$red                : #d52f24;
$purple             : #872557;
$secondary          : #7ebd43;

/**
 * Neutral & Support Colors
 */
$gray-med              : #8E8E8E;
$gray                  : #656868;
$gray-light            : #d8d8d8;
$gray-lighter          : #B9B9B9;
$gray-lightest         : #F9F9F9;
$gray-lightest-border  : #E5E5E5;
$gray-dark             : #2F2F2F;
$white                 : #ffffff;
$black                 : #222222;
$transparent           : trans();
$gradient              : linear-gradient( to right, $purple, $red, $primary-light );


/**
 * Fonts
 */
$line-height-body   : 1.8889;
$line-height-mid    : 1.555;
$line-height-small  : 1.333;
$line-height-xsmall : 1.2;
$global-font-size   : 16px;
$font-sans-serif    : 'Modelica Regular', sans-serif;
$font-serif         : 'Merriweather', serif;


/**
 * Spacing
 */
$bsu: 1.6667rem;


/**
 * Misc heights/widths
 */
$wrap-max           : 1800px;
$wrap-width         : 90%;
$header-height      : 70px;
$header-height-desk : 165px;


/**
 * Borders
 */
$border-width: 1px;
$border-radius: 6px;
