/**
 * Styleguide-specific stuff
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
@import "functions";
@import "variables";
@import "mixins";
@import "breakpoints";

// base stuff
[role="main"] {

	@include fp( padding-top, 32, 90 );
	@include fp( padding-bottom, 32,  90 );

	> section {
		max-width: 940px;

		&:first-child > h3:first-child {
			margin-top: 0;
		}

		> h3 {
			margin: bsu(2) 0 bsu(1/2);
			padding-bottom: bsu(1/2);
			font-weight: 700;
			font-size: rem-calc(18);
			border-bottom: 1px solid $gray;
		}
	}

	@include breakpoint( xxlarge ) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		max-width: 1775px;

		> section {
			position: relative;
			flex-grow: 0;
			flex-shrink: 1;
			padding: rem-calc(30) rem-calc(50) 0;

			&:nth-child(odd) {
				flex-basis: 53%;
			}
			&:nth-child(even) {
				flex-basis: 45%;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: -18px;
				width: 18px;
				background: $gray;
			}

			> h3:first-child {
				margin: 0;
			}

		} // > section
	} // bp: xxlarge
} // main

.gform_wrapper {
	margin-top: bsu(1);
}

.numbered-pagination {
	display: inline-block;
	margin-left: rem-calc(-14);
	width: auto;
}



/**
 * Definitions / styles
 */
dt {
	margin: bsu(1) 0 bsu(1/4);

	&, h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}
}

dd {
	margin: 0;
}

@include breakpoint( medium ) {

	dl {
		display: flex;
		flex-flow: row wrap;
	}

	dt, dd {
		margin: bsu(3/4) 0;
		flex: 0 1 auto;
	}

	dt {
		width: 150px;
		padding-right: 50px;
		text-align: right;
	}

	dd {
		width: calc( 100% - 150px );
	}
}

@include breakpoint( large ) {

	dt {
		width: 175px;
		padding-right: 64px;
	}

	dd {
		width: calc( 100% - 175px );
	}
}


/**
 * Additional sections
 */
@import "styleguide/typography";
@import "styleguide/icons";
@import "styleguide/buttons";
@import "styleguide/colors";
