/**
 * Editor-only styles for CTA Option block
 *
 * @since   1.2.0
 * @package oep
 */

.cta-option {
	.cta_thumbnail {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}

	#editor & {
		.cta_title {
			font-size: 30px;
			line-height: 1.333;
		}

		p {
			margin-top: 10px;
		}
	}

	#editor & .-newsletter {
		.newsletter {
			background: #fff;
		}

		.newsletter-header {
			color: $black;
			text-align: left;
		}

		label {
			padding-left: .875rem;
		}

		input[type=email] {
		    border: 1px solid #b9b9b9;
		}

		[type=checkbox] {
			border: 2px solid #6c7781;
		    top: 5px;
		}

		[role="checkbox"] li, 
		[role="checkbox"] li {
			display: block;
		}

		.hs-form-checkbox span {
		    color: #222;
		}

		.hs-error-msgs {
		    display: none !important;
		}
	}

	.cta_link {
		pointer-events: none;
	}
}