/**
 * Editor-only styles for stats block
 *
 * @since   1.2.0
 * @package oep
 */


#editor .stats{

	@include breakpoint (medium){
		padding: bsu(4) 0;
	}

	.heading{
		padding-left: bsu(2);

		h2{
			margin-top: bsu(1/2);

			@include breakpoint (medium){
				font-size: rem-calc(40);
			}

			strong{
				@include breakpoint (medium){
					font-size: rem-calc(47);
				}
			}
		}

		p{
			margin-top: bsu(1/2);
		}
	}

	.attribution p{
		margin-top: 0;
	}
}
