/**
 * Editor-only styles for hero slider
 *
 * @since   1.2.0
 * @package oep
 */
.hero-slider {

	.slide, figcaption {
		position: relative;
	}

	.slide {
		@include flex-row( true );
		justify-content: center;
		@include fp( min-height, 400, 600 );
		text-align: center;

		&::after {
			@include overlay;
			background: linear-gradient( to top, rgba( #202022, 0.7 ), trans( #444346 ) );
		}

		// only show first slide
		& + .slide {
			display: none;
		}
	}

	.wrap {
		@include wrap( rem-calc(700) );
	}

	figure {
		margin: 0;
	}

	figcaption {
		z-index: 1;
	}

	h2 {
		color: $white;

		#editor & { // override
			@include fp( font-size, 28, 48, 420 );
			line-height: 1.01;
		}
	}

	.scroll-down {
		display: none;
	}

} // .hero-slider

.hero-slider-navigation {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding: bsu(1);
	background: linear-gradient( to top, rgba( $gray-dark, 0.3 ) 25%, trans( $gray-dark ) 90% );
	color: $white;

	.progress-bar {
		flex: 1 0 auto;
		margin: bsu(1) 0;
		width: 2px;
		background: rgba( $white, 0.4 );
	}

	.triangle-dots-upper-left {
		width: rem-calc(67);

		svg {
			width: 100%;
			height: auto;
		}
	}

	.count {
		font-weight: 700;
	}

	button {
		background: none;
		border: none;
		color: $white;
	}

} // .hero-slider-navigation
