/**
 * Editor-only styles for social cards
 *
 * @since   1.2.0
 * @package oep
 */

#editor .social-cards {

	@include breakpoint(medium) {
		padding: bsu(2) 0;
	}

	.social-card{
		text-decoration: none;
	}

	.triangle{

		@include breakpoint(large) {
			top: bsu(1.5);
			right: 0;
		}
	}

	.heading {
		h1 {
			@include breakpoint(large) {
				margin-right: bsu(1);
			}
		}

		h2 {
			font-size: rem-calc(18);
		}
	}

	.card-text {
		padding-left: bsu(1);
		padding-right: bsu(1/2);

		h3 {
			color: $white;
		}

		.social-handle{
			margin-top: bsu(1);
		}

		.profile{
			margin-top: 0;
			line-height: 1.15;
		}
	}
}
