/**
 * Editor styles for angled background block
 *
 * @since   1.2.0
 * @package oep
 */

[data-type="oep/angled-background"] {

	&, > .editor-block-list__block-edit {
		padding: bsu(1.5) 0;
	}
}

.angled-background img {
	object-fit: cover;
	position: absolute;
}
