/**
 * Editor-only styles for success story block
 *
 * @since   1.2.0
 * @package oep
 */


#editor .success-story {

	@include breakpoint (medium) {
		padding: bsu(4) 0;
	}

	.single-success {
		padding: bsu(1);

		@include breakpoint (medium) {
			padding-left: bsu(2);
		}

		a {
			text-decoration: none;
		}

		.play-button {

			p {
				margin: 0;
				margin-left: bsu(1/2);
			}
		}
	}
}
