/**
 * Editor styles for button
 *
 * Has to be pretty lightly applied (hence by role only)
 *
 * @since   1.2.0
 * @package oep
 */
#editor .edit-post-layout__content,
#editor .editor-styles-wrapper {

    // <a> and <button> because there's a <textarea role="button">
    a[role="button"], button[role="button"] {
        @include button;
    }
}

.wp-block-button__link {
	@include button;

	.text-only & {
		@include button-text-only;
	}

	.text-only-black & {
		@include button-text-only-black;
	}
}
