/**
 * Object-fit cover images in editor
 *
 * @since   1.2.0
 * @package oep
 */
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */

	&[data-object-fit="cover"] {
		@include cover-image;
	}
}
