/**
 * Block styling for editor only
 *
 * @since   1.0.0
 * @package oep
 */
@import "cover-image";
@import "typography";
@import "button";
@import "block-angled-background";
@import "block-hero-slider";
@import "block-success-story";
@import "block-stats";
@import "block-social-cards";
@import "block-company-cards";
@import "block-cta-option";
@import "trending";

/**
 * Needs migration
 *
 * @todo ew
 */
#editor {
	figure {
		margin-inline-end: 0;
		margin-inline-start: 0;
	}

	.wp-block-oep-hero, .wp-block-oep-hero-cta {
		position: relative;
		background: $gray-dark;
		min-height: rem-calc(420);
		padding-top: rem-calc(150);

		h1, h3, p {
			font-family: "Modelica Bold";
			position: relative;
			z-index: 1;
			text-align: center;
			color: $white;
		}

		.editor-rich-text {
			z-index: 1;
		}

		p {
			font-family: $font-sans-serif;
		}

		h3 {
			font-family: "Modelica Medium";
			font-weight: normal;
			font-size: rem-calc(18);
		}

		div.cta {
			position: relative;
			z-index: 1;
			text-align: center;
			color: $white;
		}

		.bg-image {
			position: absolute;
			margin: auto;
			text-align: center;
			top: 0;
			width: 100%;
			height: 100%;
			background: $gray-dark;

			button {
				position: absolute;
				top: rem-calc(380);
				left: 50%;
				margin-left: rem-calc(-50);
				z-index: 2;

				&.image-button {
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					margin: auto;
					padding: 0;
					display: block;
					z-index: 0;

					img {
						@include cover-image();
					}
				}
			}
		}
	}

	.editor-rich-text {
		margin: auto;
		p, h1, h2, h3, h4, h5, h6, ul {
			margin: auto;
			max-width: 91%;
		}
		p.detail {
			max-width: none;
		}
	}

.wp-block-embed-twitter {
	.wp-block-embed__wrapper {
		margin: auto;
		text-align: center;

		max-width: 50%;

	}
}

	.wp-block .rendered-posts, .wp-block-oep-recommendedstories, .wp-block-oep-slider {
		@include flex-row();
		flex-wrap: wrap;

		h2, h4 {
			flex: 1 0 100%;
			margin-bottom: rem-calc(20);
		}

		div.post {
			position: relative;
			flex: 1;
			display: flex;
			flex-flow: nowrap column;
			justify-content: flex-start;
			margin: 0 rem-calc(5);
			height: rem-calc(225);
			min-height: rem-calc(225);
			color: $white;

			> div.pills-container {
				position: relative;
				z-index: 2;
				width: auto;
				text-align: left;
				left: rem-calc(10);
				top: rem-calc(10);
				@include pills();
				ul.pills {
					li {
						background-color: $gray;
						a {
							color: $white;
						}
					}
				}
			}

			figure.featured-image {
				margin: 0;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				border-radius: $border-radius;

				&:before {
					@include overlay(1);
					top: 0;
					content: "";
					border-radius: $border-radius;
					background: linear-gradient(to top, rgba($black, 0.8) 0, rgba($black, 0.2) 20%);
					max-height: 100%;
				}


				p.attachment {
					position: relative;
					float: none;
					width: 100%;
					height: 100%;
					padding: 0;
					margin: 0;

					a {
						position: relative;
						display: block;
						width: 100%;
						height: 100%;

						img {
							border-radius: $border-radius;
							@include cover-image();
						}
					}
				}
			}

			header {
				position: relative;
				z-index: 2;
				margin-top: auto;
				padding: rem-calc(10);
			}
		}
		div.button-holder {
			margin-top: rem-calc(20);
			flex: 1 0 100%;
		}

		//vertical style
		&.vertical {
			&.post {
				.post {
					&:nth-of-type(1) {
						@include breakpoint(large) {
							height: rem-calc(470);
						}
					}
					&:nth-of-type(n+2) {
						position: relative;
						margin-top: 0;
						flex-wrap: wrap;

						@include breakpoint(large) {
							height: rem-calc(220);

							div.pills-container {
								order: 2;
							}
							figure {
								order: 1;
								position: relative;
								width: 40%;

								&:before {
									display: none;
								}
							}
							header {
								order: 3;
								width: 60%;
								margin-top: 0;
								h4 {
									color: $black !important;
								}
							}
						}
					}
				}
			}
		}

		// special treatment for sliders
		&.wp-block-oep-slider {
			position: relative;
			min-height: rem-calc(950);
			.post {
				margin: auto;
				text-align: center;
				justify-content: center;
				height: rem-calc(850);
				display: none;
				&:nth-child(1) {
					display: flex;
				}

				div.pills-container {
					position: static;
					text-align: center;
					margin: 0 auto;
				}

				header.post-header {
					text-align: center;
					margin: 0;
					@include wrap();
					h1 {
						color: $white;
					}
				}

				a.more-link {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 30px;
					font: 14px/1.2 'Modelica Bold';
					color: $white;
					text-align: center;
					text-decoration: none;

					> span {
						@include arrow-right-link();
					}

					> span {
						position: static;
						margin-left: 15px;
						border-color: $white;

						svg {
							height: 35px;
							margin: 0 auto;
						}
					}

					&,
					> span,
					> span svg {
						color: $white;
					}

					&:hover {
						text-decoration: underline;

						> span {
							border-color: $primary;
						}

						&,
						> span svg {
							color: $primary;
						}
					}
				}

				div.bg-image {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;

					&:before {
						@include overlay(1);
						top: 0;
						content: "";
						background: linear-gradient(to top, rgba($black, 0.9) 0, rgba($black, 0.75) 20%);
						max-height: rem-calc(850);
					}

					img {
						@include cover-image();
					}
				}
			}
			ul.slide-nav {
				@include flex-row();
				width: 100%;
				padding: 0 4%;
				position: absolute;
				bottom: rem-calc(80);
				z-index: 1;

				li {
					margin: 0 rem-calc(10);
					@include no-left-if-first;
					@include no-right-if-last;
					flex: 1;
					border-top: solid rem-calc(4) $primary;
					@include flex-row();
					align-items: center;

					h1 {
						flex: 1;
						color: $white;
					}
					> div {
						flex: 3;

						p{
							margin-top: 0;
							color: $white;
							font-size: rem-calc(12);
						}

						span {
							color: $primary;
							text-transform: uppercase;
							font-size: rem-calc(12);
						}
					}
				}
			}
		}
	}

	.wp-block .rendered-posts.full {
		.post {
			flex: 1 0 calc(25% - 15px);
			margin-bottom: rem-calc(15);
		}
	}
	.wp-block[data-type="oep/stories"] {
		h2 {
			margin: 0 0 rem-calc(20) rem-calc(20);
		}
		ul.terms {
			display: none;
		}
	}

	.wp-block .rendered-posts.has-3-posts {
		display: flex;
		flex-flow: wrap column;
		height: rem-calc(470);
		flex: 1;
		justify-content: space-between;
		margin: 0;

		.post {
			position: relative;
			width: calc(25% - 15px);
			max-width: calc(25% - 15px);
			flex-basis: rem-calc(220);
			flex-direction: column;
			flex-wrap: wrap;
			height: auto;
			min-height: auto !important;
			margin: 0 rem-calc(10);

			&:before {
				height: 100%;
			}

			&:nth-of-type(1) {
				@include breakpoint(large) {
					width: calc(25% - 20px);
					max-width: calc(25%- 20px);
					height: rem-calc(470);
					flex-basis: 100%;
				}
			}

			&:nth-of-type(n+2) {
				position: relative;
				margin-top: 0;

				@include breakpoint(large) {
					display: flex;
					flex-flow: column wrap;
					flex: 0 1 calc(50% - 12px);
					width: calc(25% - 20px);
					max-width: calc(25% - 20px);
					min-height: auto;
				}
			}
		}
		ul.terms {
			border-radius: $border-radius;
			box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
			flex: 1 0 100%;
			margin: 0;
			display: flex;
			flex-flow: column nowrap;
			width: calc(50% - 20px);

			li {
				flex: 1;
				margin: 0;
				padding: rem-calc(15) rem-calc(30);
				font-size: rem-calc(18);
				line-height: 3;
				font-family: "Modelica Bold";
				font-weight: bold;
				border-bottom: solid rem-calc(1) $gray-lightest-border;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	}

	.wp-block .rendered-posts.has-4-posts {
		display: flex;
		flex-flow: wrap column;
		height: rem-calc(470);
		flex: 1;
		justify-content: space-between;
		margin: 0;

		.post {
			position: relative;
			width: calc(50% - 15px);
			max-width: calc(50% - 15px);
			flex-basis: rem-calc(220);
			flex-direction: column;
			flex-wrap: wrap;
			height: auto;
			min-height: auto !important;
			margin: 0 rem-calc(10);

			&:before {
				height: 100%;
			}

			&:nth-of-type(1) {
				@include breakpoint(large) {
					width: calc(58.33% - 20px);
					max-width: calc(58.33% - 20px);
					height: rem-calc(470);
					flex-basis: 100%;
				}
			}

			&:nth-of-type(n+2) {
				position: relative;
				margin-top: 0;

				@include breakpoint(large) {
					display: flex;
					flex-flow: column wrap;
					flex: 0 1 calc(33% - 12px);
					width: calc(41.66% - 20px);
					max-width: calc(41.66% - 20px);
					min-height: auto;
				}
			}
		}
	}

	.wp-block .rendered-posts.has-5-posts {
		display: flex;
		flex-flow: wrap column;
		height: rem-calc(470);
		flex: 1;
		justify-content: space-between;
		margin: 0;

		.post {
			position: relative;
			width: calc(58% - 15px);
			max-width: calc(58% - 15px);;
			flex-basis: rem-calc(220);
			flex-direction: column;
			flex-wrap: wrap;
			height: auto;
			min-height: auto !important;
			margin: rem-calc(5) rem-calc(10);


			@include breakpoint(large) {
				height: rem-calc(220);

				div.pills-container {
					order: 2;
				}
				figure {
					order: 1;
					position: relative !important;
					width: 40% !important;

					&:before {
						display: none !important;
					}
				}
				header {
					order: 3;
					width: 60%;
					margin-top: 0;
					h4 {
						color: $black !important;
					}
				}
			}

			&:before {
				height: 100%;
			}

			&:nth-of-type(n+3) {
				width: calc(42% - 15px);
				max-width: calc(58% - 15px);
				flex-basis: rem-calc(145);
				height: rem-calc(145);

				> div {
					position: static;
				}

				header {
					h4 {
						margin: 0;
					}
					p {
						display: none;
					}
				}
			}
		}
	}

	.wp-block .rendered-posts.has-6-posts {
		display: flex;
		flex-flow: wrap column;
		height: rem-calc(470);
		flex: 1;
		justify-content: space-between;
		margin: 0;

		.post {
			position: relative;
			width: calc(25% - 15px);
			max-width: calc(25% - 15px);
			flex-basis: rem-calc(220);
			flex-direction: column;
			flex-wrap: wrap;
			height: auto;
			min-height: auto !important;
			margin: rem-calc(5) rem-calc(10);

			&:before {
				height: 100%;
			}

			&:nth-of-type(1), &:nth-of-type(2) {
				@include breakpoint(large) {
					height: rem-calc(470);
					flex: 0 1 100%;
				}
			}

			&:last-of-type {
				margin-top: auto;
			}
		}
	}

	// reusable CTA block
	.wp-block-cta {
		max-width: 830px;
		border-radius: $border-radius;
		background: radial-gradient(circle, $primary-light 0%, $primary 50.69%, $red 100%);
		text-align: center;
		position: relative;

		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 58px;
			background: url('../images/logo-white.svg') no-repeat transparent;
			background-size: auto 100%;
			position: absolute;
			right: 25px;
			top: 25px;
		}

		.wp-block-cta_title {
			margin-top: 0;
			color: $white;
		}

		.wp-block-cta_content {
			margin-top: bsu(1);
			color: $white;

			*:first-child {
				margin-top: 0;
			}
		}

		.wp-block-cta_button-container {
			margin: bsu(1.25) 8%;

			br {
				display: none;
			}

			.button {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: bsu(.5) bsu(1);
				border-radius: $border-radius;
				font: bold 14px/1.5 $font-sans-serif;
				color: $black;
				background: $white;
				white-space: nowrap;

				& ~ .button {
					margin-top: 20px;
				}
			}
		}

		@include breakpoint( medium ) {
			.wp-block-cta_button-container {
				display: flex;
				justify-content: center;

				.button {
					& ~ .button {
						margin-top: 0;
						margin-left: 20px;
					}
				}
			}
		}

		@include breakpoint( large ) {
			padding: bsu(2) bsu(6);
		}
	}

	// OEP Landing Pages > Contact Form block
	.wp-block-oep-contact {
		// display: flex;
		h1 {
		}

		& > div:not(.editor-inner-blocks) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 0 -10px;
		}

		input {
				flex: .49;
		}

		textarea {
				flex: 0 0 100%;
				margin: 10px 0 0;
		}
	}

	.wp-block-oep-column-sidebar {
		border-bottom: solid rem-calc(1) $gray-lightest-border;
		.has-2-columns {
			[data-type="core/column"] {
				&:first-child {
					flex-basis: 66%;
				}
				&:last-child {
					flex-basis: 33%;
				}

				.wp-block .rendered-posts {
					> h4 {
						font-size: rem-calc(30);
					}
					flex-flow: column nowrap;
					.post {
						margin-bottom: rem-calc(15);
					}
				}
			}
		}
	}

	.wp-block-oep-title-menu {
		@include flex-row();
		flex-wrap: wrap;
		> h1, > div {
			flex: 1 0 50%;
		}
		h1 {
			color: $gray-light;
		}
		> div p.detail {
			text-align: left;
		}
		ul.rendered-terms {
			flex: 1 0 100%;
			margin-top: rem-calc(30);
			border-top: solid rem-calc(1) $gray-lightest-border;
			border-bottom: solid rem-calc(1) $gray-lightest-border;
			@include flex-row();
			@include bulleted-list();
			li {
				flex: 0;
				list-style: none;
				color: $black;
				text-decoration: none;
				margin-right: rem-calc(10);
				white-space: nowrap;
			}
		}
	}
	/** block gallery styles **/
	.blockgallery.is-cropped .blockgallery--item a, .blockgallery.is-cropped .blockgallery--item img, .blockgallery.is-cropped .blockgallery--item-thumbnail a, .blockgallery.is-cropped .blockgallery--item-thumbnail img {
		flex: 1;
		height: 100%;
		max-height: 100%;
		width: auto;
		object-fit: contain;
	}
	.wp-block-blockgallery-carousel .blockgallery--figure {
		height: 100%;
		text-align: center;
	}
}
