.wp-block-audio {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 100px auto 80px;
    padding: 0 0 15px 0;
    border-radius: 6px;
    background: #222;

    .fa-podcast {
        margin-right: 10px;
    }

    .fa-download {
        margin-left: 15px;
    }

    figcaption {
        margin-bottom: 0;
        padding: 0 30px 0 0;
        font: bold 18px/28px $font-sans-serif;
        color: $white;
    }

    audio {
        display: block;
        margin: 10px 0;
        width: 90%;
        min-width: 0;
        filter: sepia(20%) saturate(10%) grayscale(1) contrast(89%) invert(90%)
    }

    .audio-link {
        margin: auto;
        height: 36px;
        width: 193px;
        border-radius: 18px;
        font: bold 14px/36px $font-sans-serif;
        color: $gray-med;
        text-indent: 15px;
        background-color: $gray-dark;
        transition-property: color, background-color;
        @include transition-ease-in-out;

        &:hover {
            color: $white;
            background-color: $primary;
        }
    }

     @include breakpoint(medium) {
        padding-left: 200px;
        background: url('../images/audio-player.jpg') no-repeat #222;
        background-size: auto 100%;

        figcaption {
            text-align: left;
        }

        audio {
            width: calc(100% - 50px);
        }

        .audio-link {
            margin: 0;
        }
     }
}