.author {
    &, a {
        font-family: $font-serif;
    }

    .numbered-pagination a {
        font-family: inherit;
        font-style: normal;
    }

    .author_heading {
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .author_content {
        padding: 0 3%;
    }

    .author_thumbnail {
        display: inline-block;
        vertical-align: middle;
        margin: 0 20px 0 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
		min-width: 60px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .author_name {
        font-size: 18px;
        line-height: 2;
        color: #F47A25;
    }

    .author_title {
        font-size: 18px;
        line-height: 2;
        color: $gray;

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 3px;
            height: 3px;
            margin: 0 5px;
            border-radius: 50%;
            background: $gray;
            position: relative;
            top: -3px;
        }
    }

    .author_bio {
        margin-top: 10px;
        font-size: 16px;
        line-height: 2;
        color: $gray;
        position: relative;

        p {
			font-family: 'Merriweather';
			font-style: italic;
            margin-top: 0;
        }
    }

    .author_link {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        flex: 0;
        margin-top: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1;
        font-family: $font-sans-serif;
        color: $black;
        text-decoration: none;
        position: relative;
    }

    .author_icon {
        margin-left: rem-calc(25);
        display: inline-block;
        border: 1px solid rgba($black, 0.5);
        width: rem-calc(35);
        height: rem-calc(35);
        border-radius: 50%;
        text-align: center;
        line-height: rem-calc(35);
        font-size: rem-calc(14);

        svg {
            margin: 0;
            vertical-align: -0.08em;
            color: $black;
        }
    }

    // Footer variant
    &.--footer {
        margin: 20px 0 0;
        padding: 30px  0px;
        border-top: 1px solid $gray-lightest-border;
        border-bottom: 1px solid $gray-lightest-border;

		@include breakpoint (medium){
            margin-top: 60px;
        }

        @include breakpoint (large){
			padding: 30px  40px;
		}

		.byline{
			display: flex;
		}

		.author_bio {
			margin-top: bsu(1);

			@include breakpoint (large) {
				margin-top: 10px;
			}
		}

		.author_title{
			line-height: rem-calc(18);
		}
    }

    // Banner variant
    &.--banner {
        font-style: italic;
        font-size: 18px;
        line-height: 2;

        .author_thumbnail {
            display: block;
            border: 2px solid $white;
            margin: 0 auto;
        }

        &,
        & a,
        .author_title {
            color: $white;
        }

        .author_title:before {
            background-color: $white;
        }

        .author_thumbnail img {
            filter: none;
        }
    }

    // Tile variant
    &.--tile {
        font-size: rem-calc(12);
        @include breakpoint(xlarge) {
            font-size: rem-calc(14);
        }
        &, a {
            font-style: normal;
            font-family: $font-sans-serif;
            color: $gray-lighter;
        }

        a:hover {
            color: $primary;
            text-decoration: underline;
        }

        .author_name {
            font-size: inherit;
            line-height: 1;
        }
    }

	.single-post &{

		.byline .vcard{
			font-family: 'Merriweather';
			font-style: italic;
		}

		.author_title {
			font-family: 'Merriweather';
			font-style: italic;
		}

		.author_bio {
			font-family: 'Modelica Medium Italic';
			font-style: italic;
			color: $gray;
		}
	}

    .results {
        article:hover {
          .entry-title {
            text-decoration: underline;
          }
        }
    }
}

.posted-on {
    font-family: "Modelica Bold";
    font-weight: bold;
    color: $gray-lighter;
    text-transform: uppercase;
    white-space: nowrap;
}
