/**
 * Author picks block
 *
 * @since   1.0.0
 * @package oep
*/
/*
.author-picks{
	margin: 40px 0 0;

	@include breakpoint (xlarge) {
		margin: 80px 0 0;
	}

	ul.posts{

		@include breakpoint (xlarge) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.post{
		width: 100%;
		margin-top: 0;
		margin-bottom: 25px;

		@include breakpoint (xlarge) {
			width: 48%;
			margin-bottom: 50px;
		}
	}

	figure{
		height: 220px;
		border-radius: 6px;

		img{
			@include cover-image();
		}
	}

	.posts .post+.post{
		margin-top: 0;
	}
}
*/