/**
 * Button
 *
 * @since   1.0.0
 * @package oep
 */

/**
 * Base button hover
 */
@mixin button-hover {
	background-color: $primary-light;
	border-color: $primary-light;
}


/**
 * Secondary hovered/focused button
 */
@mixin button-secondary-hover {
	background-color: $gray;
	border-color: $gray;
}


/**
 * Ghost button hover
 */
@mixin button-ghost-hover {
	color: $white;
	border-color: $primary;
	background-color: $primary;

	&.light {
		color: $black;
		background-color: $white;
		border-color: $white;
	}
}


/**
 * Secondary button
 */
@mixin button-secondary {
	background-color: $black;
	border-color: $black;

	&:hover, &:focus {
		@include button-secondary-hover;
	}
}


/**
 * Light ghost button
 */
@mixin button-ghost-light {
	color: $gray;
	border-color: $white;
}


/**
 * Ghost button
 */
@mixin button-ghost {
	color: $primary;
	background-color: transparent;
	border: $border-width solid $primary;

	&:hover, &:focus {
		@include button-ghost-hover;
	}

	&.light {
		@include button-ghost-light;
	}
}


/**
 * Text-only button with offset padding
 *
 * @since 1.2.0
 */
@mixin button-text-only {
	background: none;
	padding: rem-calc(6);
}


/**
 * Text-only button for usage over light background
 *
 * @since 1.2.0
 */
@mixin button-text-only-black {
	color: $black;
	font-size: rem-calc(16);

	.icon, .icon-wrap {

		&:first-child {
			margin-right: rem-calc(3);
		}
		&:last-child {
			margin-left: rem-calc(3);
		}

		// had to use path because we were too specific
		path {
			fill: $primary;
		}
	}
}


/**
 * Base button
 */
@mixin button {
	@include flex-row( true, true );
	padding: rem-calc(12) rem-calc(25);
	text-align: center;
	font-family: "Modelica Bold";
	font-size: rem-calc(14);
	font-weight: bold;
	font-style: normal;
	background: $primary;
	border: none;
	border-radius: rem-calc(6);
	outline: none;
	cursor: pointer;
	transition-property: background-color, border-color, color;

	@include transition-ease-in-out;

	&, &:visited {
		color: $white;
	}

	.icon, .icon-wrap {
		&:first-child {
			margin-left: rem-calc(-3);
			margin-right: rem-calc(10);
		}
		&:last-child {
			margin-left: rem-calc(10);
		}
	}

	span {
		display: inline-block;
	}

	&:hover, &:focus {
		@include button-hover;
	}

	&.secondary {
		@include button-secondary;
	}

	&.ghost {
		@include button-ghost;
	}

	&.text-only {
		@include button-text-only;
	}

	&.text-only-black {
		@include button-text-only-black;
	}

}

body:not(.block-editor-page){
	button, [role="button"], [type="submit"], [type="button"] {
		@include button;
	}
}
.wp-block-button__link {
	@include button;

	.text-only & {
		@include button-text-only;
	}

	.text-only-black & {
		@include button-text-only-black;
	}
}
