// These styles are for event-related markup:
// Event block, Event Single, etc
// [role=main]>article {
//     flex: 7;
// }

// [role=main]>aside {
//     flex: 5;
// }

// Event block stuff
.event_date {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 8px 15px;
	min-width: 74px;
	min-height: 90px;
	border-bottom: 6px solid $primary;
	font-family: 'Modelica Bold';
	font-size: 14px;
	line-height: 1.9;
	letter-spacing: 2px;
	color: $black;
	text-align: center;
	text-transform: uppercase;
	background: $white;
	border-radius: 6px;

	strong {
		display: block;
		font-size: 32px;
		line-height: 1.2;
		letter-spacing: initial;
	}

	.post_thumbnail & {
		margin-right: bsu(3/4);
	}
}

.event_date_large {
	@include breakpoint( xlarge ) {
		min-width: 94px;
		min-height: 110px;
		border-bottom-width: 8px;
		font-size: 18px;

		strong {
			font-size: 40px;
		}
	}
}

// Event Single, Event block on landing pages
body.single-oep_cpts_event,
body.single-oep_cpts_lan-page .wp-block-oep-event-text,
body.single-oep_cpts_lan-page .recent-posts,
body.home .recent-posts {

	.banner,
	.event-block,
	.oep_cpts_event {
		position: relative;
		align-items: flex-end;
		justify-content: flex-end;
		text-align: left;
		min-height: auto;
		height: calc(66vh - 180px);
		max-height: rem-calc(590);


		img.attachment-banner {
			filter: none;
		}

		.wrap {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			max-width: 1530px;
			padding: 30px 0;

			h1 {
				margin: 0; // 0 0 0 40px;
			}
		}
	}

	.entry-meta {
		display: flex;
		flex-direction: column;
		margin: 0 8%;

		@include breakpoint( large ) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.entry-header .entry-meta {
		border-bottom: 1px solid $gray-light;
		padding-bottom: 40px;
	}

	.event_registration {
		margin-top: 20px;
		margin-left: 0;
		width: 280px;
		height: 70px;
		justify-content: center;

		.text {
			font-size: 16px;
			line-height: 1.25;
			white-space: nowrap;
		}

		@include breakpoint( large ) {
			margin-top: 0;
			margin-left: 20px;
		}
	}

	.event_details {

		li {
			font: 18px/1.5 'Modelica Bold';

			+ li {
				margin-top: 30px;
			}

			> span {
				vertical-align: middle;
				margin-right: 20px;

				svg {
					width: 30px;
					height: 30px;
					color: $black;
				}
			}
		}
	}

	.entry-content {
		margin: 30px 0;
	}

	.tag-list {
		margin: 0;
	}
	.tag-list_title {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 1.25;
	}

	.tag-list_tag {
		display: inline;
		margin-inline-start: 0;

		+ .tag-list_tag {
			margin-left: 10px;
		}

		a {
			display: inline-block;
			padding: 1px 10px;
			border: 1px solid $gray-med;
			border-radius: 12.5px;
			font: 12px/2 $font-sans-serif;
			font-style: normal;
			color: $black;
			transition-property: color, border-color;
			@include transition-ease-in-out;

			&:hover {
				border-color: $primary;
				color: $primary;
			}
		}
	}

	.social-share {
		display: block;
		margin-top: 20px;

		@include breakpoint( large ) {
			margin-top: 0;
		}
	}

	.social-share_title {
		margin-bottom: 10px;
		font-weight: normal;
		line-height: 1.25;
		color: #222;
		font-family: Modelica Regular,sans-serif;
	}

	.entry-footer .entry-meta {
		.a2a_kit {
			display: flex;
			position: static;
			flex-wrap: nowrap;
			flex-direction: row;
			margin: 0 -5px;

			a {
				margin: 0 5px;
				padding: 0;
			}

			.a2a_svg {
				border: 0;
			}
		}

		& + .a2a_kit {
			display: none;
		}
	}
}


//Event Single Specific Styling
body.single-oep_cpts_event {

	[role=main].wrap{
		max-width: 1270px;
		display: block;

		.oep_cpts_event {
			max-height: none;
			max-width: 1270px;
			margin: 0 auto;
		}

		.entry-meta {
			margin: 0 auto;
		}

		.entry-content p {
			margin-left: 0;
			width: 100%;
		}

		.entry-footer {

		}
	}

	section.additional-items {
		width: 100%;
		max-width: none;
		display: block !important;

		// .wrap{
		// 	max-width:
		// }
	}
}


//Recent Events Block
.recent-events {
	background: $gray-lightest;
	padding: bsu(2) 0;

	@include breakpoint( large ) {
		padding: bsu(2.5) 0;
	}

	.wrap {
		width: 100%;
		max-width: 1530px;
		margin: 0 auto;
	}

	.headline {
		width: 100%;
		margin-bottom: rem-calc(50);

		@include breakpoint( large ) {
			display: flex;
			justify-content: space-between;
		}

		h2 {
			margin: 0;
		}
	}

	.posts {

		@include breakpoint( large ) {
			display: flex;
		}

		.post + .post {
			margin-top: 0;
		}

		.post {
			width: 100%;
			height: 290px;
			margin-bottom: bsu(1);

			@include breakpoint( large ) {
				flex: 0 0 31%;
				margin-right: 3%;

				&:nth-of-type(3n) {
					margin-right: 0px;
				}
			}

			&:hover {
				box-shadow: 0px 8px 26px rgba(0,0,0,.3);
			}


			figure {
				width: 100%;

				figcaption {
					display: flex;
					align-items: flex-end;
					width: 100%;
					padding: rem-calc(15);
					// background: linear-gradient(90deg, #F47B20 0%, rgba($red,0.9) 47.51%, rgba($purple,0.8) 100%);
				}
			}

			.post_link:hover {
				box-shadow: 0px 8px 26px rgba(0,0,0,.3);
			}

			.post_link:hover ~ .post_thumbnail figcaption {
				background: linear-gradient(90deg, #F47B20 0%, rgba($red,0.9) 47.51%, rgba($purple,0.8) 100%);
			}

			.post_link ~ .post_thumbnail .post_thumbnail-wrap:after {
				background: none;
			}
		}
	}

	.more-link {
		text-decoration: none;

		&.desktop {
			display: none;
			margin: 0;

			@include breakpoint( large ) {
				display: flex;
			}
		}

		&.mobile {
			display: flex;

			@include breakpoint( large ) {
				display: none;
			}
		}
	}
}

// Event Listing
.post-type-archive-oep_cpts_event {
	@include grid();

	@include breakpoint( large ) {
		.page-header {
			margin-top: 0;
			display: flex;
			justify-content: space-between;
		}
	}

	.site-main {
		.post {
			position: relative;
		}

		.post_thumbnail {
			overflow: hidden;
			display: flex;
			flex-flow: nowrap column;
			width: 100%;
			height: rem-calc(290);
			justify-content: flex-end;

			&:before {
				@include overlay(1);
				top: 0;
				content: "";
				border-radius: $border-radius;
				background: linear-gradient(to top, rgba($black, 0.8) 0, rgba($black, 0.2) 50%);
				// max-height: rem-calc(225);
			}

			&:after {
				@include overlay(1);
				top: 0;
				content: "";
				border-radius: $border-radius;
				background: linear-gradient(to top, rgba($black, 1) 0, rgba($black, 0.2) 50%);
				// max-height: rem-calc(225);
				opacity: 0;
				@include transition-ease-in-out();
			}
		}

		.post_thumbnail-wrap {
			border-radius: 6px;
			height: 100%;
			width: 100%;
			background-color: #4F4E55;
			position: absolute;
			left: 0;
			top: 0;
			overflow: hidden;

			&:after {
				display: none;
			}

			img {
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 6px;
			}
		}

		figcaption {
			display: flex;
			align-items: flex-end;
			padding: 15px;
			position: relative;
			z-index: 1;

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 0 0 6px 6px;
				position: absolute;
				left: 0;
				top: 0;
				background: linear-gradient(90deg, $primary 0%, rgba($red,0.9) 47.51%, rgba($purple,0.8) 100%);
				z-index:-1;
				opacity: 0;
				transition-property: opacity;
				@include transition-ease-in-out;
			}

			&,
			a {
				color: $white;
			}
		}

		.event_details {
			padding-bottom: 5px;
			font-size: 14px;
			line-height: 17px;

			span:last-child {
				@include arrow-right-link();
				opacity: 0;
				transition-property: opacity;
				@include transition-ease-in-out;
			}

		}

		.post_title + span {
			display: block;
			margin-top: 10px;
		}

		.post_link:hover + .post_thumbnail {
			figcaption:before,
			.event_details span:last-child {
				opacity: 1;
			}
		}
	}
}


//event single
body.single-oep_cpts_event {

	.banner,
	.event-block,
	.oep_cpts_event {
		min-height: calc(66vh - 180px);
		height: auto;
	}

	.banner {

		// flush stuff left
		.wrap,
		.pills {
			justify-content: flex-start;
		}

		.wrap {
			max-width: 1270px;

			@include breakpoint( large ) {
				padding: bsu(2) 0;
			}
		}

		.pills {
			margin-bottom: bsu(1/4);

			@include breakpoint( large ) {
				margin-bottom: bsu(2/5);
			}
		}

		.event_date {
			margin-right: bsu(3/4);

			@include breakpoint( large ) {
				margin-right: bsu(1.5);
			}
		}

		h1 {
			font-size: rem-calc(20);
			line-height: $line-height-small;

			@include breakpoint( medium ) {
				font-size: rem-calc(24);
			}

			@include breakpoint( large ) {
				font-size: rem-calc(32);
			}
		}

	} // .banner

	.entry-footer > .a2a_kit.addtoany_list {
		display: none;
	}

	section.additional-items.wrap {
		padding: 0 5%;
		background: $gray-lightest;
	}

}

//event listing
.post-type-archive-oep_cpts_event {

	main.wrap {
		margin-top: 0;

		@include breakpoint( large ) {
			margin-top: bsu(1);
		}

		h1 {
			@include breakpoint( large ) {
				font-size: rem-calc(32);
			}
		}

		.posts.--events {
			margin-top: bsu(1);
			justify-content: flex-start;

			@include breakpoint( large ) {
				margin-top: bsu(1);
			}
		}
	}
}
