.event-filter {
    margin-top: 20px;

    .wrap {
        width: auto;
    }

    label,
    select {
        margin-bottom: 0;
    }

    label {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    span,
    select {
        display: inline-block;
        vertical-align: middle;
    }

    span {
        white-space: nowrap;

        + select {
            margin-left: 20px;
        }
    }

    @include breakpoint (large) {
        margin-top: 0;
    }
}