/**
 * Form
 *
 * @since   1.0.0
 * @package oep
 */

form {

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

input, textarea, select, label, .field-prefix {
	display: block;
	width: 100%;
	font-family: "Modelica Medium";
	font-size: rem-calc(14);
	line-height: normal;

	&:focus {
		outline: none;
	}
}

input, textarea, select, .field-prefix {
	padding: rem-calc(16);
}

input, textarea, select {
	margin-bottom: bsu(2/3);
	background: $white;
	border: $border-width solid $gray-lighter;
	border-radius: rem-calc(6);
	transition-property: border-color;
	@include transition-ease-in-out;

	&:focus {
		border-color: $primary;
	}
}

textarea {
	resize: vertical;
	height: rem-calc(180);
}

[type="search"] {
	// -webkit-appearance: textfield;
	-webkit-appearance: none;
}

select {
	appearance: none;
}

select {
	padding-right: 52px;
	background-image: url( '../images/chevron-down.svg' );
	background-repeat: no-repeat;
	background-position: calc( 100% - 20px ) 50%;
	background-size: $global-font-size;

	&::-ms-expand {
		display: none;
	}
}

label {
	margin-bottom: bsu(1/4);
	padding-left: rem-calc(14);
}


/**
 * Checkboxes/radios
 */
[type="checkbox"],
[type="radio"] {
	position: absolute;
	width: 4px;
	height: 4px;
	opacity: 0;
}

[type="checkbox"] + label,
[type="radio"] + label,
.woocommerce-form__label-for-checkbox {
	position: relative;
	margin: 0 0 0 rem-calc(10);
	padding: rem-calc(6) 0 rem-calc(6) rem-calc(40);
	width: auto;
	cursor: pointer;
	transition-property: color;

	.gfield_checkbox &,
	.gfield_radio & {
		margin-left: rem-calc(8);
	}

	&, &:before, &:after {
		@include transition-ease-in-out;
	}

	&:before, &:after {
		content: '';
		position: absolute;
	}

	&:before {
		top: rem-calc(5);
		left: 0;
		margin-right: rem-calc(14);
		width: 25px;
		height: 25px;
		border: $border-width solid $gray;
		transition-property: border-color;
	}

	&:after {
		top: 12px;
		left: 7px;
		width: 11px;
		height: 11px;
		transform: scale(0);
		transition-property: background, transform;
	}

	&:hover {
		color: $primary;
	}

} // checkbox and radio labels

// focus
[type="checkbox"]:focus + label,
[type="radio"]:focus + label {

	&:before {
		border-color: $primary;
	}
}

// checked
[type="checkbox"]:checked + label,
[type="radio"]:checked + label,
.woocommerce-form__label-for-checkbox.input-checked {

	&:after {
		transform: scale(1);
		background: $primary;
	}
}

// radios
[type="radio"] + label:before,
[type="radio"] + label:after {
	border-radius: 9999px;
}

.fields > li ul, ul.gfield_checkbox,
.fields > li ul, ul.gfield_radio {
	margin: bsu(1/4) 0 bsu(2/3);
}

// datepicker field
.ginput_container_date {
	position: relative;

	.svg-inline--fa {
		position: absolute;
		top: 50%;
		right: rem-calc(20);
		font-size: rem-calc(20);
		transform: translateY( -50% );
		color: $gray;
	}
}

// submit
[type="submit"] {
	margin-top: bsu(1/3);
}

// input prefix
.input-wrap {
	position: relative;
}

.field-prefix {
	position: absolute;
	padding-right: 0;
	width: auto;
	border: $border-width solid transparent;
	pointer-events: none;

	// this will be overridden by JS to account for variable characters
	+ input {
		padding-left: rem-calc(26);
	}
}


/**
 * Validation
 */
.validation_error,
.validation_message,
.validation-message {
	color: $red;
	font-size: $global-font-size;
}

.validation_error {
	margin-bottom: bsu(1);
	padding: rem-calc(15) rem-calc(20);
	text-align: center;
	border: $border-width solid $red;
}

.validation_message,
.validation-message {
	margin-top: bsu(-1/3);
	margin-bottom: bsu(3/4);
	padding-left: rem-calc(13);

	.gfield_checkbox &,
	.gfield_radio & {
		padding-left: rem-calc(12);
	}

	.svg-inline--fa {
		margin-right: rem-calc(7);
	}

	@include breakpoint( medium ) {
		margin-top: bsu(-1/2);
	}
}

.fields > li.error, .gfield_error {

	input, textarea, select {
		border-color: $red;
	}
}


/**
 * Layout
 */
.fields, .gform_fields {
	font-size: 0;
	margin: 0 bsu(-1/2);
}

.fields > li, .gfield {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0 bsu(1/2);
	width: 100%;

	@include breakpoint( medium ) {

		&.one-half {
			width: 50%;
		}
	}
}

// Prevent viewport from zooming in on iOS
// https://blog.osmosys.asia/2017/01/05/prevent-ios-from-zooming-in-on-input-fields/

/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[type="search"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[type="search"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[type="search"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"], input[type="search"]{ font-size: 16px; }
}
