// Media CPT styles
// Tiles
.results {
    .type-oep_cpts_video,
    .type-oep_cpts_podcast {
        .post_thumbnail-wrap {
            svg {
                position: absolute;
                width: 70px;
                height: 70px;
                color: #fff;
                left: 50%;
                top: 50%;
                z-index: 1;
                display: block;
                transform: translate(-50%, -50%);
            }
        }
    }
}
