/**
 * Newsletter Form - Hubspot embed
 *
 * @since   1.0.0
 * @package oep
 */

.newsletter, #editor div.newsletter{
	background: $primary url('../../assets/images/newsletter-bg.png') bottom right no-repeat;
	padding: rem-calc(27) rem-calc(15) ;
	border-radius: 6px;
	margin: bsu(1) rem-calc(10);
	background-size: cover;

	p{
		font: rem-calc(18)'Modelica Bold';
		line-height: rem-calc(28);
		text-align: center;
		color: $white;
		margin: 0;
		margin-bottom: bsu(2/3);
	}

	.newsletter-header{
		color: $white;
	}

	form{
		position: relative;

		input[type='email']{
			font: rem-calc(14) 'Modelica Regular';
			color: $black;
			padding: rem-calc(17) rem-calc(110) rem-calc(17) rem-calc(14);
			border-radius: 6px 0px 0px 6px;
			border: 0;
			width: 97%;
			margin-bottom: 7px;

			@include breakpoint (large){
				padding: rem-calc(17) rem-calc(130) rem-calc(17) rem-calc(14);
			}

			::placeholder {
				color: $black;
			}
		}

		//submit button container
		.hs_submit{
			position: absolute;
			top: 0;
			right: 0;
		}

		//submit button
		input[type='submit']{
			width: 100px;
			background: $black;
			padding: rem-calc(17) rem-calc(28);
			border-radius: 0px 6px 6px 0px;
			margin: 0;
			border: 0;
			text-align: center;
			justify-content: center;
			color: $white;

			@include breakpoint (large){
				width: 126px;
			}

			&:hover{
				background: $gray-dark;
			}
		}

		//hide labels for email input and main checkbox group
		.hs_email label, .hs-fieldtype-checkbox label {
			display: none;
		}

		//checkboxes
		[role="checkbox"]{
			margin: 0 !important;
			line-height: 27px;
			text-align: center;

			@include breakpoint (large){
				text-align: left;
			}

			li{
				display: inline-block;
				margin: 0;
				margin-right: 10px;
				white-space: nowrap;
			}
		}

		[type='checkbox']{
			position: absolute;
			width: 17px;
			height: 17px;
			top: 0;
			left: 0;
			opacity: 1;
			border: 0;
			border-radius: 5px;
			box-shadow: none;
			outline: none;
		}

		//show individual checkboxes' labels
		.hs-form-checkbox label {
			display: inline;
			position: relative;

			span{
				color: $white;
				font-family: 'Modelica Bold';
				font-size: 1rem;
				padding-left: 9px;
				padding-right: 27px;
			}
		}
	}

	//aside specific styles
	aside &{
		padding: rem-calc(27) rem-calc(15)  rem-calc(18) rem-calc(15);


		//submit button container
		.hs_submit{
			@include breakpoint (large) {
				position: relative;
				top: 0;
				right: 0;
			}

			@include breakpoint (xxlarge) {
				position: absolute;
				top: 0;
				right: 0;
			}
		}


		input[type='email']{
			padding: rem-calc(17) rem-calc(110) rem-calc(17) rem-calc(14);

			@include breakpoint (large) {
				padding: rem-calc(17) rem-calc(14) rem-calc(17) rem-calc(14);
				border-radius: 6px;
			}

			@include breakpoint (xxlarge) {
				padding: rem-calc(17) rem-calc(110) rem-calc(17) rem-calc(14);
				border-radius: 6px;
			}
		}

		input[type='submit']{
			width: 100px;

			@include breakpoint (large) {
				width: 100%;
				border-radius: 6px;
				margin-top: bsu(1/4);
			}

			@include breakpoint (xxlarge) {
				width: 100px;
				border-radius: 0px 6px 6px 0px;
				margin-top: 0;
			}
		}

		//checkboxes
		[role="checkbox"]{
			text-align: left;

			@include breakpoint (large) {
				margin-top: bsu(1/4);
			}

			li{
				display: inline-block;
			}
		}
	}

	//footer specific styles
	footer &{
		background: none;
		width: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: bsu(1/2);
		order: -1;

		@include breakpoint (large) {
			order: initial;
			margin-top: bsu(2);
		}

		form{
			max-width: 450px;
		}

		p{
			font: rem-calc(14)'Modelica Bold';
			line-height: rem-calc(17);
			@include font-smoothing();
			margin-bottom: bsu(2/3);
			text-align: left;
			color: $white;
		}

		input[type='submit']{
			background: $primary;
		}

		[role="checkbox"]{
			text-align: left;
		}

		.hs-form-checkbox label span{
			color: $gray-lighter;
			font-size: .8rem
		}
	}
}

//home page title styles
body.home [role=main] .wp-block-oep-column-sidebar .wp-block-column p.newsletter-header{
	font-family: 'Modelica Bold';
	font-size: rem-calc(18);
	color: $white;
	margin: 0;
}
