/**
 * Pagination
 *
 * @since 1.0.0
 */

// prev/next buttons
.nav-links {
	font-size: 0;

	.nav-previous, .nav-next {
		display: inline-block;

		&:nth-child(2) {
			margin-left: bsu(1/3);
		}
	}

	a {
		@include button;
	}
}

// numbered
.numbered-pagination {
	width: 100%;
	line-height: 1;

	ul, li, a,
	.current, .dots {
		display: flex;
		flex-flow: row nowrap;
	}

	ul, a,
	.current, .dots {
		justify-content: center;
	}

	body.term main div.results & a,
	a, .current, .dots {
		align-items: center;
		padding: rem-calc(9) rem-calc(11);
		min-width: rem-calc(44);
		color: $gray-light;
	}

	a, .current {
		border-bottom: $border-width solid $gray-light;
		line-height: 1.25;
	}

	body.term main div.results & a:hover,
	a:hover,
	.current {
		border-color: $primary;
		color: $primary;
	}

	a {
		font-family: inherit;
		font-style: normal;
		transition-property: color, border-color;
		@include transition-ease-in-out;
	}

	.dots,
	.prev, .next {
		padding-left: rem-calc(6);
		padding-right: rem-calc(6);
		min-width: 0;
	}

	.current, .dots {
		cursor: default;
	}

	.prev, .next {
		font-size: 0;
		color: $gray;

		&, &:hover {
			border-color: transparent;
		}

		.svg-inline--fa {
			font-size: $global-font-size;
		}
	}

} // .numbered-pagination

// bonus! ajax pagination extras

.pagination-overlay {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	min-height: rem-calc(200);
	img {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}
