ul.pills {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 3; // needs to be >= body.taxonomy main#main article>a[role=link], body.term main#main article>a[role=link] (z-index: 3)

  li {
    border-width: $border-width;
    border-style: solid;
    border-color: transparent;
    margin: rem-calc(5) rem-calc(5) rem-calc(5) 0;
    font-family: "Modelica Extra Bold";
    font-weight: bold;
    font-size: rem-calc(10);
    line-height: 1;
    text-transform: uppercase;
    border-radius: rem-calc(11);
    color: $white;
    background-color: rgba($gray, 0.65); //default color
    max-width: rem-calc(200);

    &:nth-child(n+2) {
      display: none;
    }

    a {
      display: block;
      padding: rem-calc(3) rem-calc(10);
      @include breakpoint(large) {
        padding: rem-calc(5) rem-calc(10);
      }
      text-decoration: none;
      color: inherit;
      font-family: inherit;
      font-style: normal;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // Hiding pills on large and xlarge because area is too small
  aside & li + li {
    @include breakpoint(large) {
      display: none;
    }

    @include breakpoint(xxlarge) {
    }
  }

  // main thumbnail in grid
  .-primary &,
  &.solid {
    li {
      color: $white;
    }
  }

  &.solid {
    li {
      border-color: transparent;
    }
  }

  &.ghosts {
    li {
      font-family: "Modelica Bold";
      font-weight: bold;

      .featured & {
        a {
          color: $white;
        }

        @include breakpoint(large) {
          background-color: transparent;
          a {
            color: inherit;
          }
        }
      }
      .has-4-posts &,
      .has-5-posts & {
        a {
          color: $white;
        }

        @include breakpoint(large) {
          background-color: transparent;
          a {
            color: inherit;
          }
        }
      }
    }
  }

  // article single banner
  .banner & {
    li:first-child {
      color: $white;
    }

    li:nth-child(n+2) {
      display: block;
      color: $white;
      border-color: $white;
      background-color: transparent;
    }
  }

  .terms & {
    li:nth-child(n+2) {
      display: block;
    }
  }

  .post_thumbnail & {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2; // Should be higher than .post_link
  }

  header.banner & {
    justify-content: center;
  }
}
ul.ghosts > li {
  color: $gray-light;
  border-color: $gray-lightest-border;
}