.posts{
    .post {
        position: relative;

        & + .post {
            margin-top: 50px;
        }

        figure {
            margin: 0;
        }
    }
    
    .post_thumbnail-wrap {
        border-radius: 6px;
        height: 220px;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background: rgba($black, 1);
            position: absolute;
            top: 0;
            opacity: 0;
            @include transition-ease-in-out;
        }

        img {
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }
    }

    .post_link:hover + .post_thumbnail .post_thumbnail-wrap {
        &:after {
            opacity: 0.3;
        }
    }

    .post_thumbnail {
        margin-top: 0;
        position: relative;
        overflow: hidden;

        > figure {
            margin: 0;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }
    }

    .post_link {
        display: block;
        width: 100%;
        height: 100%;
        color: $black;
        font-style: normal;
        font-family: $font-sans-serif;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
    }

    .post_title {
        margin-top: 10px;

        @include breakpoint( large ) {
            width: 100%;
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include breakpoint( xxlarge ) {
            white-space: normal;
            overflow: auto;
            text-overflow: unset;
        }
    }

    .post_type {
        vertical-align: baseline;
        font-size: 10px;
        line-height: 1.2;
        color: $gray-lighter;
        text-transform: uppercase;
        white-space: nowrap;
        
        svg {
            color: $gray-lighter;
        }
    }

    .post_meta {
        margin-top: 5px;
        font: 14px/1.2 $font-sans-serif;
        color: $gray-lighter;

        strong {
            text-transform: uppercase;
        }
    }

    &.--related {

    }

    &.--featured {
        .post {
            position: relative;

            figure.post_thumbnail {
                overflow: hidden;
                display: flex;
                flex-flow: nowrap column;
                width: 100%;
                height: rem-calc(225);
                justify-content: flex-start;

                &:before {
                    @include overlay(1);
                    top: 0;
                    content: "";
                    border-radius: $border-radius;
                    background: linear-gradient(to top, rgba($black, 0.8) 0, rgba($black, 0.2) 50%);
                    max-height: rem-calc(225);
                }

                &:after {
                    @include overlay(1);
                    top: 0;
                    content: "";
                    border-radius: $border-radius;
                    background: linear-gradient(to top, rgba($black, 1) 0, rgba($black, 0.2) 50%);
                    max-height: rem-calc(225);
                    opacity: 0;
                    @include transition-ease-in-out();
                }

                div.pills-container {
                    width: 100%;
                    position: relative;
                    z-index: 4;
                }

                div.post_thumbnail-wrap {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                figcaption {
                    margin-top: auto;
                    position: relative;
                    z-index: 4;
                    display: flex;
                    flex-flow: column nowrap;

                    h3.post_title {
                        position: relative;
                        order: 2;
                        padding-top: 0;
                        margin-top: 0;

                        a {
                            font-family: inherit;
                            font-weight: inherit;
                            font-style: normal;
                            font-size: inherit;
                            color: inherit;
                        }
                    }

                    footer {
                        position: relative;
                        order: 1;
                        margin-left: rem-calc(15);
                        font-size: rem-calc(14);
                        display: none;
                        color: $white;

                        span {
                            a {
                                font-size: inherit;
                            }
                            &.byline {
                                color: $white;
                                .author.--tile {
                                    color: inherit;

                                    a {
                                        color: inherit;

                                        &:hover {
                                            color: $primary;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            &.posted-on {
                                color: $gray-lighter;

                                a {
                                    font-family: "Modelica Bold";
                                    font-style: normal;
                                    font-weight: bold;
                                }
                            }
                        }

                        a {
                            color: inherit;
                        }
                    }
                }
            }

            > span {
                display: none;
                opacity: 0;
                @include transition-ease-in-out();
            }

            &:hover {
                figure {
                    &:after {
                        opacity: 1;
                    }

                    figcaption {
                        footer {
                            order: 1;
                            display: block;
                        }
                    }
                }

                > span {
                    display: block;
                    opacity: 1;
                    position: absolute;
                    right: rem-calc(20);
                    bottom: rem-calc(15);
                    width: rem-calc(35);
                    height: rem-calc(35);
                    z-index: 4;
                    margin: auto;
                    text-align: center;
                    border-radius: 50%;
                    border: solid $border-width $white;
                    background-color: rgba($white, 0.2);
                    font-size: rem-calc(14);

                    svg {
                        color: white;
                    }
                }
            }
        }
        
        .post_title {
            padding: 10px 15px;
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .pill + .pill {
            display: none;
        }
    }

    &.--upcoming-events, &.event-block, &.oep_cpts_event {
        .post, .oep_cpts_event {
            display: flex;
            border-radius: 6px;
            min-height: 180px;
            overflow: hidden;
            box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
        }

        aside & .event_date {
            border-radius: 0;
        }

        .post_thumbnail {
            display: flex;
            width: calc(100% - 95px);
            position: relative;

            > span {
                @include arrow-right-link();
                opacity: 0;
                visibility: hidden;
                transition-property: opacity, visibility;
                z-index: 1;
                @include transition-ease-in-out;
            }
        }

        .post_thumbnail-wrap,
        .post_thumbnail-wrap img {
            border-radius: 0;
        }

        .post_thumbnail-wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;

            &:before,
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                transition-property: opacity, visibility, width;
                @include transition-ease-in-out;
            }

            &:before {
                background: $black;
                opacity: .5;
                z-index: 1;
                transition-delay: .3s
            }

            &:after {
                background: linear-gradient(90deg, #F47B20 0%, rgba($red,0.9) 47.51%, rgba($purple,0.8) 100%);
                visibility: hidden;
                opacity: 0;
                z-index: 1;
            }
        }

        figcaption {
            align-self: flex-end;
            padding: 30px 55px 10px 30px;
            color: $white;
            position: relative;
            z-index: 1;
        }

        .event_title {
            font-size: 18px;
            line-height: 28px;
        }

        .event_cta {
            display: inline-block;
            font-size: 14px;
            line-height: 17px;
        }

        .post_link:hover {
            ~ .post_thumbnail {
                .post_thumbnail-wrap:before {
                    // opacity: 0;
                    // visibility: hidden;
                }

                > span,
                .post_thumbnail-wrap:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .more-link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 30px;
            font: 14px/1.2 'Modelica Bold';
            text-align: right;

            > span {
                @include arrow-right-link();
            }

            > span {
                position: static;
                margin-left: 15px;
                border-color: $black;
                
                svg {
                    height: 35px;
                    margin: 0 auto;
                }
            }

            &,
            > span,
            > span svg {
                color: $black;
            }

            &:hover {
                text-decoration: underline;

                > span {
                    border-color: $primary;
                }
                
                &,
                > span svg {
                    color: $primary;
                }
            }
        }
    }
    
    &.--events {
        // margin: 1.875rem 0;
        margin: 60px 0 0;
    }

    // 1-off variant when tile appears in sidebar
    .single main aside & .post {
        
        @media only screen and (min-width: 1024px) and (max-width: 1440px) {
            flex-direction: column-reverse;

            &.event {
                figcaption {
                    padding: 0 rem-calc(15);
                }
            }
            figcaption {
                padding: 0px;
            }

            .post_thumbnail {
                width: 100%;
                max-width: none;
            }

            .post_title {
                font-size: 18px;
                overflow: hidden;
                white-space: initial;
            }
        }
    }

    @include breakpoint (xxlarge) {
        flex-direction: row;

        figcaption {
            padding: 0;
        }

        .post_thumbnail {
            width: 100%;
            max-width: none;
        }

        .post_title {
            overflow: hidden;
            // white-space: nowrap;
            font-size: 18px;
        }
    }
}
