/**
 * PR Card (post singles)
 *
 * @since 1.0.0
 */

.pr-card, #editor .pr-card {
    margin: 40px 8% 0;

    .wp-block-column {
        margin: 0;
    }

    .wp-block-image {
        img {
            display: block;
        }
    }

    p {
        margin: 20px 0 0;
        color: $gray;
    }

    a {
        color: $gray;

        &:hover,
        &:focus {
            color: $primary;
        }
    }

    // 2 column variant
    &.has-2-columns {
        flex-direction: column;

        .wp-block-image {
            margin-left: 8%;
            margin-right: 8%;
        }

        .wp-block-column,
        > .editor-inner-blocks>.editor-block-list__layout>.wp-block:nth-child(1)
        {
            h4 {
                margin-top: 45px;
            }

            p {
                font-size: 16px;
            }

            .single & p {
                margin-left: 0;
                margin-right: 0;
            }
        }
        
        .wp-block-column + .wp-block-column,
        > .editor-inner-blocks>.editor-block-list__layout>.wp-block:nth-child(2)
        {
            p {
                font-size: 14px;
            }
        }

        @include breakpoint( xlarge ) {
            margin: 40px calc(8% - 40px) 0;
            box-shadow: 0 2px 10px 0 rgba(0,0,0,0.08);
            flex-direction: row;
            position: relative;

            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background: $gray-lightest-border;
                position: absolute;
                top: 0;
                left: 70%;
            }

            .wp-block-column,
            > .editor-inner-blocks>.editor-block-list__layout>.wp-block:nth-child(1)
            {
                flex-basis: 70%;
                padding: 0 5% 50px;
            }
            .wp-block-column + .wp-block-column,
            > .editor-inner-blocks>.editor-block-list__layout>.wp-block:nth-child(2)
            {
                flex-basis: 30%;
                padding: 0 4% 40px;

                p {
                    font-style: italic;
                }
 
                p + p  {
                    position: relative;
                    font-style: normal;
                    font-weight: bold;

                    &:before {
                        content: '';
                        display: block;
                        width: 30%;
                        height: 3px;
                        background: $gray-lightest-border;
                        position: absolute;
                        left: 0;
                        top: -10px;
                    }
                }
           }
        }
    }
}