/**
 * Read More Link for truncating text in posts
 *
 * @since 1.0.0
 */

.read-more-link{
	display: inline;
	margin: 0;
	padding: 0;
}

span[id^=more-]{
	color: $primary;
	cursor: pointer;
	display: inline;
	margin: 0;
	padding: 0;
}
