/**
 * Responsive Embed
 *
 * @since   1.0.0
 * @package oep
 */

.embed-container {
	@include responsive-embed-container;
}

/**
 * WYSIWYG embeds
 */
.wp-block-embed {

	.entry-content-asset > * {
		margin: auto;
		text-align: center;
	}
}


//video close button
.featherlight-close-icon{
	display: flex;
	justify-content: center;
	align-items: center;
}
