/**
 * Banner "scroll down" indicator thing
 *
 * @since   1.2.0
 * @package oep
 */
.scroll-down {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	.scroller::before, .scroller::after,
	.scroller-triangle,
	.scroller-wheel, .scroller-wheel::after {
		position: absolute;
	}

	.scroller::before, .scroller::after,
	.scroller-wheel,
	.scroller-triangle {
		animation-duration: 3s;
		animation-timing-function: 3s;
		animation-iteration-count: infinite;
	}

	.scroller {
		position: relative;
		margin-top: bsu(3/4);
		width: 35px;
		height: 87px;
		border: 2px solid rgba( $primary-light, 0.59 );

		&,
		&::before, &::after {
			border-radius: 999px;
		}

		// dots
		&::before, &::after {
			content: '';
			left: 14px;
			width: 3px;
			height: 3px;
			background: $white;
		}

		&::before {
			top: 48px;
			animation-name: scrollerFirstDotFade;
		}

		&::after {
			top: 59px;
			animation-name: scrollerSecondDotFade;
		}
	} // .scroller

	.scroller-triangle {
		top: 70px;
		left: 12px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 4px 3.5px 0 3.5px;
		border-color: $white transparent transparent transparent;
		animation-name: scrollerTriangleFade;
	}

	.scroller-wheel {
		top: 7px;
		left: 6px;
		width: 19px;
		height: 33px;
		background: $white;
		animation-name: scrollerScroll;

		&, &::after {
			border-radius: 999px;
		}

		&::after {
			content: '';
			top: 5px;
			left: 50%;
			width: 2px;
			height: 10px;
			transform: translateX(-50%);
			background: $primary;
		}
	}
}

@keyframes scrollerScroll {

	0%, 25%, 100% {
		transform: translateY(0px);
	}

	45%, 70% {
		transform: translateY(36px)
	}
}

@keyframes scrollerFirstDotFade {

	0%, 25%, 100% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}
}

@keyframes scrollerSecondDotFade {

	0%, 28%, 100% {
		opacity: 1;
	}

	33% {
		opacity: 0;
	}
}

@keyframes scrollerTriangleFade {

	0%, 30%, 100% {
		opacity: 1;
	}

	35% {
		opacity: 0;
	}
}
