/**
 * Global search
 *
 * @since   1.0.0
 * @package oep
 */


//Search
.search-bar {
	display: block;
	width: 100%;
	background: $white;
	opacity: 0;
	transform: translateY(-100%);
	transition-property: transform, opacity;
	position: fixed;
	top: $header-height;
	left: 0;
	@include transition-ease-in-out;
	
	.admin-bar & {
		top: $header-height + 46px;
	}

	&.-active {
		transform: translateY(0);
		opacity: 1;
	}

	.wrap {
		padding: 20px 0;
	}

	label {
		width: 100%;
		margin-bottom: 0;
		padding-left: 0;

		.fa-search {
			position: absolute;
			top: 50%;
			right: 17px; // just happens to fit
			transform: translateY(-50%);
		}
	}

	[type=search] {
		margin-bottom: 0;
		border-width: 1px;
		background: $gray-lightest;
	}

	@include breakpoint( 782px ) {
		.admin-bar & {
			top: $header-height + 32px;
		}
	}

	@include breakpoint (menu-break) {
		display: flex;
		width: auto;
		position: static;
		transform: none;
		opacity: 1;
		
		.wrap {
			padding: 0;
		}

		label {
			position: relative;

			svg {
				display: block;
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
				pointer-events: none;
			}
		}

		[type=search] {
			border-color: transparent;

			&:focus {
				border-color: $primary;
			}
		}
	}

	@include breakpoint(xlarge) {
		width: auto;
		min-width: rem-calc(250);
	}
	
	@include breakpoint(xxlarge) {
		width: auto;
		min-width: rem-calc(365);
	}
}
