header[role=banner] .search-toggle {
    display: block;
    width: $header-height;
    height: $header-height;
    border: 0;
    margin-left: auto;
    border-radius: 0;
    background: none;
    position: relative;

    svg {
        color: $black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .site-menu .logo-toggle & {
            width: 100%;
        }
    }

    @include breakpoint (large) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

    @include breakpoint (menu-break) {
      display: none;
    }
}