.menu-sidebar {
    width: 100vw;
    height: 100vh;
    background: $white;
    z-index: 50; // Needs to be equal to or higher than header
    overflow: auto;
    transform: translateX(-100%);
    transition-property: transform;
    @include transition-ease-in-out;
    position: fixed;
    top: 0;
    left: 0;

    &.-active {
        transform: translateX(0);
    }

    .site-logo {
        display: block;
        padding: 35px 50px 35px 35px;
    }

    svg,
    .logo {
        width: 236px;
        max-width: 50vw;
    }

    @include breakpoint( medium ) {
        width: 420px;

        svg,
        .logo {
            max-width: none;
        }
    }

    .menu-sidebar_close {
        border: 0;
        border-radius: 0;
        width: 58px;
        height: 58px;
        background: #f8f8f8;
        color: $primary;
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-menu {
        display: block;
    }

    .menu-item {
        display: block;

        a {
            display: block;
            padding: 20px 50px;
            border-top: 1px solid #f8f8f8;
            border-left: 5px solid transparent;
            font: bold 14px/1.75 $font-sans-serif;
            color: $black;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
        }
    }

    .phone-link,
    .menu-item-has-children {
        > a {
            transition-property: border-left-color, color, background-color;
            @include transition-ease-in-out;

            .fa-phone,
            .fa-angle-down {
                content:"\203A";
                display: block;
                color: $black;
                position: absolute;
                left: 25px;
                top: 50%;
                transform: translateY(-50%);
                transition-property: transform;
                @include transition-ease-in-out;
            }
        }

        .-active {
            border-left-color: $primary;
            color: $white;
            background-color: $primary;
            
            .fa-angle-down {
                transform: translateY(-50%) rotate(90deg);
            }

            + .sub-menu {
                .menu-item a {
                    border-top: 0;
                    border-left-color: $primary
                }
            }
        }
    }

    .sub-menu {
        .menu-item {
            a {
                padding: 10px 70px;
                border-top: 1px solid $white;
                border-left: 5px solid transparent;
                color: $gray-med;
                transition-property: border-left-color;
                @include transition-ease-in-out;
            }
        }
    }

    // Offset when adminbar is present
    .admin-bar & {
        top: 46px;

        @include breakpoint( 784px ) {
            top: 32px;
        }
    }
}
