/**
 * Social Share
 *
 * @since 1.0.0
 */

.social-share{
	display: none;

	@include breakpoint (large){
		display: block;
	}

	//add fixed at all times, not just on js
	.a2a_kit{
		display: block;
		position: fixed;
		left: 1.5%;
		z-index: 1;
	}

	//style the span
	.addtoany_list.a2a_kit_size_32 a:not(.addtoany_special_service)>span{
		height: 32px;
		line-height: 32px;
		width: 32px;
		border-radius: 50%;
		padding: .3125rem;
	}

}
