/**
 * styles for tiles in main section of page
 */

.tiles {
  display: flex;
  flex-flow: nowrap column;

  &.wide, .stories {
    position: relative;
    @include breakpoint(large) {
      margin: rem-calc(65) 0;
    }
    display: flex;
    flex-flow: row wrap;

    @include no-top-if-first();

    > h2, h4 {
      flex: 1 0 100%;
      margin: rem-calc(15) rem-calc(15) rem-calc(10);
    }

    @include breakpoint(large) {
      flex-flow: wrap row;
  }

    a {
      font-family: inherit;
      font-style: normal;
      color: inherit;
    }

    > article {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      flex-basis: 100%;
      margin: rem-calc(10);

      @include breakpoint(small) {
        flex-basis: calc(50% - 20px);
      }
      @include breakpoint(large) {
        flex-basis: calc(33% - 20px);
      }
      @include breakpoint(xlarge) {
        flex-basis: calc(25% - 20px);
      }

      > div {
        position: absolute;
        left: rem-calc(10);
        top: rem-calc(10);
        z-index: 4;

        ul.pills {
          li {
            display: none;

            &:nth-child(1) {
              display: block;
            }
          }
        }
      }

      a.post-link {
        @include overlay(3);
        width: 100%;
        height: 100%;
      }

      figure {
        overflow: hidden;
        &:before {
          @include overlay(1);
          top: 0;
          content: "";
          border-radius: $border-radius;
          background: linear-gradient(to top, rgba($black, 0.8) 0, rgba($black, 0.2) 50%);
          max-height: rem-calc(225);
        }

        &:after {
          @include overlay(1);
          top: 0;
          content: "";
          border-radius: $border-radius;
          background: linear-gradient(to top, rgba($black, 1) 0, rgba($black, 0.2) 50%);
          max-height: rem-calc(225);
          opacity: 0;
          @include transition-ease-in-out();
        }
      }

      > span {
        display: none;
        opacity: 0;
        @include transition-ease-in-out();
      }

      &:hover {
        figure {
          &:after {
            opacity: 1;
          }
        }
        > span {
          display: block;
          opacity: 1;
          position: absolute;
          right: rem-calc(20);
          bottom: rem-calc(15);
          width: rem-calc(35);
          height: rem-calc(35);
          z-index: 4;
          margin: auto;
          text-align: center;
          border-radius: 50%;
          border: solid $border-width $white;
          background-color: rgba($white, 0.2);
          font-size: rem-calc(14);

          svg {
            color: white;
            vertical-align: -0.33em;
          }
        }
      }

        /*
              figure {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                max-width: none;
                border-radius: $border-radius;
                min-height: rem-calc(225);

                &:before {
                  @include overlay(1);
                  top: 0;
                  content: "";
                  border-radius: $border-radius;
                  background: linear-gradient(to top, rgba($black, 0.8) 0, rgba($black, 0.2) 20%);
                  max-height: rem-calc(225);
                }

                img {
                  @include cover-image();
                  min-height: rem-calc(225);
                  border-radius: $border-radius;
                }

                figcaption {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: 2;

                  h4 {
                    position: absolute;
                    bottom: 0;
                    padding: rem-calc(10) rem-calc(20);
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
              */
    }

    &.in-content {
      > article {
        height: rem-calc(220);

        @include breakpoint(small) {
          flex-basis: calc(50% - 20px);
        }
        @include breakpoint(large) {
          flex-basis: calc(50% - 20px);
        }
        @include breakpoint(xlarge) {
          flex-basis: calc(50% - 20px);
        }
        figure {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          max-width: none;
          border-radius: $border-radius;
          min-height: auto;

          img {
            @include cover-image();
            min-height: rem-calc(220);
            border-radius: $border-radius;
          }
        }

        > div {
          position: relative;
          z-index: 4;
        }

        header {
          position: relative;
          z-index: 2;
          margin-top: auto;
          color: $white;
          padding-right: rem-calc(50);
        }

        footer {
          position: relative;
          z-index: 4;
          margin-top: auto;
          margin-left: rem-calc(15);
          padding-right: rem-calc(50);
          font-size: rem-calc(14);
          display: none;
          color: $white;

          span {
            a {
              font-size: inherit;
            }
            &.byline {
              color: $white;
              .author.--tile {
                color: inherit;

                a {
                  color: inherit;
                }
              }
            }
            &.posted-on {
              color: $gray-lighter;
            }
          }

          a {
            color: inherit;
          }
        }

        &:hover {
          header {
            order: 2;
            margin-top: 0;
            h4 {
              margin-top: 0;
            }
          }
          footer {
            order: 1;
            display: block;
          }
        }

      }
    }

    &.with-footer, .stories {
      > article {

        figure {
          position: relative;
          margin: 0;
          border-radius: $border-radius;
          height: rem-calc(220);
          width: 100%;

          &:before {
            @include transition-ease-in-out();
            background: rgba($black, 1);
            opacity: 0;
          }

          &:after {
            display: none;
          }

          img {
            border-radius: $border-radius;
            @include cover-image();
          }
        }

        header {
          h4 {
            margin: rem-calc(15) 0;
          }
        }

        .entry-header h4 {
          margin: 0;
        }

        footer {
          position: relative;
          z-index: 4;
          margin-top: auto;
          font-size: 0.75em;
          @include breakpoint(xlarge) {
            font-size: 0.875em;
          }
          color: $gray-lighter;

          .posted-on a {
            span {
              display: none;
            }
          }

          a {
            color: inherit;
            font-style: normal;
          }
        }

        &:hover {
          figure {
            &:before {
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}

