.--trending {
    margin: auto;
    padding: 1.875rem 0;
    position: relative;

    .post {
        padding: 0 0 30px;

        + .post {
            margin-top: 0;
        }
    }

    .post_thumbnail {
        display: flex;
        align-items: flex-start;
    }

    .post_thumbnail-wrap {
        height: 120px;
        flex-basis: 120px;
        max-width: 120px;
        margin-right: 20px;
    }

    .post_title {
        margin-top: 0;
        white-space: initial;
        overflow: visible;

        a {
            color: $black;
            text-decoration: none;
        }

        @include breakpoint (large) {
            font-size: 18px;
        }
    }

    .entry-footer {
        line-height: 1.5;
        position: relative;
        z-index: 3;
    }

    .posted-on {
        a {
            font: 14px 'Modelica Bold';
            color: $gray-lighter;

            &:hover {
                color: $primary;
                text-decoration: underline;
            }
        }
    }

    figcaption {
        flex-basis: calc(100% - 140px);
        max-width: calc(100% - 140px);
    }

    // Hover effects
    .post_link:hover ~ .post_thumbnail figcaption {
        .post_title {
            text-decoration: underline;
        }
    }

    @include breakpoint (medium) {
         .widget-title {
            .svg {
                display: inline-block;
                margin-right: 10px;
                width: 20px;
                fill: $primary;
            }
        }

       .posts {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            margin: 0 -40px;
            padding: 20px 0;
        }

        .post {
            flex-basis: 50%;
            max-width: 50%;
            padding-left: 40px;
            padding-right: 40px;

             &:nth-child(even) {
                 border-left: 1px solid $gray-lightest-border;
            }
        }
    }

    @include breakpoint (large) {
        padding-top: 0;

        .post {
            flex-basis: 33%;
            max-width: 33%;

            &:nth-child(n+2) {
                border-left: 1px solid $gray-lightest-border;
           }

           &:nth-child(4) {
                border-left: 0;
            }
        }
    }
}