/**
 * Weather block
 *
 * @since   1.0.0
 * @package oep
 */


.weather{
	padding: bsu(1);
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		font: normal rem-calc(16) 'Modelica Regular';
		color: $black;
		display: inline;
		margin: 0;

		&.degrees{
			font-family: 'Modelica Bold';
			font-weight: bold;
			margin-left: bsu(3/4);
		}

		&.conditions{
			font-family: 'Modelica Bold';
			font-weight: bold;
			margin-left: bsu(3/4);

			svg {
				margin-right: rem-calc(10);
			}
		}
	}
}
