// Deprecated - content will use Gutenberg video block
.widget-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.33;

    .svg {
        font-size: 20px;
        display: inline-block;
        vertical-align: baseline
    }
}

.widget{
    & + & {
        margin-top: 40px;

        @include breakpoint( large ) {
            margin-top: 80px;
        }
    }

    // Video sidebar widget (home page)
    &.video {
        position: relative;
        cursor: pointer;

        &:after {

        }

        .video_thumbnail {
            margin-top: 0;
            border-radius: 6px;
            overflow: hidden;
        }

        img {
            display: block;
            width: 100%;
        }

        .video_content {
            display: none;
        }

        .fa-play-circle {
            width: 70px;
            height: 70px;
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


// wp-block-embed-vimeo wp-block-embed is-type-video is-provider-vimeo wp-embed-aspect-16-9 wp-has-aspect-ratio
// wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio
.wp-block-video,
.wp-block-embed {
    position: relative;
    cursor: pointer;

    .fa-play-circle {
        width: 70px;
        height: 70px;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.wp-block-embed-vimeo,
    &.wp-block-embed-youtube {}
}

.wp-embed-poster-wrap {
    position: relative;

    & + .wp-block-embed__wrapper,
    & + video {
        display: none;
    }
}

.wp-embed-poster {
    display: block;
    width: 100%;
    height: auto;
}
