/**
 * Custom admin bar links
 *
 * @since   1.2.0
 * @package oep
 */

// adjust archive override admin bar edit link (show on mobile, adjust icon)
#wp-admin-bar-oep-archive-override-page-edit {

	#wp-toolbar & {
		display: block;

		.ab-item {
			width: 52px;
			overflow: hidden;

			@include breakpoint( 782px ) {
				width: auto;
				overflow: auto;
			}
		}
	}

	.dashicons-edit {
		top: 2px;
	}
}
