/**
 * Banner
 *
 * @since   1.0.0
 * @package oep
 */

.banner {
  position: relative;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: center;
  min-height: rem-calc(590);
  color: $white;
  text-align: center;
  overflow: hidden;

  .wrap {
    position: relative;

    h1 {
      margin: rem-calc(40) auto rem-calc(20);
    }
  }

  // background image
  img {
    z-index: -1;
  }

  > img {
    left: 55%; //fun fact, scaling an image shifts its origin, so resetting its position is probably a good idea. in this case scale(1.05) shifts the origin 5% to the left, so we combine the left property with a translateX transform to get it centered.
    clip-path: inset(0 0); //prevents blur effect from spilling out over the edges
    transform: scale(1.1) translateX(-50%); //scales white fuzzy edge out of view (1.1 was a bit too much scaling)
  }

  // home page adjustments (parent selector)
  body.home & {

  }

  .entry-date {
    display: block;
    margin: bsu(1/4) 0 bsu(4);
    text-transform: uppercase
  }

  //add to any stuff
  span.mobile {
    display: block;
    order: 3;
	z-index: 1;
  }

  .a2a_kit {
    display: flex;
    flex-direction: row;
    order: 3;
    margin-left: 0;
    z-index: 2;
    -webkit-transform: translate3d(0, 0, 0);

    .a2a_svg {
      padding: rem-calc(5);
      border-radius: 50%;
      border: solid $border-width $white;
    }

    &.fixed {
      display: none;

      .a2a_svg {
        border: none;
      }
    }
  }
  .dot {
    background: $white;

    &.is-selected {
      background: $primary;
    }
  }

  @include breakpoint(large) {
    display: flex;
    flex-flow: wrap row;

    .wrap {
      h1 {
        max-width: rem-calc(1040);
      }
    }

    //add to any
    span.mobile {
      display: none;
    }
    .a2a_kit {
      order: -1;
      @include fp(margin-left, 10, 50, 1024, 1800);
      flex-direction: column;
      position: absolute;
      left: 0;
      .a2a_svg {
        transition-property: background-color;
        @include transition-ease-in-out;
      }

      &.fixed {
        display: block;
        position: fixed;

        .a2a_svg {
          border: none;
        }
      }
    }

    .flickity-page-dots {
      display: none;
    }
  }
}
