/**
 * Footer
 *
 * @since   1.0.0
 * @package oep
 */

footer[role="contentinfo"] {
  padding-top: rem-calc(25);
  position: relative;
  flex-shrink: 0;
  // min-height: rem-calc(560);
  background-color: $black;
  color: $white;
  font-family: $font-sans-serif;
  font-size: 0.75em;

  > div.wrap{
	  display: flex;
	  flex-direction: column;
  }

  @include breakpoint(large) {
    padding-top: rem-calc(70);
    font-size: 0.875em;
    > div.wrap {
      display: flex;
      flex-flow: row wrap;
    }
  }

  *::selection {
    background: rgba($primary, 0.9);
    color: $white;
    text-shadow: none;
  }

  *::-moz-selection {
    background: rgba($primary, 0.9);
    color: $white;
    text-shadow: none;
  }

  a {
    text-decoration: none;
    font-family: "Modelica Bold";
    font-style: normal;
    font-weight: bold;
  }

  hr {
    border-bottom: solid rem-calc(1) $gray-dark;
  }

  div > section {
    padding-bottom: rem-calc(35);
    @include breakpoint(large) {
      flex: 1;
    }
  }

  section.wrap{
	  width: 100%;

	  @include breakpoint (large){
		  width: 90%;
	  }
  }

  section.footer-menu {
    ul {
      li {
        text-transform: uppercase;
        color: $white;

        a {
          color: $white;
          text-decoration: none;
          font-style: normal;
        }

        > ul {
          display: none; //hide on mobile
        }
      }
    }

    @include breakpoint(large) {
      flex: 1 0 70%;
      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        li {
          ul {
            display: block;

            li {
              text-transform: none;
              color: $gray;

              a {
                color: $gray;
              }
            }
          }
        }
      }
    }
  }

  section.address {
    font-size: 1.167em;
    padding-bottom: 0;

    a {
      color: $gray;
    }

    .svg.logo-white {
      max-width: rem-calc(230px);
      margin-bottom: rem-calc(35);

	  svg{
		  width: 100%;
	  }
    }

    .phone-link {
      margin-bottom: rem-calc(5);
    }

    address {
      margin-bottom: rem-calc(15);
    }

    address, .phone-link {
      display: flex;
      align-items: baseline;
      flex-flow: row wrap;

      svg {
        margin-right: rem-calc(10);
      }


      div {
        span {
          line-height: 1;

          &:nth-last-of-type(1) {
            display: block;
          }
        }
      }

    }

    nav.socials {
      a {
        color: $gray;
      }
    }

    @include breakpoint(large) {
      flex: 1 0 30%;
      order: -1;
    }
  }

  section.copyright {
    color: $gray;
    font-family: "Modelica Bold";
    font-weight: bold;
    border-top: solid $border-width $gray-dark;
	margin-top: bsu(1/2);

	@include breakpoint(large) {
      border-top: solid $border-width $gray;
	  margin-top: 0;
    }

	.wrap{
		width: 100%;
		padding-top: bsu(1/2);

		@include breakpoint (large){
			width: 90%;
			padding-top: 0;
		}
	}
    p {
      line-height: 1.5;
    }

    @include breakpoint(large) {
      display: flex;
      flex-flow: nowrap row;
      align-items: baseline;
      justify-items: flex-end;

      div {
        flex: 1;
        display: flex;
        &:nth-child(2) {
          justify-content: flex-end;
          * {
            margin: 0 rem-calc(5);
          }
        }
      }
    }
  }

  div.footer-sub-menu {
    margin-top: rem-calc(10);

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      li {
        a {
          color: $gray;
        }
      }
    }
  }

  @include breakpoint(large) {
    flex: 1 0 50%;
  }
}

// footer[role="contentinfo"]
