/**
 * Navigation
 *
 * @since   1.0.0
 * @package oep
 */
$toggle-width : 40px;
$toggle-space : 10px;

header[role="banner"] nav {
	position: fixed;
	top: $header-height;
	right: 0;
	width: 100%;
	background: $white;
	overflow: hidden;
	transform: translateY( -100% ) translateY( -1px );
	transition-property: transform, top;

	@include transition-ease-in-out( 400ms );

	&,
	a,
	.toggle-sub {
		display: block;
	}

	&.toggled {
		transform: translateY( 0% );
	}

	// menu too tall for window
	// @see js/foot/navigation-animate.js
	&.scroll-y {
		bottom: 100%;
		overflow-y: scroll;

		&.toggled {
			bottom: 0;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	li {
		display: flex;
		flex-flow: row wrap;
		position: relative;
	}

	.menu-item-has-children > a {
		width: calc( 100% - #{$toggle-width + $toggle-space} );
	}

	.sub-toggled {

		> .toggle-sub {
			transform: rotateX( 180deg );
		}
	}

	a {
		font: bold rem-calc(12) 'Modelica Bold';

		@include breakpoint(menu-break) {
			font-size: rem-calc(14);
		}

		flex: 1 0 auto;
		padding: bsu(1/4) bsu(3/4);
		width: 100%;
		text-decoration: none;
		color: $black;
		text-transform: uppercase;
		white-space: nowrap;
		text-transform: uppercase;
		@include font-smoothing();
		@include transition-ease-in-out();

		&:hover{
			color: $black;
		}
	}

	// triangle sub-menu toggler
	.toggle-sub {
		flex: 0 1 auto;
		// flex: 0 1 $toggle-width;
		width: $toggle-width;
		margin-left: $toggle-space;
		padding: 0;
	}

	.sub-menu {
		order: 1;
		display: none;
	}


	/**
	 * Main Navigation - Desktop "menu break"
	 */
	@include breakpoint( large ) {
		flex: 0 0 auto;
		display: flex;
		position: static;
		width: auto;
		transform: none;
		overflow: visible;

		ul {
			display: flex;
			flex-flow: row nowrap;
		}

		li:hover {

			> .toggle-sub {
				transform: translateY( -50% ) rotateX( 180deg );
			}

			> .sub-menu {
				left: 0;
				opacity: 1;
			}
		}

		// restrict top-level link width + center them
		> ul > li {
			max-width: 280px;

			> a {
				@include flex-row( true );
			}
		}

		.menu-item-has-children > a {
			padding-right: $toggle-width - ( $toggle-space / 2 );
		}

		// undo mobile accordion flip
		.sub-toggled > .toggle-sub {
			transform: none;
		}

		.toggle-sub, .sub-menu {
			position: absolute;
		}

		.toggle-sub {
			top: 50%;
			right: 0;
			margin: 0;
			background: none;
			border: none;
			color: $white;
			transform: translateY( -50% );
			pointer-events: none;
		}

		.sub-menu {
			display: block !important; // override slideToggle display: none
			top: 100%;
			left: -99999px;
			width: 280px;
			background: $black;
			opacity: 0;
			transition: opacity ease-in-out 300ms;

			.toggle-sub {
				transform: translateY( -50% ) rotate( 90deg );
			}

			.sub-menu {
				top: 0;
			}

			li:hover {

				> .sub-menu {
					right: 100%;
					left: auto;
				}

				> .toggle-sub {
					transform: translateY( -50% ) rotate( -90deg );
				}
			}

		} // .sub-menu

	} // menu break
} // header[role="banner"]
