/**
 * Styleguide-specific stuff
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
/**
 * Helper functions
 *
 * @since   1.0.0
 * @package oep
 */
/**
 * Base spacing unit
 */
/**
 * Create a "transparent" version of a color
 */
/**
 * Rem Calc!
 */
/**
 * Variables
 *
 * @since   1.0.0
 * @package oep
 */
/**
 * Primary & Secondary Colors
 */
/**
 * Neutral & Support Colors
 */
/**
 * Fonts
 */
/**
 * Spacing
 */
/**
 * Misc heights/widths
 */
/**
 * Borders
 */
/**
 * Mixins
 *
 * @since   1.0.0
 * @package oep
 */
/**
 * Generic wrapper
 */
/**
 * Object-fit "cover"
 */
/**
 * Centered block
 */
/**
 * Centered element trick!
 */
/**
 * Make a flex "row"
 */
/**
 * Font smoothing
 */
/**
 * Kill font smoothing!
 */
/**
 * Inline text link
 */
/**
 * Styled list
 */
/**
 * Bulleted list
 *
 * Icons inserted with js/foot/list-icons.js
 */
/**
 * Numbered list
 */
/**
 * Remove bottom margin if last child
 */
/**
 * Remove top margin if first child
 */
/**
 * Remove left margin if first child
 */
/**
 * Remove right margin if last child
 */
/**
 * WYSIWYG content format
 */
/**
 * Responsive embed container
 */
/**
 * Fluid Property!
 */
/**
 * Overlay
 */
/**
 * Generic transition
 */
/**
 * Clearfix
 */
/**
 * Pills mixin
 */
/**
 * featured tile mixin
 */
/**
 * Arrow icon w/ white circular border and transparent bg
 */
/**
 * Grid stacked on Mobile -> 3-col at large bp
 */
/***
 * Horizon divider w/ pattern
 */
/* mixin for multiline */
/**
 * Breakpoints
 *
 * @since   1.0.0
 * @package oep
 */
[role="main"] {
  padding-top: calc(6.04167vw + 12.66667px);
  padding-bottom: calc(6.04167vw + 12.66667px); }
  @media (max-width: 320px) {
    [role="main"] {
      padding-top: 32px; } }
  @media (min-width: 1280px) {
    [role="main"] {
      padding-top: 90px; } }
  @media (max-width: 320px) {
    [role="main"] {
      padding-bottom: 32px; } }
  @media (min-width: 1280px) {
    [role="main"] {
      padding-bottom: 90px; } }
  [role="main"] > section {
    max-width: 940px; }
    [role="main"] > section:first-child > h3:first-child {
      margin-top: 0; }
    [role="main"] > section > h3 {
      margin: 3.3334rem 0 0.83335rem;
      padding-bottom: 0.83335rem;
      font-weight: 700;
      font-size: 1.125rem;
      border-bottom: 1px solid #656868; }
  @media (min-width: 1440px) {
    [role="main"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      max-width: 1775px; }
      [role="main"] > section {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        padding: 1.875rem 3.125rem 0; }
        [role="main"] > section:nth-child(odd) {
          -ms-flex-preferred-size: 53%;
          flex-basis: 53%; }
        [role="main"] > section:nth-child(even) {
          -ms-flex-preferred-size: 45%;
          flex-basis: 45%; }
        [role="main"] > section:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -18px;
          width: 18px;
          background: #656868; }
        [role="main"] > section > h3:first-child {
          margin: 0; } }

.gform_wrapper {
  margin-top: 1.6667rem; }

.numbered-pagination {
  display: inline-block;
  margin-left: -0.875rem;
  width: auto; }

/**
 * Definitions / styles
 */
dt {
  margin: 1.6667rem 0 0.41668rem; }
  dt, dt h1, dt h2, dt h3, dt h4, dt h5, dt h6 {
    font-weight: 700; }

dd {
  margin: 0; }

@media (min-width: 640px) {
  dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  dt, dd {
    margin: 1.25002rem 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  dt {
    width: 150px;
    padding-right: 50px;
    text-align: right; }
  dd {
    width: calc( 100% - 150px); } }

@media (min-width: 1024px) {
  dt {
    width: 175px;
    padding-right: 64px; }
  dd {
    width: calc( 100% - 175px); } }

/**
 * Additional sections
 */
/**
 * Styleguide-specific typography
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
.fonts {
  color: #656868; }
  .fonts > * {
    display: inline-block;
    margin-right: 0.83335rem; }
    .fonts > *:first-child {
      color: #222222; }
    .fonts > *:nth-child(2) {
      font-family: "Merriweather", serif; }

p {
  margin-top: 0; }

ol {
  margin-top: 1.6667rem; }

@media (min-width: 1800px) {
  ol {
    margin-top: 0; }
  .lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .lists > * {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
      flex: 0 1 45%; } }

/**
 * Styleguide-specific icons
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  line-height: 1;
  margin: 0.83335rem -0.83335rem 0; }
  .icons li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0.55557rem 0.83335rem; }
  .icons .svg-inline--fa {
    margin-right: 0.83335rem;
    color: #f47b20; }
  @media (min-width: 640px) {
    .icons li {
      padding-bottom: 0.83335rem;
      -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%; } }

/**
 * Styleguide-specific buttons
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
.buttons li {
  margin: 0.83335rem 0; }
  .buttons li.dark {
    margin: 0 -0.83335rem 0.83335rem;
    padding: 0.83335rem;
    background: #222222; }

@media (min-width: 460px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .buttons li {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; } }

/**
 * Styleguide-specific colors
 *
 * Only for development use
 *
 * @since   1.0.0
 * @package oep
 */
.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 -0.83335rem;
  max-width: 650px;
  color: #ffffff; }
  .colors:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -50%;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    background: black; }
  .colors dt {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
    margin: 0;
    line-height: 1.2; }
    .colors dt.layout {
      display: none; }
  .colors dd {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0.83335rem; }
    .colors dd.layout {
      max-width: 214px; }
      .colors dd.layout:nth-of-type(2) {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1; }
      .colors dd.layout li {
        position: relative;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: -10px;
        border-radius: 0 0 10px 10px; }
        .colors dd.layout li:nth-child(1) {
          z-index: 7; }
        .colors dd.layout li:nth-child(2) {
          z-index: 6; }
        .colors dd.layout li:nth-child(3) {
          z-index: 5; }
        .colors dd.layout li:nth-child(4) {
          z-index: 4; }
        .colors dd.layout li:nth-child(5) {
          z-index: 3; }
        .colors dd.layout li:nth-child(6) {
          z-index: 2; }
        .colors dd.layout li:nth-child(7) {
          z-index: 1; }
        .colors dd.layout li:first-child {
          border-radius: 10px;
          margin-top: 0;
          padding-top: 10px; }
    .colors dd.interaction {
      max-width: 155px; }
      .colors dd.interaction li {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center; }
        .colors dd.interaction li:first-child {
          border-radius: 10px 10px 0 0; }
        .colors dd.interaction li:last-child {
          border-radius: 0 0 10px 10px; }
  .colors li {
    padding-left: 0.83335rem;
    padding-right: 0.83335rem;
    font-weight: 700;
    font-size: 0.875rem; }
    .colors li:before {
      content: '#'; }
  .colors .primary {
    background-color: #f47b20; }
  .colors .primary-light {
    background-color: #f8971d; }
  .colors .primary-lighter {
    background-color: #f8971d; }
  .colors .primary-dark {
    background-color: #d52f24; }
  .colors .primary-darker {
    background-color: #872557; }
  .colors .secondary {
    background-color: #7ebd43; }
  .colors .black {
    background-color: #222222; }
  .colors .gray {
    background-color: #656868; }
  .colors .white {
    background-color: #ffffff; }
  .colors .gray, .colors .white {
    color: #222222; }
  .colors .gradient {
    padding-left: 0;
    padding-right: 0; }
    .colors .gradient span + span:before {
      content: " - #";
      color: #f47b20; }
  .colors .secondary-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#872557), color-stop(#d52f24), to(#f8971d));
    background: linear-gradient(to right, #872557, #d52f24, #f8971d); }
  @media (min-width: 640px) {
    .colors {
      margin: 1.6667rem 0;
      padding: 1.25002rem 0 2.76672rem; }
      .colors:before {
        right: 0;
        width: 60%; }
      .colors dt {
        -ms-flex-preferred-size: calc( 60% - (155px / 2));
        flex-basis: calc( 60% - (155px / 2));
        padding: 0 0 0 45px;
        width: auto;
        width: 50%;
        text-align: left;
        font-size: 1.125rem; }
      .colors dd {
        padding: 0; }
        .colors dd.layout {
          margin-bottom: 3.3334rem; }
          .colors dd.layout li {
            padding-top: 30px;
            padding-bottom: 20px; }
            .colors dd.layout li:first-child {
              padding-top: 20px; }
          .colors dd.layout:nth-of-type(2) {
            margin-left: 95px;
            margin-right: auto; }
        .colors dd.interaction {
          margin-left: 25%; }
      .colors li {
        padding-left: 1.11113rem;
        padding-right: 1.11113rem; } }
