/**
 * Page: Author Single
 *
 * @since   1.0.0
 * @package oep
 */

.archive.author{
	position: relative;

	main .wrap{
		max-width: 1010px;
		position: relative;

		div.results {
			position: relative;

			&.hidden { //utility class for ajax pagination
				&:after {
					@include overlay(1);
					background: rgba($white, 0.95);
				}
			}
		}
	}

	.author-profile{
		margin-bottom: bsu(2);

		.vcard{
			width: 100%;
			padding-bottom: bsu(2);
			border-bottom: 1px solid $gray-lightest-border;
			margin-bottom: bsu(1);

			.author_content{
				padding: 0;
			}

			.byline{

				@include breakpoint (medium){
					display: flex;
				}

				.social-links{
					display: inline-flex;
					justify-content: flex-start;
					align-items: flex-start;
					margin-top: bsu(1/3);

					a{
						width: 31px;
						height: 31px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						color: $black;
						border: 1px solid $gray-light;
						font-size: rem-calc(14);
						border-radius: 100%;
						margin-right: bsu(1/2);

						svg{
							margin: 0 auto;
						}

						&:hover{
							color: $primary;
						}
					}
				}
			}

			figure.author_thumbnail{
				width: 114px;
				height: 114px;
				position: relative;
				margin-bottom: bsu(1/2);

				@include breakpoint (medium){
					margin-bottom: 0;
				}

				.profile-image{
					overflow: hidden;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					padding: 5px;

					img{
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						-o-object-fit: cover;
						object-fit: cover;
						padding: 7px;
						border-radius: 100%;
					}
				}

				//gradient background
				&::before{
					content: '';
					width: 114px;
					height: 114px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					background-image: linear-gradient(90deg, #F47B20 0%, #D52F24 46%, #872557 100%);
					z-index: -2;
				}

				//white border background
				&::after{
					content: '';
					width: 105px;
					height: 105px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					background: $white;
					z-index: -1;
					border-radius: 100%;
				}
			}

			.author_name{
				font: rem-calc(30) 'Modelica Bold';
				line-height: rem-calc(40);
				color: $black;
			}

			.author_title{
				font: rem-calc(18) 'Modelica Regular';
				line-height: rem-calc(34);
				color: $black;
				display: block;

				&:before{
					display: none;
				}
			}

			.author_bio p{
				font: rem-calc(18) 'Modelica Regular';
				line-height: rem-calc(34);
				color: $black;
				margin-top: bsu(1/2);
			}
		}
	}

	article{
		width: 100%;
		margin-bottom: rem-calc(30);

		@include breakpoint (medium){
			display: flex;
			flex-direction: row;
		}

		a[role='link']{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 2; // needs to be higher than overlay inside .post_thumbnail-wrap
		}

		.image{
			width: 100%;
			position: relative;

			@include breakpoint (medium){
				width: 320px;
			}

			figure{
				margin-top: 0;
			}

			.post_thumbnail-wrap{
				border-radius: 6px;
				position: relative;

				&:before {
					@include overlay(1);
					background: #222;
					opacity: 0;
					@include transition-ease-in-out();
					transition-property: opacity;
				}
			}

			img{
				display: block;
				width: 100%;
				border-radius: 6px;

				@include breakpoint (medium){
					width: 320px;
					min-width: 320px;
				}
			}

			.tags{
				position: absolute;
				top: rem-calc(10);
				left: rem-calc(15);
			}
		}

		.text{

			@include breakpoint (medium){
				padding: 0 rem-calc(22);
			}

			h4 a{
				font: normal rem-calc(22) 'Modelica Bold';
				line-height: rem-calc(34);
				color: $black;
				@include transition-ease-in-out();

				&:hover{
					color: $primary;
				}
			}

			header p{
				font: rem-calc(16) 'Modelica Medium';
				line-height: rem-calc(26);
				color: $gray;
				margin: bsu(1/2) 0 bsu(1/4) 0;
			}

			.entry-footer{
				margin: bsu(1/4) 0;
			}

			.archive.author .vcard .author_name{
				font: rem-calc(14) 'Modelica Medium';
				line-height: rem-calc(17);
				color: $gray-lighter;
				@include transition-ease-in-out();

				&:hover{
					color: $primary;
				}
			}

			.posted-on{
				margin-left: bsu(1/8);

				time{
					font: rem-calc(14) 'Modelica Bold';
					line-height: rem-calc(17);
					color: $gray-lighter;
					text-transform: uppercase;
					@include transition-ease-in-out();

					&:hover{
						color: $primary;
					}
				}
			}
		}

		&:hover {
			.image {
				.post_thumbnail-wrap{
					&:before {
						opacity: .3;
					}
				}
			}
		}
	}
}
