body.post-type-archive-oep_cpts_company {
	.filters {
		@include wrap(1530px, 85%);
		display: flex;
		flex-flow: row wrap;

		form {
			display: flex;
			flex-flow: nowrap row;
			align-items: flex-end;

			ul {
				display: flex;

				flex-flow: nowrap row;
				align-items: baseline;

				li {
					select {
						margin-bottom: 0;
					}
				}
			}

			div.buttons {
				flex: 0 0 auto;
				margin: 0 0 0 .83335rem;
				justify-content: flex-end;

				span.text {
					white-space: nowrap;
				}
			}
		}
	}
}