/**
 * Page: 404
 *
 * @since   1.0.0
 * @package oep
 */

.error404 [role='main']{
	margin-bottom: 0;
}


.error{
	width: 100%;

	.message{
		padding: bsu(2) 0;

		@include breakpoint (large){
			text-align: center;
			padding: bsu(4) 0;
		}
	}

	.full-search .fields {
		align-items: baseline;
		display: flex;
		flex-flow: row wrap;
	}

	.full-search .field {
		width: auto;
	}

	.search{
		margin: bsu(1) 0;

		@include breakpoint (large){
			margin: bsu(1) auto 0 auto;
		}

		form{
			width: 100%;

			.wrap {
				width: 100%;
				margin: 0;

				label{
					padding-left: 0;
				}
			}
		}
	}

	.suggested-links{
		padding: bsu(2) 0;
		background: $gray-lightest;

		@include breakpoint (large){
			padding: bsu(4) 0;
		}

		h2{
			margin-bottom: bsu(1);
		}

		ul{
			display: block;
			width: 100%;

			@include breakpoint (large){
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			li{
				margin: 0 bsu(1) bsu(1) 0;

				a{
					color: $black;
					font-family: 'Modelica Bold';
					font-weight: 700;
					font-style: normal;
					text-transform: uppercase;

					&:hover{
						color: $primary;
					}
				}

				.sub-menu{
					flex-direction: column;

					li{
						margin: 0;
					}

					a{
						color: $gray;
						text-transform: none;
						@include font-smoothing();

						&:hover{
							color: $primary;
						}
					}
				}
			}

			//hide desktop drop down toggles
			.toggle-sub{
				display: none;
			}
		}
	}

}


.no-results, .not-found{
	margin: 0 auto;

	.page-header, .page-content{
		width: 90%;
		margin: 0 auto;
	}

	.full-search.wrap{

		form{
			display: block;

			.field, .search, .types, .category{
				width: 99%;

				@include breakpoint (large){
					width: 30%;
				}
			}

			// .search-field{
			// 	padding: 1.5rem;
			// }
		}
	}
}
