/**
 * Page: Home
 *
 * @since   1.0.0
 * @package oep
 */

body.home [role='main']{

	.wp-block-oep-column-sidebar{

		.wp-block-column{

			figure.wp-block-image{
				margin-top: bsu(2.5);
			}

			p{
				font-family: 'Modelica Medium';
				font-size: rem-calc(16);
				line-height: rem-calc(26);
				margin-top: bsu(1/2);
				color: $gray;
			}

			p.more-link{
				margin-top: 0;

				span{
					border-color: $gray-light;
				}
			}

			figure.wp-block-embed-youtube{
				margin-top: bsu(1);
			}
		}
	}


	//blocks mobile alignment
	.has-5-posts{
		padding-bottom: rem-calc(24);

		@include breakpoint (large){
			padding: 0 0 rem-calc(65) 0;
		}

		header h4{
			margin-bottom: 0;

			@include breakpoint (large){
				margin: .9375rem 0;
			}
		}

		footer{
			margin-bottom: bsu(1/4);

			@include breakpoint (large){
				margin-bottom: 0;
			}
		}
	}

	.has-3-posts{
		padding-bottom: rem-calc(24);

		@include breakpoint (large){
			padding: 0 0 rem-calc(65) 0;
		}
	}

	.recent-posts.tiles.wide.has-stories.has-5-posts{
		padding-bottom: rem-calc(24);

		@include breakpoint (large){
			padding: 0 0 rem-calc(65) 0;
			display: block;

			h2{
				display: inline-block;
			}

			.more-link{
				float: right;
			}
		}

		@include breakpoint (xlarge){
			display: flex;

			h2{
				display: inline-block;
			}

			.more-link{
				float: none;
			}
		}
	}

}
