.single-oep_cpts_lan-page #content {
  main {
    flex-wrap: wrap;
	max-width: 1800px;


	.home &{
		margin-top: 0;
		padding-top: 0;
		max-width: none;
	}

    div.wrap {
      max-width: rem-calc(1800);
    }

    header.banner {
      h1 {
        margin-top: rem-calc(10);
      }

      h3 {
        font-family: "Modelica Medium";
        font-weight: normal;
        font-size: rem-calc(18);
      }

      img {
        filter: none;
      }
    }

    > article {
      flex: 1 0 100%;
    }

    div.results {
      > h2 {
        margin-left: 0;
        margin-right: 0;
      }

      article {
        header {
          h4 {
            margin-top: 0;
          }
        }

        .post_thumbnail-wrap{
          &:before {
            @include overlay(1);
            background: #222;
            opacity: 0;
            @include transition-ease-in-out();
            transition-property: opacity;
          }
        }

        &:hover {
          .post_thumbnail-wrap{
            &:before {
              opacity: .3;
            }
          }
        }
      }
    }
  }
}
.single-oep_cpts_lan-page {
  // Block title device (icon)
  h2 {
    .svg {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 15px;

      svg {
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }

  .entry-content{
	  padding: 0 2.5%;

	  @include breakpoint (large){
		  padding: 0;
	  }
  }
}
