body.single {
  .banner {
    z-index: 2;
    img {
      //add image effects
      filter: blur(10px);
    }
    &:before {
      @include overlay(0);
      background-color: rgba(black, 0.45);
    }
  }
  [role=main] {
  	align-items: flex-start;

  	&.wrap{
  		max-width: 1530px;
  	}

    .entry-content {
      > h2, > h3, > h4 {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }

      > ul,
      > ol {
        margin-left: 8%;
        margin-right: 8%;
      }

      p {
        margin-left: 8%;
        margin-right: 8%;

        &.detail {
          position: relative;
          margin-left: 0;
          margin-right: 0;
        }

        @include breakpoint(large) {
          &.detail {
            position: relative;
            padding-left: rem-calc(50);

            &:before {
              @include overlay();
              background: url("../images/detail-repeater-r2.png") repeat-y 0 0;
            }
          }
        }
      }

      figure.wp-block-pullquote {
        margin: 0;
      }

      blockquote {
        margin: rem-calc(65) 0;
        padding: 50px 0 50px;
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        text-align: left;
        flex-wrap: wrap;

        &:before {
          color: $primary;
          flex: 0 0 rem-calc(50);
          margin-left: 0;
          margin-right: rem-calc(10);

		  @include breakpoint (large) {
			  flex: 0 0 rem-calc(120);
			  margin-left: rem-calc(40);
			  margin-right: rem-calc(20);
		  }
        }

        p {
          margin:0;
          flex: 1 0 calc(100% - 70px);
          padding-right: 8%;

		  @include breakpoint (large) {
			  font-size: rem-calc(28);
			  flex: 1 0 calc(100% - 210px);
		  }
        }
        cite {
          font-family: "Modelica Bold";
          font-size: rem-calc(14);
          line-height: rem-calc(19);
          text-align: right;
          flex: 1 0 100%;
          font-style: normal;
          padding-right: 8%;
		  max-width: 80%;
		  margin-right: 0;
		  margin-left: auto;
		  margin-top: bsu(1/2);

		  @include breakpoint (medium){
			  margin-top: bsu(1);
		  }

		  @include breakpoint (large){
			  margin-top: bsu(1);
		  }

          &:before {
            content: "- ";
          }
        }
      }
    }
  }

  section.additional-items {
    display: flex;
    flex-flow: row wrap;
    @include wrap(1530px, 85%);
  }

  .entry-footer {
    span.mobile {
      @include breakpoint(medium) {
        display: none;
      }
    }
    .a2a_kit {
      //add to any stuff
      display: flex;
      flex-direction: row;
      order: 3;
      margin-left: 1%;
      z-index: 2;

      .a2a_svg {
        padding: rem-calc(5);
        border-radius: 50%;
        border: solid rem-calc(2) $white;
      }

      @include breakpoint(medium) {
        display: none;
      }
    }
  }

  .--trending {
    .entry-footer {
      .a2a_kit {
        display: none;
      }
    }
  }

  .recommended-stories {
    .content-end,
    .a2a_kit {
      display: none;
    }

    article:hover .entry-title {
      text-decoration: underline;
    }
  }
}

body.single-oep_cpts_lan-page, body.home {
  .entry-content .banner {
    color: $black;

    // Hero + CTA Landing Page block
    &:before {
      opacity: 0;
    }

    .wrap {
      max-width: 890px;
    }

    h1 {
      @include horizontal-divider;
    }

    &.has-bg-image {
      color: $white;

      &:before {
        opacity: 1;
      }
    }
  }
}

//single post aside styles
.single-post{
	aside{
		display: none;

		@include breakpoint (large){
			display: block;
		}
	}

	.newsletter{
		margin: bsu(1) 0;
	}
}


//single post article fonts padding
body.single-post [role=main] .entry-content{
	h1, h2, h3, h4, h5, h6, p, detail{
		margin-left: 0;
		margin-right: 0;
	}

	h1, h2, h3, h4, h5, h6{
		margin-top: rem-calc(40px);
		margin-bottom: rem-calc(12px);

		@include breakpoint (large) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem-calc(30px);
		}
	}

	//align smaller images in blog single to the center
	.wp-block-image{
		text-align: center;
	}
}
