/**
* Search results
*/

body.search {
  main {
    margin-top: 0;

    @include breakpoint(xlarge) {
      margin-top: rem-calc(30);
    }

    @include breakpoint(xlarge) {
      padding-top: rem-calc(30);
    }

    &.wrap {
      flex-flow: row wrap;
	  max-width: 1530px;

      > * {
        flex: 1 0 100%;
      }

      > header {
        margin: rem-calc(30) 0;
        min-height: 6.8em;
        display: flex;
        align-items: center;
        position: relative;

        @include breakpoint(menu-break) {
          margin: 0;
        }
        position: relative;

        @include breakpoint(large) {
          @include flex-row();
          align-items: center;
        }

        div.accent {
          position: absolute;
          max-height: 110%;

          .svg,
          svg {
            color: inherit;
          }
          @include breakpoint(large) {
            position: relative;
          }
        }

        h1,
        div.archive-description {
          margin-left: rem-calc(15);
        }

        @include breakpoint(large) {
          h1 {
            max-width: 600px;
            position: relative;
            flex: 1 0 40%;
            margin-left: rem-calc(40);
          }

          p.detail {
            margin: 0;
          }
        }
      }
    }

    .full-search {
      border: none;
      margin-top: bsu(1/2);

      form {
        align-items: flex-end;


      }
	ul.fields {
		display: block;

		@include breakpoint (large){
			@include flex-row();
			align-items: baseline;

			> li {
				position: static;
			}
		}

      }
    }

    div.results,
    div.featured {
      @include breakpoint(large) {
        display: flex;
        flex-flow: nowrap column;
      }

      > h3 {
        flex: 1 0 100%;
        margin: rem-calc(15) rem-calc(10);
        color: $gray-med;

        span {
          color: $primary;
        }
      }

      @include breakpoint(large) {
        flex-flow: wrap row;
      }

      a {
        font-family: inherit;
        font-style: normal;
        color: inherit;
      }

      article {
        flex-basis: 100%;


        &.-primary {
          .entry-title {
            @extend h3;
          }
        }

        @include breakpoint(small) {
          flex-basis: calc(50% - 20px);
        }
        @include breakpoint(large) {
          margin: rem-calc(10);
          flex-basis: calc(33% - 20px);
        }
        @include breakpoint(xlarge) {
          margin: rem-calc(15);
          flex-basis: calc(25% - 30px);
        }

        footer {
          color: $gray;

          a {
            font-size: 0.875em;
          }
        }
      }

      &.results {
        position: relative;
        border-top: solid rem-calc(1) $gray-lightest-border;
        padding-top: rem-calc(30);

        &.hidden { //utility class for ajax pagination
          &:after {
            @include overlay(1);
            background: rgba($white, 0.95);
          }
        }

        article {
          position: relative;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;

          > div {
            position: absolute;
            left: rem-calc(10);
            top: rem-calc(10);
            z-index: 4;
          }

          figure {
            position: relative;
            margin: 0;
            border-radius: $border-radius;
            height: rem-calc(220);
            width: 100%;

            .post_thumbnail-wrap {
              height: 100%;
              border-radius: 6px;
              position: relative;
              overflow: hidden;

              &:after {
                content: '';
                display: block;
                height: 110%;
                width: 100%;
                background: rgba($black, 1);
                opacity: 0;
                position: absolute;
                @include transition-ease-in-out;
              }
            }

            img {
              border-radius: $border-radius;
              @include cover-image();
            }
          }

          header.entry-header {
            padding-top: rem-calc(10);
          }

          a:hover + figure .post_thumbnail-wrap {
              &:after {
                  opacity: 0.3;
              }
          }

          footer {
            position: relative;
            z-index: 4;
            margin-top: auto;
          }
        }
      }

      &.featured {
        display: block;
        margin: rem-calc(30) 0;

        div.row {
          display: block;

          article {
            position: relative;
            min-height: rem-calc(205);
            display: flex;
            flex-flow: column wrap;

            figure {
              .post_thumbnail-wrap {
                min-height: rem-calc(205);
              }
            }

            > div {
              position: absolute;
              left: rem-calc(10);
              top: rem-calc(10);

              @include breakpoint(large) {
                position: relative;
                left: auto;
                top: auto;
              }
            }
          }

          &:nth-child(1){
            article {
              &:nth-child(1){
                min-height: rem-calc(205);
                header {
                  margin-top: auto;
                  order: 2;
                }
                footer {
                  font-size: rem-calc(12);
                  color: $white;
                  order: 1;
                  display: none;

                  a, span {
                    font-size: inherit;
                    color: inherit;
                  }
                  span.posted-on {
                    color: $gray-lighter;

                    a {
                      color: inherit;
                    }
                  }
                }

                &:hover {
                  header {
                    margin-top: 0;
                    order: 2;
                  }
                  footer {
                    margin-top: auto;
                    display: block;
                  }
                }
              }
            }
          }
        }

        @include breakpoint(large) {
          div.row {
            display: flex;
            flex-flow: wrap column;
            justify-content: center;
            margin-bottom: rem-calc(30);

            &:nth-child(1) {
              height: rem-calc(495);

              article {
                min-height: rem-calc(145);
                height: rem-calc(145);

                figure {
                  min-height: rem-calc(145);
                  height: 100%;

                  div.post_thumbnail-wrap {
                    min-height: auto;
                  }
                }
                @include no-bottom-if-last();

                &:nth-child(1) {
                  margin: 0 rem-calc(10) 0 rem-calc(10);
                }

                &:nth-child(2) {
                  margin-top: 0;
                }
              }
            }

            &:nth-child(2) {
              height: rem-calc(200);
              flex-flow: nowrap row;

              article {
                height: rem-calc(200);
                flex: 1 0 calc(33% - 15px);
                width: auto;
                max-width: none;
                @include featured();
              }
            }
          }
        }


        article {
          position: relative;
          margin: rem-calc(30) 0;

          @include breakpoint(large) {
            display: flex;
            flex-flow: column wrap;
            flex-basis: calc(33% - 12px);
            width: 41.66%;
            max-width: 41.66%;
            margin: rem-calc(10);
          }

          > * {
            @include breakpoint(large) {
              width: 66%;
              max-width: 66%;
            }
          }

          ul.pills {
            justify-content: flex-start;
          }

          figure {
            position: relative;
            min-height: rem-calc(205);
            height: 100%;
            margin: 0;
            width: 100%;
            max-width: 100%;

            .post_thumbnail-wrap {
              height: 100%;
              border-radius: 6px;
              position: relative;
              overflow: hidden;

              &:after {
                content: '';
                display: block;
                height: 110%;
                width: 100%;
                background: rgba($black, 1);
                opacity: 0;
                position: absolute;
                @include transition-ease-in-out;
              }
            }

            img {
              border-radius: $border-radius;
              @include cover-image();
            }

            @include breakpoint(large) {
              min-height: auto;
              width: 33%;
              max-width: 33%;
              margin-right: rem-calc(20);
            }

            img {
              @include cover-image();
              border-radius: $border-radius;
            }
          }

          > span {
            display: none;
          }

          &:hover {
            figure .post_thumbnail-wrap {
              &:after {
                opacity: 0.3;
              }
            }
          }

          &:nth-child(1) {
            @include breakpoint(large) {
              width: 58.33%;
              max-width: 58.33%;
              flex: 1 0 100%;
            }
            @include featured();
          }
        }
      }
    }

    //one link to rule them all
    &#main {
      article {
        > a[role=link] {
          @include overlay(3);
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &.term {
    ul.terms {
      li {
      }
    }
  }

  .post_type {
    vertical-align: baseline;
    font-size: 10px;
    line-height: 1.2;
    color: $gray-lighter;
    text-transform: uppercase;
    white-space: nowrap;

    svg {
        color: $gray-lighter;
    }
  }
}

//search results with results listing page
body.search-results main{
	.full-search.wrap{
		margin-top: 0;
	}

	div.results.results{
		.entry-footer{
			margin-top: 0;
		}
	}

	article{
		min-height: 316px;
		margin-bottom: bsu(1/2);

		@include breakpoint (large){
			min-height: 316px;
		}

		figcaption{
			margin-top: bsu(1/2);
		}
	}

	.event_date{
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
}
