body.single-oep_cpts_success {
  main {
    .entry-content {
      blockquote.wp-block-quote {
        background-color: $primary;
        color: $white;
        border-radius: $border-radius;

        &:before {
          margin-left: rem-calc(40);
          color: $white;
        }
      }
    }
  }
}