/**
 * Taxonomy / Term listing / Blog / Archives
 */
body.taxonomy,
body.term,
body.blog,
body.post-type-archive-oep_cpts_success,
body.post-type-archive-oep_cpts_company,
body.single-oep_cpts_lan-page {
	main {
		margin-top: 0;

		@include breakpoint(xlarge) {
			margin-top: rem-calc(30);
		}

		@include breakpoint(xlarge) {
			padding-top: rem-calc(30);
		}

		&.wrap, div.wrap {
			flex-flow: row wrap;
			max-width: 1530px;

			> * {
				flex: 1 0 100%;
			}

			> header {
				margin: rem-calc(30) 0;
				min-height: 6.8em;
				display: block;
				position: relative;

				@include breakpoint(large) {
					display: flex;
					@include flex-row();
					align-items: center;
				}

				div.accent {
					position: absolute;
					max-height: 110%;
					overflow: hidden;

					.svg,
					svg {
						color: inherit;
					}

					@include breakpoint(large) {
						position: relative;
						min-width: 5px;
					}
				}

				h1,
				div.archive-description {
					margin-left: rem-calc(15);
				}

				@include breakpoint(large) {
					h1 {
						max-width: 600px;
						position: relative;
						flex: 1 0 40%;
						margin-left: rem-calc(40);
					}

					p.detail {
						margin: 0;
					}
				}
			} // > header
		} // &.wrap, div.wrap

		ul.terms {
			&::-webkit-scrollbar {
				width: 1px;
				height: 1px;
				display: none;
			}
			position: relative;
			overflow: hidden;
			@include flex-row();
			align-items: baseline;
			justify-content: flex-start;
			font-size: 0.75em;
			padding: rem-calc(10) 0;
			border-bottom: solid rem-calc(1) $gray-lightest-border;
			border-top: solid rem-calc(1) $gray-lightest-border;

			&:empty {
				border: none;
			}

			li.pills {
				color: inherit;
				flex: 0 0 rem-calc(50);
				margin-left: rem-calc(15);
				overflow-x: hidden;

				&.expanded {
					overflow-x: scroll;
					@include breakpoint(menu-break) {
						overflow-x: auto;
					}
				}

				> a {
					@include flex-row();
					align-items: center;
					color: inherit;
					font-family: inherit;
					font-style: normal;

					svg {
						color: inherit;
					}
				}

				@include breakpoint(menu-break) {
					flex: 1 0 auto;
				}

			} // li.pills

			@include breakpoint(menu-break){
				font-size: 0.875em;
			}

			span.shade {
				position: absolute;
				display: block;
				right: rem-calc(121);
				width: rem-calc(60);
				height: 100%;
				background: linear-gradient(to left, $white 0%, rgba($white, 0.8) 35%, rgba($white, 0) 100%);
			}

			> li {
				max-width: 100%;
				overflow: hidden;
				overflow-x: scroll;
				&::-webkit-scrollbar {
					width: 1px;
					height: 1px;
					display: none;
				}
				&.expanded {
					&.pills {
						flex: 1 0 100%;
					}
				}
				@include flex-row();
				color: $primary;
				@include transition-ease-in-out(500);
				transition-property: all;

				&:nth-child(1).hidden {
					display: none;
					@include breakpoint(large) {
						position: absolute;
					}
				}

				&:nth-child(1) {
					position: relative;
					border-right: solid $border-width $gray-lightest;

					a {
						font-family: "Modelica Medium";
						font-weight: normal;
						font-style: normal;
						white-space: nowrap;
					}
				}
				@include breakpoint(menu-break) {
					max-width: 100%;
					overflow: hidden;
					overflow-x: auto;
					&::-webkit-scrollbar {
						width: 1px;
						height: 1px;
						display: none;
					}
					&:nth-child(2) {
						margin-left: auto;
						display: flex;
						flex-flow: column nowrap;
						align-items: flex-end;
						@include transition-ease-in-out(500);
						transition-property: all;

						@include pills();

						> ul {
							display: none;
							&.pills {
								display: none;
							}
						}

						&.expanded {
							flex: 1 0 100%;
							> ul {
								display: flex;
								align-self: center;
								font-size: 1.15em;

								li {
									a {
										color: inherit;
									}
								}
							}
						} // &.expanded
					} // &:nth-child(2)
				} // bp: menu-break

				ul {
					@include flex-row();

					&:before {
						content: ' > ';
						display: inline-block;
						margin-left: rem-calc(40);
					}

					li {
						margin-left: rem-calc(15);

						@include breakpoint(large) {
							margin-left: rem-calc(40);
						}

						a {
							white-space: nowrap;
							font-family: "Modelica Medium";
							font-style: normal;
							color: $black;

							&:hover {
								color: $primary;
								text-decoration: underline;
							}
						}

						&.active {
							a {
								color: $primary;
							}
						}

						&.current-cat {
							a {
								color: $primary;
							}
							&.pill {
								a {
									color: inherit;
								}
							}
						}
					} // li
				} // ul
			} // > li

			form, select {
				width: rem-calc(120);
				margin-left: auto;
				margin-bottom: 0;
				border: none;
				font-size: 0.875em;

				@include breakpoint(xlarge) {
					font-size: 1em;
				}
			}

		} // ul.terms

		div.results,
		div.featured {

			article:hover {
				.entry-title {
					text-decoration: underline;
				}
			}

			> h2,
			div.field.types {
				flex: 1 0 calc(50% - 30px);
				margin: rem-calc(15) rem-calc(10);
			}

			div.field.types {
				@include flex-row();
				align-items: center;
				justify-content: flex-end;

				> label {
					flex: 0;
					white-space: nowrap;
					margin-top: rem-calc(5);
					margin-right: rem-calc(15);
				}
				> select {
					max-width: rem-calc(250);
					margin: 0;
				}
			}

			@include breakpoint(large) {
				display: flex;
				flex-flow: wrap row;
			}

			a {
				font-family: inherit;
				font-style: normal;
				color: inherit;
			}

			article {
				flex-basis: 100%;


				&.-primary {
					.entry-title {
						@extend h3;
					}
				}

				@include breakpoint(small) {
					flex-basis: calc(50% - 20px);
				}
				@include breakpoint(large) {
					margin: rem-calc(10);
					flex-basis: calc(33% - 20px);
				}
				@include breakpoint(xlarge) {
					margin: rem-calc(15);
					flex-basis: calc(25% - 30px);
				}

				footer {
					color: $gray;

					a {
						font-size: 0.875em;
					}
				}
			} // article

			&.results {
				position: relative;
				border-top: solid rem-calc(1) $gray-lightest-border;
				padding-top: rem-calc(30);
				margin: 0 rem-calc(10);
				@include breakpoint(large) {
					margin: 0 auto rem-calc(30) auto;
				}

				&.hidden { //utility class for ajax pagination
					&:after {
						@include overlay(1);
						background: rgba($white, 0.95);
					}
				}

				article {
					position: relative;
					display: flex;
					flex-flow: column nowrap;
					justify-content: flex-start;

					> div {
						position: absolute;
						left: rem-calc(15);
						top: rem-calc(10);
						z-index: 4;
					}

					figure {
						position: relative;
						margin: 0;
						border-radius: $border-radius;
						height: rem-calc(220);
						width: 100%;

						.post_thumbnail-wrap {
							height: 100%;
							border-radius: 6px;
							position: relative;
							overflow: hidden;

							&:after {
								content: '';
								display: block;
								height: 110%;
								width: 100%;
								background: rgba($black, 1);
								opacity: 0;
								position: absolute;
								@include transition-ease-in-out;
							}
						} // .post_thumbnail-wrap

						img {
							border-radius: $border-radius;
							@include cover-image();
						}
					} // figure

					header.entry-header {
						padding-top: rem-calc(10);
					}

					a:hover + figure .post_thumbnail-wrap {
							&:after {
									opacity: 0.3;
							}
					}

					footer {
						position: relative;
						z-index: 4;
						margin-top: auto;
					}

				} // article

				.oep_cpts_video [role="link"] {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
				}

			} // &.results

			&.featured {
				display: block;
				margin: rem-calc(30) 0;

				div.row {
					display: block;

					article {
						position: relative;
						min-height: rem-calc(205);
						display: flex;
						flex-flow: column wrap;

						figure {
							.post_thumbnail-wrap {
								min-height: rem-calc(205);
							}
						}

						> div {
							position: absolute;
							left: rem-calc(10);
							top: rem-calc(10);

							@include breakpoint(large) {
								position: relative;
								left: auto;
								top: auto;
							}
						}
					} // article

					&:nth-child(1){
						article {
							&:nth-child(1){
								min-height: rem-calc(205);
								header {
									margin-top: auto;
									order: 2;
								}
								footer {
									font-size: rem-calc(12);
									color: $white;
									order: 1;
									display: none;

									a, span {
										font-size: inherit;
										color: inherit;
									}
									span.posted-on {
										color: $gray-lighter;

										a {
											color: inherit;
										}
									}
								} // footer

								&:hover {
									header {
										margin-top: 0;
										order: 2;
									}
									footer {
										margin-top: auto;
										display: block;
									}
								}
							}
						}
					} // &:nth-child(1)
				} // div.row

				@include breakpoint(large) {
					div.row {
						display: flex;
						flex-flow: wrap column;
						justify-content: center;
						margin-bottom: rem-calc(30);

						&:nth-child(1) {
							height: rem-calc(495);

							article {
								min-height: rem-calc(145);
								height: rem-calc(145);

								figure {
									min-height: rem-calc(145);
									height: 100%;

									div.post_thumbnail-wrap {
										min-height: auto;
									}
								}
								header.entry-header {
									padding-top: 0;
									max-height: rem-calc(85);
									overflow: hidden;

									h4 {
										@include multiLineEllipsis(1.5em, 2);
										text-align: left;
									}
								}
								@include no-bottom-if-last();

								&:nth-child(1) {
									margin: 0 rem-calc(10) 0 rem-calc(10);
								}

								&:nth-child(2) {
									margin-top: 0;
								}
							}
						} // &:nth-child(1)

						&:nth-child(2) {
							height: rem-calc(200);
							flex-flow: nowrap row;

							article {
								height: rem-calc(200);
								flex: 1 0 calc(33% - 15px);
								width: auto;
								max-width: none;
								@include featured();
							}
						}
					} // div.row
				} // bp: large


				article {
					position: relative;
					margin: rem-calc(30) 0;

					@include breakpoint(large) {
						display: flex;
						flex-flow: column wrap;
						flex-basis: calc(33% - 12px);
						width: 41.66%;
						max-width: 41.66%;
						margin: rem-calc(10);
					}

					> header, > footer {
						@include breakpoint(large) {
							width: 66%;
							max-width: 66%;
						}
					}

					ul.pills {
						justify-content: flex-start;
					}

					figure {
						margin: 0;
					}

					> figure {
						position: relative;
						min-height: rem-calc(205);
						height: 100%;
						margin: 0;
						width: 100%;
						max-width: 100%;

						.post_thumbnail-wrap {
							height: 100%;
							border-radius: 6px;
							position: relative;
							overflow: hidden;

							&:after {
								content: '';
								display: block;
								height: 110%;
								width: 100%;
								background: rgba($black, 1);
								opacity: 0;
								position: absolute;
								@include transition-ease-in-out;
							}
						}

						img {
							border-radius: $border-radius;
							@include cover-image();
						}

						@include breakpoint(large) {
							min-height: auto;
							width: 33%;
							max-width: 33%;
							margin-right: rem-calc(20);
						}

						img {
							@include cover-image();
							border-radius: $border-radius;
						}

					} // > figure

					> span {
						display: none;
					}

					&:hover {
						figure .post_thumbnail-wrap {
							&:after {
								opacity: 0.3;
							}
						}
					}

					&:nth-child(1) {
						@include breakpoint(large) {
							width: 58.33%;
							max-width: 58.33%;
							flex: 1 0 100%;
						}
						@include featured();
					}

				} // article
			} // &.featured
		} // div.results/featured

		div.featured {
			article:first-child:hover {
				.entry-title {
					text-decoration: none;
				}
			}
		}

		//one link to rule them all
		&#main {
			article {
				> a[role=link] {
					@include overlay(3);
					width: 100%;
					height: 100%;
				}
			}
		}

	} // main

	.post_type {
		vertical-align: baseline;
		font-size: 10px;
		line-height: 1.2;
		color: $gray-lighter;
		text-transform: uppercase;
		white-space: nowrap;

		svg {
			color: $gray-lighter;
		}
	}

	/**
	 * Migration: let's try to make some stuff less specific...
	 */
	.results {

		.type-oep_cpts_event .posted-on {
			display: none;
		}

		.post_thumbnail-wrap .event_date {
			position: absolute;
			z-index: 4; // matches pills for card thumb hover
			left: rem-calc(15);
			bottom: rem-calc(16);
			box-shadow: 1px 2px 40px rgba( $black, 0.15 );
			border-radius: 6px;
			overflow: hidden;

			+ span { // kill arrow
				display: none;
			}
		}
	}

} // body. page selectors

// Block title device (icon)
.archive h2 .svg {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 15px;

	svg {
		display: block;
		width: 20px;
		height: 20px;
	}
}
