/**
 * Page: Thank You
 *
 * @since   1.0.0
 * @package oep
 */

.page-template-page-thank-you{

	.banner{
		text-align: left;
		justify-content: flex-start;
		background: linear-gradient(-46deg, #E75A22 0%, #D32F25 54%, #AF2B3E 100%);
		min-height: 100px;

		@include breakpoint (large){
			min-height: rem-calc(590);

			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 643px;
				height: 513px;
				background: url('../../assets/images/bg-thank-you.png') top right no-repeat;
				background-size: 100%;
				z-index: 1;
			}
		}

		.wrap{
			max-width: 540px;
			margin: 0 auto;
			padding: bsu(3) 0;

			@include breakpoint (large){
				margin: 0 0 0 7.5%;
				padding: 0;
			}
		}

		h1{
			font-size: rem-calc(32);
			margin-top: 0;

			@include breakpoint (large) {
				font-size: rem-calc(70);
				line-height: rem-calc(80);
				margin-bottom: bsu(1.75);
			}
		}

		h2{
			font: rem-calc(18) 'Modelica Medium';
			line-height: rem-calc(34);
		}

		img{
			display: none;
		}
	}

	.good-reads{
		margin: 0 auto;

		.text{
			text-align: center;
			max-width: 750px;
			margin: 0 auto;
			padding: bsu(1) 0;

			@include breakpoint (large){
				padding: bsu(2) 0;
			}

			p:first-of-type{
				margin-top: bsu(1);
			}
		}
	}

	.results {
		display: flex;
		flex-flow: nowrap column;

		> h3 {
			flex: 1 0 100%;
			margin: rem-calc(15) rem-calc(10);
		}

		@include breakpoint(large) {
			flex-flow: wrap row;
		}

		a {
			font-family: inherit;
			font-style: normal;
			color: inherit;
		}

		article {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			flex-basis: 100%;
			margin-bottom: bsu(1);

			h3{
				font: rem-calc(18) 'Modelica Bold';
				line-height: rem-calc(28);
			}

			@include breakpoint(small) {
				flex-basis: calc(50% - 20px);
			}
			@include breakpoint(large) {
				margin: rem-calc(10);
				flex-basis: calc(33% - 20px);
			}
			@include breakpoint(xlarge) {
				margin: rem-calc(15);
				flex-basis: calc(25% - 30px);
			}

			> div {
				position: absolute;
				left: rem-calc(10);
				top: rem-calc(10);
				z-index: 4;
			}

			a[role=link] {
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				left: 0;
				z-index: 1;
			}


			figure {
				position: relative;
				margin: 0;
				border-radius: $border-radius;
				height: rem-calc(220);
				width: 100%;

				.post_thumbnail-wrap {
					height: 100%;
					border-radius: 6px;
					position: relative;
					overflow: hidden;

					&:after {
						content: '';
						display: block;
						height: 110%;
						width: 100%;
						background: rgba($black, 1);
						opacity: 0;
						position: absolute;
						@include transition-ease-in-out;
					}
				}

				img {
					border-radius: $border-radius;
					@include cover-image();
				}
			}

			footer {
				color: $gray;
				position: relative;
				z-index: 4;
				margin-top: auto;

				a {
					font-size: 0.875em;
				}
			}
		}
	}
}
