/**
 * Page: Video Single
 *
 * @since   1.0.0
 * @package oep
 */

.single-oep_cpts_video{

	[role="main"]{

		@include breakpoint (large){
			margin-top: rem-calc(104);
		}
	}

	//style tag pills
	.pills{
		display: inline-flex;
		justify-content: flex-start;
	}

	//style video content type tag
	.content-type{
		display: inline;
		color: $gray-lighter;

		svg{
			font-size: rem-calc(10);
		}

		p{
			display: inline;
			font: bold rem-calc(10) 'Modelica Bold';
			line-height: rem-calc(12);
			text-transform: uppercase;
		}
	}

	//style date and author
	.entry-meta p{
		margin: bsu(.5) 0;

		@include breakpoint (large){
			margin: bsu(1) 0;
		}
	}

	.date{
		font: bold rem-calc(14) 'Modelica Bold';
		text-transform: uppercase;
		color: $gray-lighter;
	}

	.byline .author.--video{

		.author_name, .author_title{
			font: italic rem-calc(18) $font-serif;
			color: $black;
		}

		a{
			text-decoration: underline;
		}
	}

	//responsive video styles
	.entry-content-asset{
		@include responsive-embed-container;
	}
}
